/* ==UserStyle==
@name           Tumblr – Custom Dashboard Palette
@namespace      github.com/paw/tumblr-custom-palette-userstyle
@version        0.4.9
@description    `Set custom colors for your Tumblr dashboard.`
@author         github.com/paw
@updateURL      https://github.com/paw/tumblr-custom-palette-userstyle/raw/main/tumblr-custom-dash-palette.user.css

@advanced dropdown font "Font Family" {
font1 "Default (Favorit)" <<<EOT "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif EOT;
font7 "Custom" <<<EOT var(--custom-font) EOT;
font2 "Arial" <<<EOT arial, sans-serif EOT;
font3 "Verdana" <<<EOT Verdana, Geneva, Tahoma, sans-serif EOT;
font4 "Helvetica" <<<EOT 'Helvetica Neue', Arial, Helvetica, sans-serif EOT;
font5 "Monospace" <<<EOT monospace EOT;
font6 "Cursive" <<<EOT cursive EOT;
font8 "1785 Baskerville" <<<EOT '1785 GLC Baskerville', serif EOT;
font9 "Arquitecta" <<<EOT 'Arquitecta', sans-serif EOT;
font10 "Alternate Gothic" <<<EOT 'Alternate Gothic', sans-serif EOT;
font11 "Avalon" <<<EOT 'Avalon', sans-serif EOT;
font12 "Bookmania" <<<EOT 'Bookmania', serif EOT;
font13 "Brutal Type" <<<EOT 'Brutal Type', serif EOT;
font14 "Calluna" <<<EOT 'Calluna', serif EOT;
font15 "Calluna Sans" <<<EOT 'Calluna Sans', sans-serif EOT;
font16 "Capita" <<<EOT 'Capita', serif EOT;
font17 "Clarendon" <<<EOT 'Clarendon Text Pro', serif EOT;
font18 "Clearface" <<<EOT 'Clearface FS', serif EOT;
font19 "Fang Song" <<<EOT 'FangSong', 'STFangsong', sans-serif EOT;
font20 "Garamond" <<<EOT 'Garamond Classic FS', serif EOT;
font21 "Georgia" <<<EOT Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman' serif EOT;
font22 "Gibson" <<<EOT 'Gibson', sans-serif EOT;
font23 "Grumpy" <<<EOT 'Grumpy Black 48', serif EOT;
font24 "Kaiti" <<<EOT 'Kaiti TC', 'KaiTi', sans-serif EOT;
font25 "Lorimer No 2" <<<EOT 'Lorimer No 2', sans-serif EOT;
font26 "Lucida Sans" <<<EOT 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif EOT;
font27 "News Gothic" <<<EOT 'News Gothic FS', sans-serif EOT;
font28 "Pratt Pro" <<<EOT 'Pratt Pro', serif EOT;
font29 "Quadrat" <<<EOT 'Quadrat', serif EOT;
font30 "Sim Hei" <<<EOT 'SimHei', 'STHeiti', sans-serif EOT;
font31 "Sofia Pro" <<<EOT 'Sofia Pro', sans-serif EOT;
font32 "Square Serif" <<<EOT 'Square Serif', serif EOT;
font33 "Typewriter" <<<EOT 'Typewriter FS', serif EOT;
}

@advanced text customfont "Custom Font (Select 'Custom' Above)" "OpenDyslexic"
@advanced range fontsize "Main Font Size" [16, 10, 30, 0.5, 'px']
@advanced range menufontsize "Menu Font Size" [16, 10, 30, 0.5, 'px']

@advanced text bgimage "Custom Background Image URL (Must include https://)" "https://assets.tumblr.com/images/x.gif"
@advanced dropdown bgpos "Background Position" {
bgpos1 "Center" <<<EOT center EOT;
bgpos2 "Top Left" <<<EOT top left EOT;
bgpos3 "Top Right" <<<EOT top right EOT;
bgpos4 "Bottom Left" <<<EOT bottom left EOT;
bgpos5 "Bottom Right" <<<EOT bottom right EOT;
}
@advanced dropdown bgrepeat "Background Repeat" {
bgrepeat1 "Repeat" <<<EOT repeat EOT;
bgrepeat2 "Repeat Vertically" <<<EOT repeat-y EOT;
bgrepeat3 "Repeat Horizontally" <<<EOT repeat-x EOT;
bgrepeat4 "Don't Repeat" <<<EOT no-repeat EOT;
}
@advanced dropdown bgsize "Background Size" {
bgsize1 "Cover" <<<EOT cover EOT;
bgsize2 "Auto" <<<EOT auto EOT;
}
@advanced dropdown bgasidefix "Layout Fixes for Custom Backgrounds" {
bgasidefix2 "Disable" <<<EOT  EOT;
bgasidefix1 "Enable" <<<EOT 
    /*fix layering issues caused by pseudo element bgs,
    2nd is for likes page*\/
    body#tumblr main,
    body#tumblr .lSyOz > .NLCTe {
        position: relative;
        z-index: 3;
    }
    body#tumblr aside > div {
        border-radius: 3px;
    }
    /*following recommendation list el*\/
    body#tumblr aside ul.PwJi6 {
        width: 100%;
        padding: 0em;
        box-sizing: border-box;
    }
    /*fix hover background for recommended blogs to include the dismiss icon in the bg color *\/
    body#tumblr aside .PwJi6 .Ut4iZ:not(.veU9u):focus-within,
    body#tumblr aside .PwJi6 .Ut4iZ:not(.veU9u):hover {
        background: transparent;
    }
    body#tumblr aside .PwJi6 button[aria-label="Follow"] > .f68ED {
        margin-right: 0;
    }
    body#tumblr aside .PwJi6 .kqme1:hover,
    body#tumblr aside .PwJi6 .kqme1:focus-within {
        background-color: rgba(var(--white-on-dark),.07);
    }
    /*pseudoelement bg added to:
    tagged page sidebar divs (.ZN143),
    explore page (.sM_HY),
    'follow some tags' msg (.ze1ym),
    followed tags div (.D3Fsg),
    sidebar lists,
    new search page divs (.MV1bs) *\/
    body#tumblr aside ._3RuXz,
    body#tumblr aside .ZN143,
    body#tumblr aside .sM_HY,
    body#tumblr aside .ze1ym,
    body#tumblr aside .D3Fsg,
    body#tumblr aside ul,
    body#tumblr aside .MV1bs {
        position: relative;
        z-index: 2;
    }
    body#tumblr aside ._3RuXz::before,
    body#tumblr aside .ZN143::before,
    body#tumblr aside .sM_HY::before,
    body#tumblr aside .ze1ym::before,
    body#tumblr aside .D3Fsg::before,
    body#tumblr aside ul::before,
    body#tumblr aside .MV1bs::before {
        content: '';
        top: 0; left: 0;
        width: 100%; height: 100%;
        border-radius: 3px;
        position: absolute;
        z-index: -1;
        background: rgb(var(--white));
    }
    /*  1. follower header (main.FdbiI > .qF_aN)
        2. activity page bg (.gPQR5 > .lSyOz > .usqcu)
        3. explore page header (.gPQR5.FGfuE .EHHOR > .p4DiZ)
        4. tagged page header (.gPQR5 > .lSyOz > .p4DiZ)
        5. inline headers on dash for recommendations (.So6RQ .HphhS)
        6. Likes page header (.lSyOz > .NLCTe > .KyK5m)
        7. 'explore all of tumblr' link (a.I_SFh)
        8. 'show more blogs' on tagged pages (aside button[aria-label="Show more blogs"])
        9. your favorite blogs header (body#tumblr aside .BUJbj + span.ou0Pr)
        10. account settings sidebar sections (.gPQR5 > .e1knl > .FZkjV)
        11. Post+ Header (label._tfCg)
    *\/
    body#tumblr main.FdbiI > .qF_aN,
    body#tumblr .gPQR5 > .lSyOz > .usqcu,
    body#tumblr .gPQR5.FGfuE .EHHOR > .p4DiZ,
    body#tumblr .gPQR5 > .lSyOz > .p4DiZ,
    body#tumblr .So6RQ .HphhS,
    body#tumblr .lSyOz > .NLCTe > .KyK5m,
    body#tumblr aside > div > a.I_SFh,
    body#tumblr aside button[aria-label="Show more blogs"],
    body#tumblr aside .BUJbj + span.ou0Pr,
    body#tumblr .gPQR5 > .e1knl > .FZkjV,
    body#tumblr label._tfCg {
        background: rgb(var(--navy));
        padding: 0.2em;
        border-radius: 3px;
    }
    /*radar remove spacing between post and header*\/
    body#tumblr aside > div > h1 + .Q55_h {
        margin-top: 0;
    }
    /*radar fix border-radius*\/
    body#tumblr aside > div > h1 + .Q55_h article {
        border-radius: 0 0 3px 3px;
    }
    /* following page add bg to h1 *\/
    body#tumblr main.rmkqO > h1.IiZ2z {
        background: rgb(var(--navy));
        padding: 0.2em 0.5em 10px 0.5em;
        border-radius: 3px 3px 0 0;
        margin: 0;
    }
    /* following page add bg to form *\/
    body#tumblr main.rmkqO > h1 + form.Il4T7 {
        background: rgb(var(--navy));
        padding: 10px 0.5em;
        border-radius: 0 0 3px 3px;
        margin: 0;
    }
    /*old search page header add bg*\/
    body#tumblr .D5eCV > .hlDot /*header*\/ + .qzSws /*grid search page header*\/
    {
        z-index: 1;
        position: relative;
        margin-bottom: 1em;
    }
    body#tumblr .D5eCV > .hlDot /*header*\/ + .qzSws::after /*grid search page header*\/
    {
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        background: rgb(var(--navy));
        margin: auto;
        z-index: -1;
        border-radius: 0 0 3px 3px;
    }
    /*new search header add bg*\/
    body#tumblr .gPQR5.QVP1P > .lSyOz > .eCMVP {
        background: rgb(var(--navy));
        margin-bottom: 0;
        padding: 0.5em 0.5em 20px 0.5em;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        position: relative;
        z-index: 5;
    }
    /*new search tags n stuff add bg*\/
    body#tumblr .gPQR5.QVP1P > .lSyOz > .TVEoH {
        margin-bottom: 10px;
        padding: 5px 10px 10px;
        background: rgb(var(--navy));
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        position: relative;
        z-index: 5;
    }
    /*new search remove semi transparent bg*\/
    body#tumblr aside .MV1bs {
        background: transparent;
    }
    /*old search page options add bg*\/
    body#tumblr .D5eCV .rXEMH > .AnRoZ {
        background: rgb(var(--navy));
        padding: 0.3em;
        line-height: 100%;
        border-radius: 3px;
    }
    /*explore page + tagged page header padding fix*\/
    body#tumblr ._1B3jZ > ._31IOu, body#tumblr .gPQR5 > .lSyOz> ._31IOu {
        padding: 0 0.5em 0 0;
    }
    /*inline heading padding fix*\/
    body#tumblr .So6RQ ._3SGfw {
        padding: 0.2em 0.5em;
    }
    /*sidebar h1s*\/
    body#tumblr aside h1.hF8Wr,
    body#tumblr aside div.uJiXu  {
        background: rgb(var(--navy));
        padding: 0.2em;
        border-radius: 3px 3px 0 0;
    }
    /*border radius fix for divs and uls after sidebar h1s*\/
    body#tumblr aside h1.hF8Wr + div::before,
    body#tumblr aside h1.hF8Wr + ul::before,
    body#tumblr aside div.uJiXu + ul.PwJi6 {
        border-radius: 0 0 3px 3px
    }
    /*explore all of tumblr links restyling*\/
    body#tumblr aside > div > a.I_SFh, body#tumblr aside > div > div > div button[aria-label="Show more blogs"] {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    /*answertime container link fix*\/
    body#tumblr .j8ha0 > div > .So6RQ:not([data-id]):first-child .ge_yK {
        background: RGB(var(--navy));
        border-radius: 6px;
        overflow: hidden;
    }
    /*docked post fix overlay bg*\/
    body#tumblr .GDWdm {
        background: rgb(var(--navy)) var(--custom-bg);
        background-attachment: fixed;
        background-position: var(--bg-position);
        background-size: var(--bg-size);
        background-repeat: var(--bg-repeat);
        z-index: 98;
    }
    /*docked post fix z-index*\/
    body#tumblr .h1D5S.MsxAB {
        z-index:99;
    }
    /*queue bg fix*\/
    body#tumblr .R0TWs {
        background: rgba(var(--navy),0.92);
        color: rgba(var(--white-on-dark),1);
    }
    /*fix new blog peepr dropdown menu z-index*\/
    #glass-container .u2YPL.wFAw8 {
        z-index: 4;
    }
    /*fix new blog peepr search z-index*\/
    #glass-container div[data-testid="searchWrapper"] {
    z-index: 5;
    }
    EOT;
}

@advanced color navy "Background Color" #36465d
@advanced color white "Posts Color" #ffffff
@advanced color black "Font Color" #444444
@advanced color accent "Primary Accent & Links Color" #529ecc
@advanced color linkhover "Link Hover Color" #14518e
@advanced color secondary "Settings Menu Hover BG Color" #f0f8ff
@advanced color whiteondark "Secondary Accent" #b9b9b9
@advanced color tertiary "Top Bar BG Color" #14263e
@advanced color quaternary "Top Bar Icon Color" #ffffff
@advanced color follow "Notifications From Followed Blogs BG Color" #e7f7e9
@advanced color modal "Modal BG" #050e1e

@advanced color red "Red" #FF492F
@advanced color orange "Orange" #FF8A00
@advanced color yellow "Yellow" #E8D738
@advanced color green "Green" #00CF35
@advanced color blue "Blue" #00B8FF
@advanced color purple "Purple" #7C5CFF
@advanced color pink "Pink" #FF62CE
@advanced color blacktext "Black" #000000

@advanced dropdown editorsize "Post Editor Controls Scaling" {
editorsize1 "1x" <<<EOT 1 EOT;
editorsize2 "1.1x" <<<EOT 1.1 EOT;
editorsize3 "1.2x" <<<EOT 1.2 EOT;
editorsize4 "1.3x" <<<EOT 1.3 EOT;
editorsize5 "1.4x" <<<EOT 1.4 EOT;
}

@advanced dropdown jumpbtn '"Now, where were we?" Button '{
jumpbtn1 "Show" <<<EOT  EOT;
jumpbtn2 "Hide" <<<EOT
    main > div > button[aria-label="Restore timeline to what it was when you last viewed it"] {
        display: none !important;
    }
EOT;
}

@advanced dropdown oldfooter 'Old post footer styling'{
oldfooter1 "Enabled" <<<EOT 
/*footer*\/
body#tumblr footer.tOKgq.G6mnk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--post-padding) var(--post-padding);
}
/*footer - all children have equal padding*\/
body#tumblr footer.tOKgq.G6mnk > * {
    padding: 5px 0;
}
/*footer - notes container*\/
body#tumblr footer.tOKgq.G6mnk .gstmW {
    display: inline-flex;
}
/*footer - post controls*\/
body#tumblr .G6mnk .MCavR {
    justify-content: flex-end;
    margin: 0 0 0 auto;
    border-top: none;
    display: inline-flex;
    padding: 5px 0;
}
/*footer - even post controls buttons margins + fix xkit quick tags margin*\/
body#tumblr .G6mnk .MCavR .sfGru, .MCavR .xkit-quick-tags-button {
    margin: 0 12px;
}
/*footer - remove unnecessary right padding on last post control button*\/
body#tumblr .G6mnk .MCavR .sfGru:last-child {
    margin-right: 0;
}
EOT;
oldfooter2 "Disabled" <<<EOT  EOT;
}

@advanced dropdown followlabel "Follow/Unfollow Labels" {
followlabel1 "Hide" <<<EOT 
    /*hide follow button, .TRX6J main line 42*\/
    body#tumblr article button.TRX6J[aria-label="Follow"], body#tumblr article button.TRX6J[aria-label="Unfollow"] {
        display: none
    } EOT;
followlabel2 "Show" <<<EOT  EOT;
}

@advanced dropdown radar "Radar" {
radar1 "Show" <<<EOT  EOT;
radar2 "Hide" <<<EOT 
    /*hide radar*\/
    body#tumblr aside .FZkjV:nth-child(2) {
        display: none;
    } EOT;
}

@advanced dropdown peepr "Blog View On Dashboard Colors" {
peepr1 "Override All Colors" <<<EOT 

body#tumblr #glass-container .DCCfo.kXP4L,
body#tumblr #glass-container .xm3hr.KwKKC.u10SL.raBdW,
body#tumblr .D5eCV > .RkANE > .DCCfo.Hmu5M /*blog view in separate tab*\/ {
        --white: /*[[white-rgb]]*\/ !important;
        --color-title: /*[[whiteondark]]*\/ !important;
        --color-text: /*[[whiteondark]]*\/ !important;
        --blog-text-color: /*[[black]]*\/ !important;
        --white-on-dark: /*[[whiteondark-rgb]]*\/ !important;
        --black: /*[[black-rgb]]*\/ !important; 
        --blog-title-color: /*[[black]]*\/ !important;
        
        --color-modal-close-button-background: /*[[navy]]*\/ !important;
        --color-modal-close-button: /*[[whiteondark]]*\/ !important;

        
        --custom-bg: url(/*[[bgimage]]*\/) !important;
        --bg-position: /*[[bgpos]]*\/ !important;
        --bg-repeat: /*[[bgrepeat]]*\/ !important;
        --bg-size: /*[[bgsize]]*\/ !important;

        --font-family: /*[[font]]*\/ !important;
        --custom-font: /*[[customfont]]*\/ !important;
        --base-font-size: /*[[fontsize]]*\/ !important;
        --menu-font-size: /*[[menufontsize]]*\/ !important;

        --blacktext: /*[[blacktext-rgb]]*\/ !important; 
        --red: /*[[red-rgb]]*\/ !important;
        --orange: /*[[orange-rgb]]*\/ !important;
        --yellow: /*[[yellow-rgb]]*\/ !important;
        --green: /*[[green-rgb]]*\/ !important;
        --blue: /*[[blue-rgb]]*\/ !important;
        --purple: /*[[purple-rgb]]*\/ !important;
        --pink: /*[[pink-rgb]]*\/ !important;

        --navy: /*[[navy-rgb]]*\/ !important;
        --color-bluespace-background: /*[[navy]]*\/ !important;
        --color-bluespace-card-background: /*[[navy]]*\/ !important;
        --blog-background-color: /*[[navy]]*\/ !important;
        --accent: /*[[accent-rgb]]*\/ !important; 
        --secondary-accent: /*[[secondary-rgb]]*\/ !important; 
        --blog-link-color: /*[[whiteondark]]*\/ !important;
        --blog-link-color-40: rgba(/*[[whiteondark-rgb]]*\/,.4) !important;
        --color-primary-link: /*[[whiteondark]]*\/ !important;
        --blog-link-color-15: rgba(/*[[whiteondark-rgb]]*\/, 0.15) !important;
        --blog-search-background-color: rgba(/*[[whiteondark-rgb]]*\/, 0.15) !important;

        --link-hover: /*[[linkhover-rgb]]*\/ !important; 
        --tertiary-accent: /*[[tertiary-rgb]]*\/ !important; 
        --quaternary-accent: /*[[quaternary-rgb]]*\/ !important; 

        background: rgb(var(--navy)) var(--custom-bg);
        background-attachment: fixed;
        background-position: var(--bg-position);
        background-size: var(--bg-size);
        background-repeat: var(--bg-repeat);
    }
    
    /*recolor search*\/
    #glass-container div[data-testid="searchWrapper"] input[aria-label="Search"] {
        color: var(--blog-text-color) !important;
    }
    #glass-container div[data-testid="searchWrapper"] button[aria-label="Filter"] .EvhBA > svg,
    #glass-container div[data-testid="searchWrapper"] button[aria-label="Collapse search"] .EvhBA > svg {
        fill: var(--blog-text-color) !important;
    }
    /*blog view in separate tab replace semi-transparent white with semi-transparent bg color*\/
    body#tumblr .D5eCV > .RkANE > .DCCfo > .pKQCB {
        background: rgba(var(--navy), 0.2);
        border-radius: 5px;
    }
    /*blog view in modal replace semi-transparent white with semi-transparent bg color*\/
    #glass-container .DCCfo.kXP4L > .pKQCB {
        background: rgba(var(--navy),0.2);
    }

EOT;
peepr2 "Override Posts Only" <<<EOT 
    body#tumblr #glass-container .DCCfo.kXP4L,
    body#tumblr #glass-container .xm3hr.KwKKC.u10SL.raBdW,
    body#tumblr .D5eCV > .RkANE > .DCCfo.Hmu5M /*blog view in separate tab*\/ {
        --white: /*[[white-rgb]]*\/ !important;
        --white-on-dark: /*[[whiteondark-rgb]]*\/ !important;
        --black: /*[[black-rgb]]*\/ !important; 
        
        --color-modal-close-button-background: /*[[navy]]*\/ !important;
        --color-modal-close-button: /*[[whiteondark]]*\/ !important;

        --font-family: /*[[font]]*\/ !important;
        --custom-font: /*[[customfont]]*\/ !important;
        --base-font-size: /*[[fontsize]]*\/ !important;
        --menu-font-size: /*[[menufontsize]]*\/ !important;

        --blacktext: /*[[blacktext-rgb]]*\/ !important;
        --red: /*[[red-rgb]]*\/ !important;
        --orange: /*[[orange-rgb]]*\/ !important;
        --yellow: /*[[yellow-rgb]]*\/ !important;
        --green: /*[[green-rgb]]*\/ !important;
        --blue: /*[[blue-rgb]]*\/ !important;
        --purple: /*[[purple-rgb]]*\/ !important;
        --pink: /*[[pink-rgb]]*\/ !important;

        --navy: /*[[navy-rgb]]*\/ !important;
        --accent: /*[[accent-rgb]]*\/ !important; 
        --secondary-accent: /*[[secondary-rgb]]*\/ !important; 

        --link-hover: /*[[linkhover-rgb]]*\/ !important; 
        --tertiary-accent: /*[[tertiary-rgb]]*\/ !important; 
        --quaternary-accent: /*[[quaternary-rgb]]*\/ !important;
    } EOT;
peepr3 "Default" <<<EOT  EOT;
}

@advanced dropdown postplus "Post+ Links In Blog Information" {
postplus1 "Hide" <<<EOT 
    /*hide post plus buttons*\/
    body#tumblr .PsDsm .kbIQf li a[href*="/post-plus"],
    body#tumblr aside.Vt7qF li.LmLMT  {
        display: none;
    } EOT;
postplus2 "Show" <<<EOT  EOT;
}

@advanced dropdown adfree "AdFree Button" {
adfree1 "Hide" <<<EOT 
    /*hide adfree button*\/
    body#tumblr .PsDsm .noQqZ.rCo6i li a[href*="/ad-free-browsing"] {
        display: none;
    } EOT;
adfree2 "Show" <<<EOT  EOT;
}

@advanced dropdown sidebarblogs "Sidebar Blog Recommendations" {
sidebarblogs1 "Hide" <<<EOT 
    /*hide suggested blogs in sidebar while still showing blog stats*\/
    body#tumblr aside .FZkjV:nth-child(1) > *:not(aside) {
        display: none;
    }
    body#tumblr aside .FZkjV:nth-child(1) aside {
        margin-bottom: 38px;
    }
    body#tumblr aside .FZkjV:nth-child(1) {
        margin-bottom: 0;
    } EOT;
sidebarblogs2 "Show" <<<EOT  EOT;
}
@advanced dropdown inlinesuggest "Inline Recommendations" {
inlinesuggest2 "Hide" <<<EOT 
    /*hide inline recommendations.
        1. blog recommendations
        2. headers for the recommendations + 'youre caught up, check these out' header
        3. 'youre caught up, check these out' content
        4. tag recommedations on /tagged/ pages
        5. bonecoin ad / answertime link
    *\/
    body#tumblr .So6RQ > .ge_yK > .H14Pr.kDCXR,
    body#tumblr .So6RQ > .ge_yK > .HphhS,
    body#tumblr .So6RQ > .ge_yK > .Oii0L.kDCXR,
    body#tumblr .So6RQ > .ge_yK > .sKf2H > .luqhx > ._3fYLM,
    body#tumblr .j8ha0 > div > .So6RQ:not([data-id]):first-child .ge_yK {
        display: none !important;
    } EOT;
inlinesuggest1 "Show" <<<EOT  EOT;
}
@advanced dropdown modalsuggest "Modal Recommendations" {
modalsuggest1 "Show" <<<EOT  EOT;
modalsuggest2 "Hide" <<<EOT 
    /*hide modal recommendations *\/
    body#tumblr #glass-container .LaNhI {
        display: none !important;
    }
    body#tumblr #glass-container .GHloH:not(.N8SnF) {
        margin-top: 0;
    }
    /*fix modal padding when recommendations are hidden*\/
    body#tumblr #glass-container .yPZfR:not(.xGwgY) {
        height: auto;
        margin-top: auto;
    }
    /*hide padding under modal reccomendations*\/
    body#tumblr #glass-container .GHloH:not(.N8SnF) > .j8GND {
        display: none;
    } EOT;
}

@advanced dropdown compactblockedpost "Compact Filtered Posts" {
compactblockedpost1 "Disable" <<<EOT  EOT;
compactblockedpost2 "Enable" <<<EOT 
    /*Compact blocked posts*\/
    body#tumblr .So6RQ[data-id] .W0ros { /*container for filtered post*\/
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--post-padding);
    }
    body#tumblr .So6RQ[data-id] .W0ros > a { /*blacklisted tags*\/
        margin: 0 0.5em 0 0;
        max-width: 100%;
        flex: 0 0 calc(70% - 0.5em);
        word-wrap: break-word;
        white-space: normal;
    }
    body#tumblr .So6RQ[data-id] .W0ros > a::before { /*shorter label *\/
        content: 'Filtered Tags:';
        padding-right: 0.5em;
        color: rgb(var(--black)) !important;
    }
    body#tumblr .So6RQ[data-id] .W0ros .TRX6J { /*view post button*\/
        margin-left: 0;
        flex: 0 0 30%;
    }
    body#tumblr .So6RQ[data-id] .W0ros .TRX6J .NQQC8 {
        margin-top: 0;
    }
    /*'This post contains filtered tags.'*\/
    [data-id] .W0ros > p {
        display: none;
    } EOT;
}

==/UserStyle== */


@-moz-document regexp("(http|https)://www\\.tumblr\\.com.*") {
    :root {
        --white: /*[[white-rgb]]*/; /*post bg*/
        --white-on-dark: /*[[whiteondark-rgb]]*/;
        --black: /*[[black-rgb]]*/; /*font color*/
        
        --custom-bg: url(/*[[bgimage]]*/);
        --bg-position: /*[[bgpos]]*/;
        --bg-repeat: /*[[bgrepeat]]*/;
        --bg-size: /*[[bgsize]]*/;

        --font-family: /*[[font]]*/;
        --custom-font: /*[[customfont]]*/;
        --base-font-size: /*[[fontsize]]*/;
        --menu-font-size: /*[[menufontsize]]*/;

        --blacktext: /*[[blacktext-rgb]]*/; /*changes black font in post*/
        --red: /*[[red-rgb]]*/;
        --orange: /*[[orange-rgb]]*/;
        --yellow: /*[[yellow-rgb]]*/;
        --green: /*[[green-rgb]]*/;
        --blue: /*[[blue-rgb]]*/;
        --purple: /*[[purple-rgb]]*/;
        --pink: /*[[pink-rgb]]*/;

        --navy: /*[[navy-rgb]]*/; /* body background */
        --accent: /*[[accent-rgb]]*/; /* links, buttons on top */
        --secondary-accent: /*[[secondary-rgb]]*/; /*secondary accent */
        --link-hover: /*[[linkhover-rgb]]*/; /*link hover color */
        --tertiary-accent: /*[[tertiary-rgb]]*/; /*top bar bg */
        --quaternary-accent: /*[[quaternary-rgb]]*/; /*top bar buttons */

        --post-controls-scale: /*[[editorsize]]*/;
        --modal: /*[[modal-rgb]]*/;
        --follow: /*[[follow-rgb]]*/; /*notifications from followers*/
    }
    
    /*custom background  */
    body#tumblr .D5eCV {
        background: rgb(var(--navy)) var(--custom-bg);
        background-attachment: fixed;
        background-position: var(--bg-position);
        background-size: var(--bg-size);
        background-repeat: var(--bg-repeat);
    }
    /*change bg color of top bar - NOT the header, but its parent */
    body#tumblr div.hlDot {
        background-color: rgb(var(--tertiary-accent))
    }
	/*top bar svg icons color */
    body#tumblr .KTRcB .TRX6J .PK7qG > svg {
        fill: rgb(var(--quaternary-accent))
    }
    /*account settings popover icon color*/
    body#tumblr .hlDot ul.noQqZ.rCo6i svg {
        fill: rgb(var(--accent))
    }
    body#tumblr .hlDot ul.noQqZ.rCo6i li:hover svg,
    body#tumblr .hlDot ul.noQqZ.rCo6i li:focus-within svg {
        fill: rgb(var(--link-hover))
    }
    /*1. account settings headers bg
      2. messaging header bg
      3. activity header bg
    */
    body#tumblr .hlDot .l463r::before,
    body#tumblr .hlDot .mBa_9,
    body#tumblr .hlDot .jBtpD header {
        background: rgb(var(--tertiary-accent));
    }
    /*1. account settings popover h3 title
      2. messaging selected blog name
      3. activity selected blog name
    */
    body#tumblr .hlDot .l463r h3,
    body#tumblr .hlDot .lHc1y .gcKSf {
        color: rgb(var(--quaternary-accent));
        font-weight: bold;
    }
    /*activity selected blog name*/
    body#tumblr .hlDot .jBtpD header .gcKSf {
        color: rgb(var(--quaternary-accent)) !important;
        font-weight: bold;
    }
    /*account settings popover subtitle links + new message button*/
    body#tumblr .hlDot .l463r .Oyvhq,
    body#tumblr .hlDot button[aria-label="New Message"] span {
        color: rgba(var(--white-on-dark),1);
    }
    /*account messaging popover chevron*/
    body#tumblr .hlDot .gcKSf + svg{
        fill: rgba(var(--white-on-dark),1);
    }
    /*account notifs popover activity graph*/
    body#tumblr .hlDot .jBtpD header a[aria-label="Go to selected blog's activity page"] svg path {
        stroke: rgba(var(--white-on-dark),1);
    }
    
    /*in posts: reblog symbol & options menu dots */
    body#tumblr .jOhmG svg {
        fill: rgb(var(--black))
    }
    body#tumblr article button[aria-label="More options"] svg {
        fill: rgb(var(--link-hover))
    }
    /*link colors
        1. general
        2. main article header links
        3. reblog chain usernames
        4. links in post editor
    */
    body#tumblr article a,
    body#tumblr article header .BSUG4,
    body#tumblr a.BSUG4 .sqHC2,
    body#tumblr .DraftEditor-root a,
    body#tumblr .ZjULs ._3HknS ._3ihyI._3afMY {
        color: rgba(var(--accent),1)
    }
    body#tumblr article a:hover,
    body#tumblr article a:focus,
    body#tumblr a.BSUG4:hover .sqHC2,
    body#tumblr a.BSUG4:focus .sqHC2,
    body#tumblr .DraftEditor-root a:hover,
    body#tumblr .DraftEditor-root a:focus {
        color: rgba(var(--link-hover),1);
    }
    /*post options menu header prevent changing color */
    body#tumblr a.X1uIE.XOf8k.qYCWv.v_1X3:hover, body#tumblr a.X1uIE.XOf8k.qYCWv.v_1X3:focus {
        background: rgba(var(--link-hover),0.2);
    }
    /*post options menu fix color of report + block buttons */
    body#tumblr .X1uIE.XLZRW.v_1X3 { /*report + block button */
        color: RGB(var(--red)) !important;
    }
    body#tumblr .X1uIE.XLZRW.v_1X3:hover, body#tumblr .X1uIE.XLZRW.v_1X3:focus {
        color: rgb(var(--red)) !important;
        background-color: rgba(var(--red), 0.2) !important;
    }
    /*fix tag focus color*/
    body#tumblr .hAFp3 a.KSDLH:focus {
        color: rgb(var(--white)) !important;
    }
    /*fixing header sizes, 2nd is post editor*/
    body#tumblr article h1, body#tumblr .DraftEditor-root h1 {
        font-size: 1.625em;
        line-height: 1.3em;
    }
    body#tumblr article h2, body#tumblr .DraftEditor-root h2 {
        font-size: 1.25em;
        line-height: 1.3em;
        font-family: var(--font-family);
    }
    
    /*follow button styling
    2. recommended blogs in sidebar (.f68ED)
    3. follow tag button in new page sidebar (.MV1bs .hc4QI a)
    4. follow blog button in new page sidebar (.MV1bs button) */
    body#tumblr article .f68ED,
    body#tumblr aside .PwJi6 button[aria-label="Follow"] .f68ED,
    body#tumblr aside .MV1bs .u8J1W .hc4QI a,
    body#tumblr aside .MV1bs button[aria-label="Follow"] .f68ED {
        font-size: 0.8em;
        font-weight: bold;
        background-color: rgba(var(--black),0.4);
        padding: 2px 8px;
        border-radius: 2px;
        color: rgb(var(--white)) !important;
        vertical-align: middle;
    }
    /*text alignment fix for new search page follow blog button */
    body#tumblr aside .MV1bs button[aria-label="Follow"] .f68ED {
        text-align: center;
    }
    body#tumblr article .f68ED:hover,
    body#tumblr article .f68ED:focus,
    body#tumblr aside .PwJi6 button[aria-label="Follow"] .f68ED:hover,
    body#tumblr aside .PwJi6 button[aria-label="Follow"] .f68ED:focus,
    body#tumblr aside .u8J1W .hc4QI a:hover,
    body#tumblr aside .u8J1W .hc4QI a:focus,
    body#tumblr aside .MV1bs button[aria-label="Follow"] .f68ED:hover,
    body#tumblr aside .MV1bs button[aria-label="Follow"] .f68ED:focus {
        text-decoration: none !important;
        color: rgb(var(--white)) !important;
        background-color: rgb(var(--green));
    }
    body#tumblr aside .PwJi6 .SbeG8 {
        padding-right: 0;
    }
    body#tumblr article .f68ED {
        display: inline-block;
    }

    /*permalink post corner*/
    body#tumblr .BjErQ .jk63e {
        background-color: rgba(var(--accent),1)
    }
    
    /*[[peepr]]*/
    
    /*[[followlabel]]*/
    
    /*[[sidebarblogs]]*/
    
    /*hide sponsored posts in sidebar*/
    body#tumblr aside .ohi9S .Yc2Sp {
        display: none;
    }
    
    /*[[inlinesuggest]]*/
    
    /*[[modalsuggest]]*/
    
    /*[[radar]]*/

    /*[[postplus]]*/
    
    /*[[adfree]]*/
    
    /*[[bgasidefix]]*/
    
    /*[[compactblockedpost]]*/
    
    /*[[jumpbtn]]*/
    
    /*[[oldfooter]]*/
    
    /*modal bg color*/
    body#tumblr button.SaLOl span.ZUy1d, body#tumblr .SaLOl[tabindex="-1"] {
        background-color: rgba(var(--modal), 0.95) !important;
    }
    /*modal suggestions slight fix*/
    body#tumblr #glass-container .GHloH:not(.N8SnF) .LaNhI > .hyiL2 {
        margin-bottom: 10px;
    }
    body#tumblr #glass-container .GHloH:not(.N8SnF) .LaNhI > .hyiL2 .USr9U > div {
        margin-bottom: 20px;
    }

    /*popover & on-dashboard blog fixes */
    /*popover usernames + header container*/
    body#tumblr .XP0zm .rTiqc .mUv9w .qwIYc,
    body#tumblr header.rTiqc,
    body#tumblr .AzqQv .XP0zm .rTiqc .mUv9w .qwIYc .Q7KVB,
    body#tumblr .AzqQv .XP0zm .rTiqc .mUv9w .qwIYc .u_VQH {
        font-size: 16px;
    }
    body#tumblr header.rTiqc button[aria-label*='follow' i] .EvhBA {
        font-size: 15px;
    }
    /*popover blogName + blogName.tumblr.com*/
    body#tumblr #glass-container .XP0zm .rTiqc .mUv9w .qwIYc .Q7KVB,
    body#tumblr #glass-container .XP0zm .rTiqc .mUv9w .qwIYc .u_VQH {
        top: 0;
    }
    /*fix potential width issue for on-dashboard view + long usernames*/
    body#tumblr div:not(.AzqQv) .XP0zm .rTiqc .mUv9w {
        width: calc(100% - 14px);
    }
    body#tumblr #glass-container .XP0zm .rTiqc .k_NeV {
        align-self: center;
    }
    
    /*change rainbow text colors to custom colors*/
    /*RED*/
    /*red text in posts*/
    body#tumblr span[style="color: rgb(255, 73, 47);"],
    body#tumblr .DraftEditor-root span[style*="rgb(255, 73, 47)"],
    body#tumblr span[style*="color:#ff492f"] {
        color: rgb(var(--red)) !important;
    }
    /*red circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(255, 73, 47)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(255, 73, 47)"] {
        background: rgb(var(--red)) !important;
    }
    /*red svgs*/
    body#tumblr svg[fill*="#ff492f"] {
        fill: rgb(var(--red));
    }
    
    /*ORANGE*/
    /*orange text in posts*/
    body#tumblr span[style="color: rgb(255, 138, 0);"],
    body#tumblr .DraftEditor-root span[style*="rgb(255, 138, 0)"],
    body#tumblr span[style*="color:#ff8a00"] {
        color: rgb(var(--orange)) !important;
    }
    /*orange circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(255, 138, 0)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(255, 138, 0)"] {
        background: rgb(var(--orange)) !important;
    }
    /*orange svgs*/
    body#tumblr svg[fill*="#ff8a00"] {
        fill: rgb(var(--orange));
    }
    
    /*YELLOW*/
    /*yellow text in posts*/
    body#tumblr span[style="color: rgb(232, 215, 56);"],
    body#tumblr .DraftEditor-root span[style*="rgb(232, 215, 56)"],
    body#tumblr span[style*="color:#e8d738"] {
        color: rgb(var(--yellow)) !important;
    }
    /*yellow circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(232, 215, 56)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(232, 215, 56)"] {
        background: rgb(var(--yellow)) !important;
    }
    /*yellow svgs*/
    body#tumblr svg[fill*="#e8d738"] {
        fill: rgb(var(--yellow));
    }
    
    /*GREEN*/
    /*green text in posts*/
    body#tumblr span[style="color: rgb(0, 207, 53);"],
    body#tumblr .DraftEditor-root span[style*="rgb(0, 207, 53)"],
    body#tumblr span[style*="color:#00cf35"] {
        color: rgb(var(--green)) !important;
    }
    /*green circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(0, 207, 53)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(0, 207, 53)"] {
        background: rgb(var(--green)) !important;
    }
    /*green svgs*/
    body#tumblr svg[fill*="#00cf35"] {
        fill: rgb(var(--green));
    }
    
    /*BLUE*/
    /*blue text in posts*/
    body#tumblr span[style="color: rgb(0, 184, 255);"],
    body#tumblr .DraftEditor-root span[style*="rgb(0, 184, 255)"],
    body#tumblr span[style*="color:#00b8ff"] {
        color: rgb(var(--blue)) !important;
    }
    /*blue circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(0, 184, 255)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(0, 184, 255)"] {
        background: rgb(var(--blue)) !important;
    }
    /*blue svgs*/
    body#tumblr svg[fill*="#00b8ff"] {
        fill: rgb(var(--blue));
    }
    
    /*PINK*/
    /*pink text in posts*/
    body#tumblr span[style="color: rgb(255, 98, 206);"],
    body#tumblr .DraftEditor-root span[style*="rgb(255, 98, 206)"],
    body#tumblr span[style*="color:#ff62ce"] {
        color: rgb(var(--pink)) !important;
    }
    /*pink circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(255, 98, 206)"], 
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(255, 98, 206)"] {
        background: rgb(var(--pink)) !important;
    }
    /*pink svgs*/
    body#tumblr svg[fill*="#ff62ce"] {
        fill: rgb(var(--pink));
    }
    
    /*PURPLE*/
    /*purple text in posts*/
    body#tumblr span[style="color: rgb(124, 92, 255);"],
    body#tumblr .DraftEditor-root span[style*="rgb(124, 92, 255)"],
    body#tumblr span[style*="color:#7c5cff"] {
        color: rgb(var(--purple)) !important;
    }
    /*purple circle in popover menu*/
    body#tumblr .riYiV .SO9WE .f0zwA[style*="rgb(124, 92, 255)"],
    body#tumblr span.ktkKJ.m0zwb[style*="rgb(124, 92, 255)"] {
        background: rgb(var(--purple)) !important;
    }
    /*purple svgs*/
    body#tumblr svg[fill*="#7c5cff"] {
        fill: rgb(var(--purple));
    }
    
    /*BLACK*/
    /*black text in posts*/
    body#tumblr *:not(button) > span[style*="color: rgb(0, 0, 0)"],
    body#tumblr main article span[style*="color:#000000"] {
        color: rgb(var(--blacktext)) !important;
    }
    /*black circle in popover menu, 1st = select menu, 2nd = main menu when selected*/
    body#tumblr ._2pGhq[style*="background-color: rgb(0, 0, 0)"],
    body#tumblr ._9dtbh._1GSCF[style*="background: rgb(0, 0, 0)"] {
        background-color: rgb(var(--blacktext)) !important;
    }

    /*post editor*/

    /*
    1. base menu
    2. font style label
    */
    body#tumblr .riYiV,
    body#tumblr .B1bEY .f0Nuo,
    body#tumblr .eow17 .yM4QO .iGjiZ {
        font-size: 16px;
    }
    body#tumblr .eow17 .yM4QO .iGjiZ.XQiFD {
        font-size: 20px;
        line-height: 1;
    }
    body#tumblr .eow17 .k31gt {
        font-size: 16px;
        line-height: 2;
    }
    body#tumblr .eow17 .yM4QO .iGjiZ.AJyrC {
        font-size: 23px;
    }
    body#tumblr .eow17 .yM4QO .iGjiZ.KWC5_ {
        font-size: 18px;
    }
    /*1. post editor font style dropdown
      2. post editor styling circles
      3. post editor URL input
      4. post editor URL context menu
    */
    .AzqQv.LMDEw,
    .riYiV .ktkKJ,
    .BSsyd,
    .X_GKE {
        background: rgba(var(--tertiary-accent),1);
        border: 2px solid rgba(var(--black),.5);
        box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    }
    .riYiV .ktkKJ[style*="background: rgba(var(--black), 0.80)"] {
        background: rgba(var(--tertiary-accent),1) !important;
    }
    /*1. post editor idk
    2. post edtior font style selector dropdown
    3. post editor link input field
    4. post editor link input field done button
    5. post editor link context menu options*/
    .AzqQv.LMDEw .IAcuW,
    .B1bEY .f0Nuo,
    .znZ1g,
    .znZ1g + .EvhBA.kL75U,
    .EvhBA.kuwg9 {
        color: rgb(var(--white-on-dark));
    }
    /*1.
    2.
    3.
    4.*/
    .AzqQv.LMDEw .IAcuW.howwN,
    .B1bEY .f0Nuo.howwN,
    .EvhBA.kL75U,
    button .EvhBA.kuwg9:hover,
    button:focus .EvhBA.kuwg9 {
        color: rgb(var(--quaternary-accent));
    }
    .EvhBA svg[fill="RGB(var(--accent))"] {
        fill: rgb(var(--quaternary-accent)) !important;
    }
    .EvhBA svg[fill="RGB(var(--white))"] {
        fill: rgb(var(--white-on-dark)) !important;
    }
    .ktkKJ.m0zwb[style*="background: rgb("] .EvhBA svg[fill="RGB(var(--white))"],
    .EvhBA .f0zwA svg[fill="RGB(var(--white))"] {
        fill: rgb(var(--white)) !important;
    }
    .riYiV .SO9WE .f0zwA {
        margin-top: -7px;
        padding-top: 8px;
    }

    /*increase size of popover menu*/
    body#tumblr .riYiV {
        transform: scale(var(--post-controls-scale));
        transform-origin: bottom left;
    }
    /*increase size of the menu that lets you add read mores, gifs, etc*/
    body#tumblr .GbKPz .z1eEK {
        transform: scale(var(--post-controls-scale));
        transform-origin: bottom right;
    }
    /*fix image options button*/
    body#tumblr #glass-container .D6D5a .b9zC2,
    body#tumblr #glass-container .ylQIH.DiyS1 button .EvhBA {
        line-height: 100%;
        font-size: 28px;
    }
    /*fix new blog peepr suggested blogs height*/
    body#tumblr #glass-container ul[aria-label="Blogs like this one"] {
        height: auto !important;
    }
    /*peepr fix icon buttons to be 16px in size to prevent stretching
      1. more options button - modal popover
      2. message button - modal popover
      3. more options button - separate page
      4. message button - separate page
    */
    body#tumblr #glass-container .F8bg3 .TRX6J[aria-label="More options"] > .EvhBA.wWci6,
    body#tumblr #glass-container .F8bg3 .TRX6J[aria-label="Message"] > .EvhBA,
    body#tumblr .RkANE .F8bg3 .TRX6J[aria-label="More options"] > .EvhBA.wWci6,
    body#tumblr .RkANE  .F8bg3 .TRX6J[aria-label="Message"] > .EvhBA{
        font-size: 16px;
    }
    /*peepr standardize button margins*/
    body#tumblr #glass-container .F8bg3 > .uk9FI > *,
    body#tumblr .RkANE .F8bg3 > .uk9FI > *{
        margin-bottom: 12px;
    }
    /*peepr buttons will align in center for larger font sizes instead of stretching
      1. message button - modal popover
      2. message button - separate page
      3. more options button - modal popover
      4. more options button - separate page
    */
    body#tumblr #glass-container .F8bg3 > .uk9FI .oIdtb,
    body#tumblr .RkANE .F8bg3 > .uk9FI .oIdtb,
    body#tumblr #glass-container .BPf9u[data-testid="controlled-popover-wrapper"],
    body#tumblr .RkANE .BPf9u[data-testid="controlled-popover-wrapper"] {
        align-self: center;
    }
    /*fix read more text*/
    .HNcZU .RNGu2 {
        color: rgba(var(--accent),.5);
        top: -38px;
        font-size: 20px;
    }
    /*bg color for image alt text textarea*/
    body#tumblr #glass-container .CXPww .JYYzJ {
        background: rgba(var(--black),0.1);
    }
    /*fix image alt text window description color*/
    body#tumblr .dBgsG {
        color: rgb(var(--black));
    }
    /*placeholder text color*/
    .l8blt .public-DraftEditorPlaceholder-root, .DR-8X .public-DraftEditorPlaceholder-root {
        color: rgba(var(--black), 0.65);
    }
    .l8blt .public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus, .DR-8X .public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus, #glass-container ._3ihyI[style*="color:RGB(var(--black));"], ._2MOmX ._315k0  {
        color: rgba(var(--black), 1) !important;
    }
    /*make color of 'view post' button on filtered posts full opacity + make paragraph for image description popup match text color*/
    body#tumblr .W0ros .TRX6J .NQQC8,
    body#tumblr .W0ros, body#tumblr #glass-container ._2aBBY {
        color: rgb(var(--black));
    }
    /*post editor selected blog color*/
    .dzJuF .RuIGO button.TRX6J .lHc1y .gcKSf {
        color: rgb(var(--link-hover)) !important;
    }
    /*post editor settings button and blog selection chevron*/
    .dzJuF .RuIGO button.TRX6J .lHc1y svg,
    .kCzoF .oehtt .iszjU button.TRX6J svg {
        fill: rgb(var(--accent)) !important;
    }
    /*close button hover styling*/
    .dzJuF .DyZIk:hover,
    .dzJuF .DyZIk:focus {
        background: rgba(var(--black),1)
    }
    /*post editor button font scaling fixes
      1. post button
      2. close button
    */
    .l8blt .QEtDS,
    .l8blt .dzJuF .DyZIk {
        line-height: 100%;
        min-height: 24px;
    }
    .l8blt .QEtDS {
        display: flex;
        align-items: center;
    }
    /*post editor post button chevron before pseudoelement*/
    .l8blt .QEtDS .qtKRw::before {
        top: 0;
        bottom: 0;
        right: unset;
        left: 0;
        height: 100%;
    }
    /*post editor post button chevron scales with font size now*/
    .l8blt .QEtDS .qtKRw svg {
        width: calc(var(--base-font-size) - 5px);
        height: calc(var(--base-font-size) - 5px);
    }

    /*~~~*/

    /*minor bugfixes*/
    
    /*make sure that you can see all suggested blogs when your font is larger than 16px*/
    body#tumblr ul[aria-label="Check out these blogs"],
    body#tumblr aside .PwJi6,
    body#tumblr .RkANE .PwJi6 {
        height: auto !important;
    }
    /*username of poster in reblog header before reblog icon*/
    body#tumblr ._3QBiZ:not(._10u52) { 
        min-height: 21px;
        height: auto !important;
    }
    /*top bar will now grow in height with larger fonts*/
    body#tumblr header._3kR_ { 
        min-height: 54px;
        height: auto;
    }
    /*top bar add some padding around search bar so it looks nicer with larger fonts*/
    body#tumblr header._3kR_ .oPa7v.v_yMG {
        margin: 5px 0;
    }
    /*top bar fix issues with icons for really big fonts*/
    body#tumblr header._3kR_ span.BPf9u {
        display: block;
    }
    /*make sure new posts number isn't too big in top bar*/
    body#tumblr header._3kR_ .jpu7k.D0OOd.XnKJk {
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 16px;
    }
    /*activity graph use default font*/
    body#tumblr figure.RRPPS .YVQVW text {
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 13px;
    }
    /*acivity graph hover info fix white background*/
    body#tumblr figure.RRPPS .visx-tooltip.UNfwm {
        background-color: transparent !important;
    }

    /*fix issue with crushes wrapping improperly*/
    body#tumblr .BUJbj .EZcEJ:not(:nth-child(3n)) {
        margin-right: 12px;
    }
    /*full width radar */
    body#tumblr aside h1.hF8Wr + div > .QfN0z,
    body#tumblr aside h1.hF8Wr + div > .QfN0z > .oNZY7 {
        padding: 0;
        width: 100%;
    }
    /*recommended blogs subtitle size fix*/
    body#tumblr .XP0zm .rTiqc .k_NeV .tOdXM {
        font-size: 0.9em;
    }
    
    /*tagged page change sidebar tag hover color*/
    body#tumblr .Rp8gp:hover:not(.xsZgg):not(.bkzF7),
    body#tumblr .Rp8gp:focus-within:not(.xsZgg):not(.bkzF7) {
        color: rgb(var(--link-hover));
        background-color: rgba(var(--accent),0.15);
        border-color: rgba(var(--accent),0.3);
    }
    /*
      1. general button hover color
      2. tagged page new post button hover color
      3. header new post link
      4. post editor post button
    */
    body#tumblr .TRX6J:hover > .WdYx4,
    body#tumblr .TRX6J:focus > .WdYx4,
    body#tumblr .CCtDO:hover,
    body#tumblr .CCtDO:focus,
    body#tumblr .hlDot .xxqHJ:hover,
    body#tumblr .hlDot .xxqHJ:focus,
    body#tumblr .QEtDS:hover,
    body#tumblr .QEtDS:focus-within {
        background-color: rgb(var(--link-hover));
    }
    /* same as above just for:
       1. post editor settings button
    */
    body#tumblr .kCzoF .oehtt .iszjU button.TRX6J[aria-label="Settings"]:focus svg,
    body#tumblr .kCzoF .oehtt .iszjU button.TRX6J[aria-label="Settings"]:hover svg {
        fill: rgb(var(--link-hover)) !important;
    }

    /*~~~*/

    /*docked post use menu font size*/
    body#tumblr div.h1D5S article.FtjPK * {
        font-size: var(--menu-font-size);
    }
    /*docked post svg color fix*/
    body#tumblr button[aria-label*="Dock post"] .EvhBA svg[fill="RGB(var(--white))"],
    body#tumblr button[aria-label*="Undock post"] .EvhBA svg[fill="RGB(var(--white))"] {
        fill: rgb(var(--white)) !important;
    }
    /*1. undock post button fix
      2. BETA dashboard button fix
    */
    body#tumblr .TRX6J.cybcx,
    body#tumblr .l8blt .Rp8gp.g3KgL.bkzF7 {
        font-size: 16px;
    }

    /*fix menu font sizes*/
    body#tumblr .hlDot .AzqQv *,
    body#tumblr .hlDot .iI6zv *,
    body#tumblr article.FtjPK .AzqQv * {
        font-size: var(--menu-font-size);
        line-height: 1.2em;
    }

    /*style share button colors*/
    body#tumblr article.FtjPK .AzqQv .Z8bqG {
        background-color: rgb(var(--tertiary-accent)) !important;
    }
    body#tumblr article.FtjPK .AzqQv .Z8bqG svg {
        fill: rgb(var(--quaternary-accent));
    }
    body#tumblr article.FtjPK .AzqQv .Z8bqG:hover svg,
    body#tumblr article.FtjPK .AzqQv button:focus .Z8bqG svg {
        fill: rgb(var(--black));
    }
    /*facebook share*/
    body#tumblr article.FtjPK .AzqQv button[aria-label="Facebook"] .Z8bqG:hover svg,
    body#tumblr article.FtjPK .AzqQv button[aria-label="Facebook"]:focus .Z8bqG svg {
        fill: #3b5998;
    }
    /*twitter share*/
    body#tumblr article.FtjPK .AzqQv button[aria-label="Twitter"] .Z8bqG:hover svg,
    body#tumblr article.FtjPK .AzqQv button[aria-label="Twitter"]:focus .Z8bqG svg {
        fill: #55acee;
    }
    /*pinterest share*/
    body#tumblr article.FtjPK .AzqQv button[aria-label="Pinterest"] .Z8bqG:hover svg,
    body#tumblr article.FtjPK .AzqQv button[aria-label="Pinterest"]:focus .Z8bqG svg {
        fill: #bd081c;
    }
    /*reddit share*/
    body#tumblr article.FtjPK .AzqQv button[aria-label="Reddit"] .Z8bqG:hover svg,
    body#tumblr article.FtjPK .AzqQv button[aria-label="Reddit"]:focus .Z8bqG svg {
        fill: #ff4500;
    }
    
    /*messaging fixes*/

    /*fix z-index of messages*/
    body#tumblr .cwvO0 {
        z-index: 95;
    }
    /*fix messaging header size*/
    body#tumblr .SPN7I * {
        font-size: var(--menu-font-size);
    }
    /*Conversation*/
    body#tumblr button[aria-label="Conversation"] {
        font-size: 16px;
    }
	/*1st is window holding messages, 2nd is messages parent */
    body#tumblr .hpABw,
    body#tumblr .hpABw .vwvdr {
        line-height: 1.2em;
        font-size: var(--menu-font-size);
    }
    /*blog description at top of messaging window will now scroll so you can read the whole thing*/
	body#tumblr .b7hYL .X3v32 {
		display: block;
		max-height: 75px;
		overflow-y: auto;
        padding: 0.2em;
        margin: 0.2em 0;
	}

    /*~~~*/

    /*misc fixes*/

    /*because you follow #tag spacing fix*/
    body#tumblr .YCeHL .OjCiP .nefzG {
        padding-left: 0.7em;
    }
    
    body#tumblr #glass-container .B15CE ul.PwJi6 {
        width: 100%;
        padding: 0em;
        box-sizing: border-box;
    }
    body#tumblr #glass-container .B15CE ul.PwJi6 .Ut4iZ:not(.veU9u):focus-within,
    body#tumblr #glass-container .B15CE ul.PwJi6 .Ut4iZ:not(.veU9u):hover {
        background: none;
    }
    body#tumblr #glass-container .B15CE ul.PwJi6 li.kqme1:focus-within,
    body#tumblr #glass-container .B15CE ul.PwJi6 li.kqme1:hover {
        background: rgba(var(--white-on-dark),.07);
    }
    
    /*more obvious remove suggested blog styling*/
    body#tumblr aside ul.PwJi6 button[aria-label="Dismiss Recommendation"] svg,
    body#tumblr #glass-container .B15CE ul.PwJi6 button[aria-label="Dismiss Recommendation"] svg {
        fill: rgba(var(--white-on-dark), 0.5);
        transition: 0.3s fill;
        margin: auto 8px;
    }
    body#tumblr aside ul.PwJi6 button[aria-label="Dismiss Recommendation"]:hover svg,
    body#tumblr aside ul.PwJi6 button[aria-label="Dismiss Recommendation"]:focus svg,
    body#tumblr #glass-container .B15CE ul.PwJi6 button[aria-label="Dismiss Recommendation"]:hover svg,
    body#tumblr #glass-container .B15CE ul.PwJi6 button[aria-label="Dismiss Recommendation"]:focus svg{
        fill: rgb(var(--red)) !important;
    }
    /*search your followers h1 width fix*/
    body#tumblr main.FdbiI > .qF_aN h1.lRmVC {
        flex: 1 0 50%;
    }
    /*follow tag btn fix, tagg recommendations line height fix FIXME*/ 
    body#tumblr button._1kIlD, body#tumblr ._1kN53 span {
        line-height: 100%;
    }
    
    /*trending topics ol fixes for larger fonts*/
    body#tumblr .nKYyP.CXVtW .FSlaf {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        align-items: center;
    }
    /*give bg to make it work w/ custom bgs w/o needing extra code up top, .W7PJ9 > li w/ data-index */
    body#tumblr .nKYyP.CXVtW .FSlaf > .vT7_j {
        background: rgb(var(--navy));
        display: flex;
        flex: 1 1 50%;
        align-content: center;
        height: auto;
        min-height: 90px;
        max-height: unset;
        border-radius: 3px;
        overflow: hidden;
    }
    /* trending topic # ensure circlular shape */
    body#tumblr .nKYyP li::before {
        flex-shrink: 0;
    }
    /*see all of the trending topic's tags by scrolling*/
    body#tumblr .nKYyP .sEVNj {
        word-wrap: break-word;
        word-break: break-word;
        display: block;
        line-height: 100%;
        max-height: 2em;
        overflow: auto;
        scrollbar-width: thin;
    }
	
    /*remove pointer events for tooltips on post buttons*/
    footer.tOKgq.G6mnk .BPf9u > .ybmTG > div > .EZHUS,
    footer.tOKgq.G6mnk .BPf9u > .ybmTG > div > .G75qL{
        pointer-events: none;
    }
    
	/*~~~*/
	
    /*xkit rewritten fixes*/
	
	/*quick reblog menu fixes*/
    #quick-reblog .quick-tags button:hover, #quick-reblog .action-buttons:enabled button:hover {
        background-color: rgba(var(--secondary-accent),0.1) !important;
    }
    body#tumblr .xkit-long-timestamp {
        height: auto !important;
        min-height: 1em !important;
        line-height: 1.5 !important;
    }
    body#tumblr .xkit-post-option:focus-within svg,
    body#tumblr .xkit-post-option:hover svg {
        fill: rgba(var(--black), 1)
    }
	/*xkit change post block button to orange*/
	body#tumblr button[data-xkit-meatball-button="postblock"] { /*report + block button, plus xkit block post btn*/
        color: RGB(var(--orange)) !important;
    }
	body#tumblr button[data-xkit-meatball-button="postblock"]:hover, body#tumblr button[data-xkit-meatball-button="postblock"]:focus {
        color: rgb(var(--orange)) !important;
        background-color: rgba(var(--orange), 0.2) !important;
    }
    /*change quick reblog menu color to be green to match post footer reblogged icon color*/
    #quick-reblog button[data-state="published"] {
        color: rgb(var(--green));
    }
    /*change quick reblog successful draft icon color match orange draft button color in the menu*/
    .draft svg[fill="rgba(var(--black), 0.65)"] {
        fill: rgb(var(--orange));
    }
    .draft a[role="button"]::after {
        color: rgb(var(--green));
    }
    /*change quick reblog successful queue icon color match pink draft button color in the menu*/
    .queue svg[fill="rgba(var(--black), 0.65)"] {
        fill: rgb(var(--pink));
    }
}
