/* ==UserStyle==
@name           Tumblr – Custom Dashboard Palette
@namespace      github.com/paw/tumblr-custom-palette-userstyle
@version        0.2.0
@description    `Set custom colors for your Tumblr dashboard.`
@author         github.com/paw
@updateURL      https://github.com/paw/tumblr-custom-palette-userstyle/raw/main/tumblr-custom-dash-palette.user.css

@advanced dropdown font "Font Family" {
font1 "Default (Favorit)" <<<EOT "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif EOT;
font7 "Custom" <<<EOT var(--custom-font) EOT;
font2 "Arial" <<<EOT arial, sans-serif EOT;
font3 "Verdana" <<<EOT Verdana, Geneva, Tahoma, sans-serif EOT;
font4 "Helvetica" <<<EOT 'Helvetica Neue', Arial, Helvetica, sans-serif EOT;
font5 "Monospace" <<<EOT monospace EOT;
font6 "Cursive" <<<EOT cursive EOT;
font8 "1785 Baskerville" <<<EOT '1785 GLC Baskerville', serif EOT;
font9 "Arquitecta" <<<EOT 'Arquitecta', sans-serif EOT;
font10 "Alternate Gothic" <<<EOT 'Alternate Gothic', sans-serif EOT;
font11 "Avalon" <<<EOT 'Avalon', sans-serif EOT;
font12 "Bookmania" <<<EOT 'Bookmania', serif EOT;
font13 "Brutal Type" <<<EOT 'Brutal Type', serif EOT;
font14 "Calluna" <<<EOT 'Calluna', serif EOT;
font15 "Calluna Sans" <<<EOT 'Calluna Sans', sans-serif EOT;
font16 "Capita" <<<EOT 'Capita', serif EOT;
font17 "Clarendon" <<<EOT 'Clarendon Text Pro', serif EOT;
font18 "Clearface" <<<EOT 'Clearface FS', serif EOT;
font19 "Fang Song" <<<EOT 'FangSong', 'STFangsong', sans-serif EOT;
font20 "Garamond" <<<EOT 'Garamond Classic FS', serif EOT;
font21 "Georgia" <<<EOT Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman' serif EOT;
font22 "Gibson" <<<EOT 'Gibson', sans-serif EOT;
font23 "Grumpy" <<<EOT 'Grumpy Black 48', serif EOT;
font24 "Kaiti" <<<EOT 'Kaiti TC', 'KaiTi', sans-serif EOT;
font25 "Lorimer No 2" <<<EOT 'Lorimer No 2', sans-serif EOT;
font26 "Lucida Sans" <<<EOT 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif EOT;
font27 "News Gothic" <<<EOT 'News Gothic FS', sans-serif EOT;
font28 "Pratt Pro" <<<EOT 'Pratt Pro', serif EOT;
font29 "Quadrat" <<<EOT 'Quadrat', serif EOT;
font30 "Sim Hei" <<<EOT 'SimHei', 'STHeiti', sans-serif EOT;
font31 "Sofia Pro" <<<EOT 'Sofia Pro', sans-serif EOT;
font32 "Square Serif" <<<EOT 'Square Serif', serif EOT;
font33 "Typewriter" <<<EOT 'Typewriter FS', serif EOT;
}

@advanced text customfont "Custom Font (Select 'Custom' Above)" "OpenDyslexic"
@advanced text fontsize "Font Size (px)" "16"

@advanced text bgimage "Background Image (URL)" ""
@advanced dropdown bgpos "Background Position" {
bgpos1 "Center" <<<EOT center EOT;
bgpos2 "Top Left" <<<EOT top left EOT;
bgpos3 "Top Right" <<<EOT top right EOT;
bgpos4 "Bottom Left" <<<EOT bottom left EOT;
bgpos5 "Bottom Right" <<<EOT bottom right EOT;
}
@advanced dropdown bgattachment "Background Attachment" {
bgattachment1 "Fixed" <<<EOT fixed EOT;
bgattachment2 "Scroll" <<<EOT scroll EOT;
}
@advanced dropdown bgrepeat "Background Repeat" {
bgrepeat1 "Repeat" <<<EOT repeat EOT;
bgrepeat2 "Repeat Vertically" <<<EOT repeat-y EOT;
bgrepeat3 "Repeat Horizontally" <<<EOT repeat-x EOT;
bgrepeat4 "Don't Repeat" <<<EOT no-repeat EOT;
}
@advanced dropdown bgsize "Background Size" {
bgsize1 "Cover" <<<EOT cover EOT;
bgsize2 "Auto" <<<EOT auto EOT;
}

@advanced color navy "Background Color" #090117
@advanced color white "Posts Color" #141021
@advanced color black "Font Color" #d1a3d8
@advanced color accent "Primary Accent & Links Color" #3dedd8
@advanced color linkhover "Link Hover Color" #f68ac5
@advanced color secondary "Menu Hover BG Color" #493650
@advanced color whiteondark "Secondary Accent" #b051ff
@advanced color tertiary "Top Bar BG Color" #100521
@advanced color quaternary "Top Bar Icon Color" #ff9c13
@advanced color follow "Notifications From Followed Blogs" #1c2b34
@advanced color modal "Modal BG" #0c0516

@advanced color red "Red" #FF492F
@advanced color orange "Orange" #FF8A00
@advanced color yellow "Yellow" #E8D738
@advanced color green "Green" #00CF35
@advanced color blue "Blue" #00B8FF
@advanced color purple "Purple" #7C5CFF
@advanced color pink "Pink" #FF62CE
@advanced color blacktext "Black" #ffffff

@advanced dropdown blacklisttags "Fully Display Tags On Filtered Posts" {
blacklisttags1 "Yes" <<<EOT 
    /*fully show blacklisted tags*\/
    body#tumblr [data-id] .LihFc { /*container for filtered post*\/
        flex-wrap: wrap;
        justify-content: space-between;
    }
    body#tumblr [data-id] .LihFc > a { /*blacklisted tags*\/
        margin: 1em 1ch 1em 0;
        max-width: 100%;
        flex: 0 1 60%;
        word-wrap: break-word;
        white-space: normal;
    }
    body#tumblr [data-id] .LihFc .KeFJu { /*view post button*\/
        margin-left: 0;
        flex: 0 0 30%;
    }
    /*'This post contains filtered tags.'*\/
    [data-id] .LihFc > p {
        width: 100%;
    } EOT;
blacklisttags2 "No" <<<EOT  EOT;
}

@advanced dropdown followlabel "Follow Label" {
followlabel1 "Hide" <<<EOT 
    /*hide follow button*\/
    body#tumblr article button.KeFJu[aria-label="Follow"] {
        display: none
    } EOT;
followlabel2 "Show" <<<EOT  EOT;
}

@advanced dropdown radar "Radar" {
radar1 "Show" <<<EOT  EOT;
radar2 "Hide" <<<EOT 
    /*hide radar*\/
    body#tumblr aside ._149RG:nth-child(2) {
        display: none;
    } EOT;
}
@advanced dropdown sidebarblogs "Sidebar Blog Recommendations" {
sidebarblogs1 "Hide" <<<EOT 
    /*hide suggested blogs in sidebar while still showing blog stats*\/
    body#tumblr aside ._149RG:nth-child(1) > *:not(aside) {
        display: none;
    }
    body#tumblr aside ._149RG:nth-child(1) aside {
        margin-bottom: 38px;
    }
    body#tumblr aside ._149RG:nth-child(1) {
        margin-bottom: 0;
    } EOT;
sidebarblogs2 "Show" <<<EOT  EOT;
}
@advanced dropdown inlinesuggest "Inline Recommendations" {
inlinesuggest2 "Hide" <<<EOT 
    /*hide inline recommendations, 1st is blogs and 2nd is posts*\/
    body#tumblr ._1DxdS > .hyZhC > ._2o6T5._1jpWM, body#tumblr ._1DxdS > .hyZhC > ._8COZG, body#tumblr ._1DxdS > .hyZhC > ._2X7uM > ._1jpWM, body#tumblr ._1DxdS > .hyZhC > ._3IIWk {
        display: none !important;
    } EOT;
inlinesuggest1 "Show" <<<EOT  EOT;
}
@advanced dropdown sponsoredposts "Sponsored Posts At Top of Dash" {
sidebarsponsor1 "Hide" <<<EOT 
    /*hide sponsored posts*\/
    body#tumblr ._1DxdS:nth-child(1):not([data-id]) {
        margin-bottom: 0;
        display: none !important;
    }
    body#tumblr ._1DxdS:not([data-id]) > .hyZhC > ._1Bwz3 > ._18O6M {
        display: none !important;
    } EOT;
sidebarsponsor2 "Show" <<<EOT  EOT;
}

==/UserStyle== */


@-moz-document regexp("(http|https)://www\\.tumblr\\.com.*") {
    :root {
        --white: /*[[white-rgb]]*/; /*post bg*/
        --white-on-dark: /*[[whiteondark-rgb]]*/;
        --black: /*[[black-rgb]]*/; /*font color*/
        
        --custom-bg: url(/*[[bgimage]]*/);
        --bg-attachment: /*[[bgattachment]]*/;
        --bg-position: /*[[bgpos]]*/;
        --bg-repeat: /*[[bgrepeat]]*/;
        --bg-size: /*[[bgsize]]*/;

        --font-family: /*[[font]]*/;
        --custom-font: /*[[customfont]]*/;
        --base-font-size: /*[[fontsize]]*/px;

        --blacktext: /*[[blacktext-rgb]]*/; /*changes black font in post*/
        --red: /*[[red-rgb]]*/;
        --orange: /*[[orange-rgb]]*/;
        --yellow: /*[[yellow-rgb]]*/;
        --green: /*[[green-rgb]]*/;
        --blue: /*[[blue-rgb]]*/;
        --purple: /*[[purple-rgb]]*/;
        --pink: /*[[pink-rgb]]*/;

        --navy: /*[[navy-rgb]]*/; /* body background */
        --accent: /*[[accent-rgb]]*/; /* links, buttons on top */
        --secondary-accent: /*[[secondary-rgb]]*/; /*secondary accent */
        --link-hover: /*[[linkhover-rgb]]*/; /*link hover color */
        --tertiary-accent: /*[[tertiary-rgb]]*/; /*top bar bg */
        --quaternary-accent: /*[[quaternary-rgb]]*/; /*top bar buttons */

        --modal: /*[[modal-rgb]]*/;
        --follow: /*[[follow-rgb]]*/; /*notifications from followers*/
    }
    
    /*custom background*/
    body#tumblr ._2hdQN {
        background: rgb(var(--navy)) var(--custom-bg);
        background-attachment: var(--bg-attachment);
        background-position: var(--bg-position);
        background-size: var(--bg-size);
        background-repeat: var(--bg-repeat);
    }
    /*change bg color of top bar*/
    body#tumblr ._3r0gp {
        background-color: rgb(var(--tertiary-accent))
    }
    body#tumblr ._3r0gp ._3ojs9 svg {
        fill: rgb(var(--quaternary-accent))
    }
    /*link colors*/
    body#tumblr article a, body#tumblr article header .hVK3L, body#tumblr ._3lVNJ {
        color: rgba(var(--accent),1)
    }
    body#tumblr article a:hover, body#tumblr article a:focus, body#tumblr a ._3lVNJ:hover, body#tumblr a ._3lVNJ:focus {
        color: rgba(var(--link-hover),1);
    }
    /*post options menu prevent changing color*/
    body#tumblr a._3hRvh._32O5L._3MiJg._5M1cX:hover, body#tumblr a._3hRvh._32O5L._3MiJg._5M1cX:focus {
        color: inherit
    }
    /*post options menu link fixes*/
    body#tumblr ._3HoFU ._3hRvh._1jVF3._1hipC {
        color: RGB(var(--red)) !important;
    }
    body#tumblr ._3HoFU a:hover, body#tumblr ._3HoFU a:focus {
        color: rgb(var(--black)) !important;
    }
    body#tumblr ._3HoFU ._3hRvh._1jVF3._1hipC:hover, body#tumblr ._3HoFU ._3hRvh._1jVF3._1hipC:focus {
        color: rgb(var(--black)) !important;
        background-color: rgba(var(--red), 0.5) !important;
    }
    /*tag focus color*/
    body#tumblr .pOoZl a.L0N4W:focus {
        color: rgb(var(--white)) !important;
    }
    
    /*follow button styling*/
    body#tumblr article ._2eajK {
        font-size: 0.8em;
        font-weight: bold;
        background-color: rgba(var(--black),0.4);
        padding: 2px 8px;
        border-radius: 2px;
        color: rgb(var(--white)) !important;
    }
    body#tumblr article ._2eajK:hover, article ._2eajK:focus {
        text-decoration: none !important;
        color: rgb(var(--white)) !important;
        background-color: rgb(var(--green));
    }
    /*permalink post corner*/
    body#tumblr .POCCe ._2PI5a {
        background-color: rgba(var(--accent),1)
    }
    
    /*[[followlabel]]*/
    
    /*[[sidebarblogs]]*/

    /*[[sponsoredposts]]*/
    
    /*hide sponsored posts in sidebar*/
    body#tumblr aside ._3v4BC {
        border-radius: 3px;
        overflow: hidden;
    }
    
    /*[[inlinesuggest]]*/
    
    /*[[radar]]*/
    
    /*[[blacklisttags]]*/
    
    /*modal bg color*/
    body#tumblr button._2KXPE span._3e9MM, body#tumblr ._2KXPE[tabindex="-1"] {
        background-color: rgba(var(--modal), 0.9) !important;
    }
    
    /*change rainbow text colors to custom colors*/
    /*RED*/
    /*red text in posts*/
    body#tumblr span[style*="color: rgb(255, 73, 47)"], body#tumblr span[style*="color:#ff492f"] {
        color: rgb(var(--red)) !important;
    }
    /*red circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(255, 73, 47)"], body#tumblr .MyoaM[style*="background: rgb(255, 73, 47)"] {
        background-color: rgb(var(--red)) !important;
    }
    /*red svgs*/
    body#tumblr svg[fill*="#ff492f"] {
        fill: rgb(var(--red));
    }
    
    /*ORANGE*/
    /*orange text in posts*/
    body#tumblr span[style*="color: rgb(255, 138, 0)"], body#tumblr span[style*="color:#ff8a00"] {
        color: rgb(var(--orange)) !important;
    }
    /*orange circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(255, 138, 0)"], body#tumblr .MyoaM[style*="background: rgb(255, 138, 0)"] {
        background-color: rgb(var(--orange)) !important;
    }
    /*orange svgs*/
    body#tumblr svg[fill*="#ff8a00"] {
        fill: rgb(var(--orange));
    }
    
    /*YELLOW*/
    /*yellow text in posts*/
    body#tumblr span[style*="color: rgb(232, 215, 56)"], body#tumblr span[style*="color:#e8d738"] {
        color: rgb(var(--yellow)) !important;
    }
    /*yellow circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(232, 215, 56)"], body#tumblr .MyoaM[style*="background: rgb(232, 215, 56)"] {
        background-color: rgb(var(--yellow)) !important;
    }
    /*yellow svgs*/
    body#tumblr svg[fill*="#e8d738"] {
        fill: rgb(var(--yellow));
    }
    
    /*GREEN*/
    /*green text in posts*/
    body#tumblr span[style*="color: rgb(0, 207, 53)"], body#tumblr span[style*="color:#00cf35"], body#tumblr main .Fu2CO._3jNy9[style*="color: rgb(0, 207, 53)"], body#tumblr main .Fu2CO._3jNy9[style*="color:#00cf35"] {
        color: rgb(var(--green)) !important;
    }
    /*green circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(0, 207, 53)"], body#tumblr .MyoaM[style*="background: rgb(0, 207, 53)"] {
        background-color: rgb(var(--green)) !important;
    }
    /*green svgs*/
    body#tumblr svg[fill*="#00cf35"] {
        fill: rgb(var(--green));
    }
    
    /*BLUE*/
    /*blue text in posts*/
    body#tumblr span[style*="color: rgb(0, 184, 255)"], body#tumblr span[style*="color:#00b8ff"] {
        color: rgb(var(--blue)) !important;
    }
    /*blue circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(0, 184, 255)"], body#tumblr .MyoaM[style*="background: rgb(0, 184, 255)"] {
        background-color: rgb(var(--blue)) !important;
    }
    /*blue svgs*/
    body#tumblr svg[fill*="#00b8ff"] {
        fill: rgb(var(--blue));
    }
    
    /*PINK*/
    /*pink text in posts*/
    body#tumblr span[style*="color: rgb(255, 98, 206)"], body#tumblr span[style*="color:#ff62ce"] {
        color: rgb(var(--pink)) !important;
    }
    /*pink circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(255, 98, 206)"], body#tumblr .MyoaM[style*="background: rgb(255, 98, 206)"] {
        background-color: rgb(var(--pink)) !important;
    }
    /*pink svgs*/
    body#tumblr svg[fill*="#ff62ce"] {
        fill: rgb(var(--pink));
    }
    
    /*PURPLE (not currently enabled, but jic they add it)*/
    /*purple text in posts*/
    body#tumblr span[style*="color: rgb(124, 192, 255)"], span[style*="color:#7c5cff"] {
        color: rgb(var(--purple)) !important;
    }
    /*purple circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(124, 192, 255)"], body#tumblr .MyoaM[style*="background: rgb(124, 192, 255)"] {
        background-color: rgb(var(--purple)) !important;
    }
    /*purple svgs*/
    body#tumblr svg[fill*="#7c5cff"] {
        fill: rgb(var(--purple));
    }
    
    /*BLACK*/
    /*black text in posts*/
    body#tumblr main span[style*="color: rgb(0, 0, 0)"], body#tumblr main span[style*="color:#000000"] {
        color: rgb(var(--blacktext)) !important;
    }
    /*black circle in popover menu*/
    body#tumblr ._3vJ7I[style*="background-color: rgb(0, 0, 0)"], body#tumblr .MyoaM[style*="background: rgb(0, 0, 0)"] {
        background-color: rgb(var(--blacktext)) !important;
    }

    /*minor bugfixes*/
    body#tumblr ._3MmnJ:first-of-type { /*fix weird overflow of bg color when hovering over blogs on following page*/
        overflow: hidden;
    }
    body#tumblr ul[aria-label="Check out these blogs"], body#tumblr aside .hjHTG { /*make sure that you can see all suggested blogs when your font is larger than 16px*/
        height: auto !important;
    }
    body#tumblr .L5OmD:not(._1g2KQ) {
        min-height: 21px;
        height: auto !important;
    }
    body#tumblr header.l4QOZ { /*top bar will now grow in height with larger fonts*/
        min-height: 54px;
        height: auto;
    }
    /*fix height of button when following tags*/
    body#tumblr button._2jskX {
        min-height: 40px;
        height: auto;
        padding: 5px 10px;
    }
    /*make sure new posts number isn't too big in top bar*/
    body#tumblr ._3LtFh.kAS3C._2_oyi{
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 16px;
    }
    /*post editing popover menu font fix*/
    body#tumblr ._1K1i-, body#tumblr ._1bWnc * {
        font-size: 16px !important;
    }
    /*fix post creation popover menu for adding colors to fonts in posts*/
    body#tumblr ._1K1i- .MyoaM:not([style*="background"]) {
        background: rgba(var(--navy),1) !important;
    }
    /*fix paint bucket in post creation popover color menu at larger font sizes*/
    body#tumblr ._3vJ7I {
        line-height: 16px;
    }
    /*make post creation popover paint bucket be the same color as posts bg*/
    body#tumblr  ._3vJ7I svg, body#tumblr .MyoaM button[aria-label="Colors"] svg[fill*="#ffffff"] {
        fill: rgb(var(--white)) !important;
    }
    body#tumblr .j_1KQ {
        font-family: sans-serif;
        line-height: 16px;
    }
     /*post editor make sure colors are right*/
    body#tumblr ._1K1i- > div > .MyoaM button:not([aria-label="Colors"]) > span > svg[fill="RGB(var(--white))"], body#tumblr ._1K1i- .MyoaM .Si9F8 svg {
        fill: rgb(var(--black)) !important;
    }
    
    body#tumblr .Si9F8 .j_1KQ { 
        color: rgb(var(--black));
    }
    body#tumblr ._10Ced {
        font-size: 16px !important;
    }
    body#tumblr ._2ef6Q {
        font-size: 30px !important;
    }
    /*messaging fixes*/
    body#tumblr ._22qW9, body#tumblr ._2n1fq ._2zt7X ._15aT2, body#tumblr ._186_D {
        line-height: 1.5em;
    }
    body#tumblr ._3XfdP > div {
        line-height: inherit;
    }
    /*queue time fix*/
    body#tumblr ._3ZHB_ ._22dtn {
        line-height: 1em;
    }
    /*xkit fixes*/
    #quick-reblog .quick-tags button:hover, #quick-reblog .action-buttons:enabled button:hover {
        background-color: rgba(var(--secondary-accent),0.1) !important;
    }
    .xkit-long-timestamp {
        height: auto !important;
        min-height: 1em !important;
        line-height: 1.5 !important;
    }
}
