.gxf2Y {
 stroke:RGB(var(--white-on-dark));
 align-items:center;
 background-color:transparent;
 box-sizing:border-box;
 display:flex;
 height:30px;
 justify-content:center;
 margin-bottom:8px;
 margin-top:auto;
 padding:4px 0 2px;
 width:auto
}
.gxf2Y svg {
 transform:rotate(-90deg)
}
.gxf2Y circle {
 stroke-width:4px;
 fill:none;
 stroke-dasharray:113.0973355292px
}
@-webkit-keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@-webkit-keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
@keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
.bZWbL {
 -webkit-animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite;
 animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite
}
.sRM0W {
 background-color:transparent;
 bottom:4px;
 left:4px;
 position:absolute;
 right:4px;
 top:4px
}
.sRM0W,
.v2cZ4 {
 border-radius:50%
}
.v2cZ4 {
 background-color:RGB(var(--white));
 height:30px;
 position:relative
}
.SxDDQ:focus,
.SxDDQ:focus-within {
 outline:none
}
.cgbWc {
 background:RGB(var(--black));
 color:RGB(var(--white));
 font-family:var(--font-family);
 font-size:.625rem;
 font-weight:400;
 line-height:1.6;
 line-height:12px;
 padding:5px
}
.hTsSj {
 box-sizing:border-box;
 margin-bottom:2px;
 max-height:24px;
 overflow:hidden;
 width:100%
}
.hTsSj .Arr7n {
 float:left;
 margin-right:5px;
 max-width:100%;
 overflow:hidden;
 position:relative;
 text-decoration:none;
 text-overflow:ellipsis;
 text-transform:lowercase;
 white-space:nowrap
}
.hTsSj .gdBC5 {
 display:none
}
.Rp8gp {
 border-radius:30px;
 color:rgba(var(--black),.4);
 display:inline-block;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 line-height:30px;
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) {
 background-color:rgba(var(--accent),.25);
 color:RGB(var(--accent));
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) svg use {
 --icon-color-primary:RGB(var(--accent))
}
.Qj_pr {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.IAcuW {
 color:RGB(var(--white));
 text-align:left;
 width:100%
}
.IAcuW.howwN {
 color:RGB(var(--accent))
}
.B1bEY {
 margin:0 3px 0 6px
}
.B1bEY .f0Nuo {
 color:RGB(var(--white));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 margin-right:3px
}
.B1bEY .f0Nuo.howwN {
 color:RGB(var(--accent))
}
.mrP9B {
 margin-bottom:0;
 padding-left:17px
}
.LMDEw {
 background:rgba(var(--black),.8);
 border-radius:13px
}
.eow17 {
 padding:2px 14px;
 text-align:left
}
.eow17 .yM4QO {
 margin:0;
 padding:2px 0;
 width:100%
}
.eow17 .yM4QO .iGjiZ {
 font-size:1em;
 line-height:1.1em;
 margin:0;
 padding:0
}
.eow17 .yM4QO .iGjiZ.XQiFD {
 font-size:1.2rem;
 line-height:1
}
.eow17 .yM4QO .iGjiZ.AJyrC {
 font-size:1.3rem
}
.eow17 .yM4QO .iGjiZ.KWC5_ {
 font-size:1.1rem
}
.BSsyd {
 background:rgba(var(--black),.8);
 white-space:nowrap;
 width:200px
}
.BSsyd,
.ULZiE {
 border-radius:15px;
 height:30px
}
.ULZiE {
 line-height:29px;
 padding:0 10px;
 text-align:center
}
.znZ1g {
 background:transparent;
 border:none;
 box-shadow:none;
 box-sizing:border-box;
 color:RGB(var(--white));
 outline:0;
 padding-right:46px;
 width:100%
}
.znZ1g.IGu5k {
 color:RGB(var(--red))
}
.znZ1g:focus {
 outline:none
}
.znZ1g::-moz-placeholder {
 color:RGB(var(--white))
}
.znZ1g::placeholder {
 color:RGB(var(--white))
}
.kL75U {
 border-left:1px solid rgba(var(--white-on-dark),.25);
 cursor:pointer;
 font-weight:700;
 line-height:29px;
 padding:0 9px 0 7px;
 position:absolute;
 right:0;
 top:0
}
.X_GKE,
.kL75U {
 color:RGB(var(--white))
}
.X_GKE {
 background:rgba(var(--black),.8);
 border-radius:15px;
 box-shadow:none;
 height:30px;
 white-space:nowrap
}
.gQkds {
 padding-left:8px;
 padding-right:8px
}
.kuwg9 {
 border-left:1px solid rgba(var(--white-on-dark),.25);
 color:RGB(var(--white));
 cursor:pointer;
 font-weight:700;
 height:30px;
 padding:4px 9px 0 7px
}
.kuwg9.qhgVi {
 border-left:none
}
.kuwg9:hover {
 color:rgba(var(--white-on-dark),.87)
}
.riYiV {
 height:40px;
 margin-left:4px;
 position:absolute
}
.riYiV.nmeR6 {
 visibility:hidden
}
.riYiV .ktkKJ {
 background:rgba(var(--black),.8);
 display:inline-block;
 margin-bottom:4px
}
.riYiV .CDnTE {
 border-radius:23px;
 height:22px;
 padding:1px 8px 3px;
 vertical-align:top
}
.riYiV .m0zwb {
 border-radius:23px;
 cursor:pointer;
 height:21px;
 margin-left:8px;
 overflow:hidden;
 padding-left:1px;
 padding-top:6px;
 position:relative;
 text-align:center;
 width:25px
}
.riYiV .m0zwb .oaRyx {
 height:30px;
 left:0;
 padding-top:1px;
 position:absolute;
 top:0;
 width:27px
}
.riYiV .SO9WE {
 margin-top:6px;
 text-align:right
}
.riYiV .SO9WE .f0zwA {
 height:26px;
 margin-top:-1px;
 padding-top:6px;
 width:26px
}
.M15EX {
 background-color:RGB(var(--white));
 border-radius:3px;
 box-shadow:0 4px 9px rgba(0,0,0,.25);
 box-sizing:border-box;
 color:RGB(var(--black));
 font-size:12px;
 padding:8px 10px;
 position:absolute;
 text-align:left;
 width:150px
}
.oSXiI {
 font-weight:700
}
.MD5Ec input {
 bottom:0;
 cursor:pointer;
 height:0;
 opacity:0;
 position:absolute;
 right:0;
 top:0;
 width:0
}
.MD5Ec input::-webkit-file-upload-button {
 display:none
}
.w3qxK {
 left:170px;
 position:absolute;
 top:80px
}
.Smi9h {
 display:inline-block;
 width:10px
}
.Smi9h svg use {
 --icon-color-primary:rgba(var(--black),0.4)
}
.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
 height:inherit;
 text-align:initial
}
.public-DraftEditor-content[contenteditable=true] {
 -webkit-user-modify:read-write-plaintext-only
}
.DraftEditor-root {
 position:relative
}
.DraftEditor-editorContainer {
 background-color:hsla(0,0%,100%,0);
 border-left:.1px solid transparent;
 position:relative;
 z-index:1
}
.public-DraftEditor-block {
 position:relative
}
.DraftEditor-alignLeft .public-DraftStyleDefault-block {
 text-align:left
}
.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
 left:0;
 text-align:left
}
.DraftEditor-alignCenter .public-DraftStyleDefault-block {
 text-align:center
}
.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
 margin:0 auto;
 text-align:center;
 width:100%
}
.DraftEditor-alignRight .public-DraftStyleDefault-block {
 text-align:right
}
.DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
 right:0;
 text-align:right
}
.public-DraftEditorPlaceholder-root {
 color:#9197a3;
 position:absolute;
 width:100%;
 z-index:1
}
.public-DraftEditorPlaceholder-hasFocus {
 color:#bdc1c9
}
.DraftEditorPlaceholder-hidden {
 display:none
}
.public-DraftStyleDefault-block {
 position:relative;
 white-space:pre-wrap
}
.public-DraftStyleDefault-ltr {
 direction:ltr;
 text-align:left
}
.public-DraftStyleDefault-rtl {
 direction:rtl;
 text-align:right
}
.public-DraftStyleDefault-listLTR {
 direction:ltr
}
.public-DraftStyleDefault-listRTL {
 direction:rtl
}
.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
 margin:16px 0;
 padding:0
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
 margin-left:1.5em
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL {
 margin-right:1.5em
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR {
 margin-left:3em
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL {
 margin-right:3em
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR {
 margin-left:4.5em
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL {
 margin-right:4.5em
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR {
 margin-left:6em
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL {
 margin-right:6em
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR {
 margin-left:7.5em
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL {
 margin-right:7.5em
}
.public-DraftStyleDefault-unorderedListItem {
 list-style-type:square;
 position:relative
}
.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0 {
 list-style-type:disc
}
.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1 {
 list-style-type:circle
}
.public-DraftStyleDefault-orderedListItem {
 list-style-type:none;
 position:relative
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
 left:-36px;
 position:absolute;
 text-align:right;
 width:30px
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before {
 position:absolute;
 right:-36px;
 text-align:left;
 width:30px
}
.public-DraftStyleDefault-orderedListItem:before {
 content:counter(ol0) ". ";
 counter-increment:ol0
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
 content:counter(ol1,lower-alpha) ". ";
 counter-increment:ol1
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
 content:counter(ol2,lower-roman) ". ";
 counter-increment:ol2
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
 content:counter(ol3) ". ";
 counter-increment:ol3
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before {
 content:counter(ol4,lower-alpha) ". ";
 counter-increment:ol4
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset {
 counter-reset:ol0
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
 counter-reset:ol1
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
 counter-reset:ol2
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
 counter-reset:ol3
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset {
 counter-reset:ol4
}
.GbKPz {
 background:RGB(var(--white));
 min-height:1em;
 position:relative
}
.GbKPz .public-DraftEditorPlaceholder-inner {
 padding-left:var(--post-padding)
}
.GbKPz .DraftEditor-editorContainer,
.GbKPz .public-DraftEditorPlaceholder-root {
 z-index:unset
}
.GbKPz .paB1B,
.GbKPz .pv_yA {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 padding-right:15px
}
.GbKPz .pv_yA {
 margin:0!important
}
.GbKPz .pv_yA div {
 display:inline
}
.GbKPz .z1eEK {
 pointer-events:none;
 position:absolute;
 right:20px;
 visibility:hidden
}
.GbKPz .z1eEK.RZ5Ht {
 pointer-events:all;
 visibility:visible
}
.GbKPz .z1eEK .tWTYc {
 margin-left:16px
}
.GbKPz .jeAiB {
 color:rgba(var(--black),.4);
 margin-top:0;
 pointer-events:none;
 position:absolute
}
.GbKPz .jeAiB.ulWYu {
 color:rgba(var(--black),.25)
}
.ZdQlM {
 overflow-x:hidden;
 padding:4px 0
}
.ZdQlM.bRI1d {
 -webkit-overflow-scrolling:touch;
 -ms-overflow-style:none;
 align-items:flex-start;
 display:flex;
 overflow-x:auto;
 padding:0;
 scrollbar-width:none;
 width:100%
}
.ZdQlM.bRI1d::-webkit-scrollbar {
 height:0;
 width:0
}
.rABXu {
 align-items:center;
 display:flex;
 padding:6px 8px;
 text-align:left;
 text-decoration:none;
 width:100%
}
.rABXu.QYmLT,
.rABXu:hover {
 background:RGB(var(--secondary-accent))
}
.rABXu.QYmLT .J8d0e,
.rABXu:hover .J8d0e {
 outline:none
}
.rABXu.V3CBg {
 flex-shrink:0;
 padding:4px 5px;
 width:auto
}
.rABXu.V3CBg .vxzhC {
 margin-left:5px;
 width:auto
}
.rABXu .J8d0e {
 align-items:center;
 display:flex;
 width:100%
}
.rABXu .vxzhC {
 display:flex;
 flex:1;
 flex-direction:column;
 width:1px
}
.rABXu .vxzhC .BndmE,
.rABXu .vxzhC .USi3y {
 overflow:hidden;
 text-overflow:ellipsis;
 word-break:break-all
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .rABXu .vxzhC .BndmE,
 .rABXu .vxzhC .USi3y {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .rABXu .vxzhC .BndmE,
 .rABXu .vxzhC .USi3y {
  white-space:nowrap
 }
}
.rABXu .vxzhC .BndmE {
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.rABXu .vxzhC .BndmE .fFIVA {
 text-decoration:underline
}
.rABXu .vxzhC .USi3y {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5
}
.rABXu .vxzhC .USi3y.keQHQ {
 white-space:pre
}
.cOYwp {
 display:inline-block
}
.cOYwp.G0CLQ {
 text-decoration:underline
}
.cOYwp>div {
 display:inline-block
}
.cOYwp:after {
 color:rgba(var(--black),.4);
 content:attr(data-autocomplete)
}
.sN1R8 {
 text-align:center;
 width:100%
}
.yFmaH {
 align-items:flex-start;
 border-radius:3px;
 display:flex;
 margin-bottom:15px;
 padding:12px
}
.yFmaH .n8yJq {
 display:flex;
 margin-right:12px
}
.yFmaH .O2b5p {
 display:block
}
.yFmaH .u8HQ3 {
 display:flex;
 flex-direction:column;
 justify-content:center;
 min-height:24px
}
.yFmaH .u8HQ3 .agHCR {
 font-weight:700;
 margin-bottom:12px
}
.yFmaH .u8HQ3 .agHCR,
.yFmaH .u8HQ3 .sPAXn {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 line-height:1.5;
 margin-right:12px
}
.yFmaH .u8HQ3 .sPAXn {
 font-weight:400
}
.yFmaH .u8HQ3 .dhNbz {
 align-items:center;
 display:flex;
 margin-top:4px
}
.yFmaH .u8HQ3 .dhNbz .B8pBx {
 cursor:pointer
}
.yFmaH .u8HQ3 .dhNbz .B8pBx,
.yFmaH .u8HQ3 .dhNbz .UFrll {
 color:RGB(var(--accent));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5;
 margin-right:12px
}
.CXPww {
 align-items:center;
 display:flex;
 margin:0 auto
}
.lqHQ2 {
 background:RGB(var(--white));
 color:RGB(var(--black));
 height:calc(50vh + 50px);
 margin:0 auto;
 width:512px;
 z-index:101
}
.lqHQ2.qtjVi {
 height:inherit
}
@media(max-width:540px) {
 .lqHQ2.qtjVi {
  height:100vh
 }
}
.lqHQ2.qtjVi .wddaX {
 overflow-y:auto
}
@media(max-width:540px) {
 .lqHQ2 {
  height:100vh;
  max-height:-webkit-fill-available;
  width:100vw
 }
}
.Zlvz6 {
 display:fixed;
 height:50px
}
.QK6UU {
 border-bottom:1px solid rgba(var(--black),.07);
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:700;
 line-height:1.333;
 padding:14px
}
.QK6UU,
.scGVE {
 display:flex;
 justify-content:space-between
}
.EZPTT {
 margin-left:10px
}
.wddaX {
 margin-top:4px;
 max-height:calc(50vh - 32px);
 overflow-y:scroll;
 padding:14px
}
@media(max-width:540px) {
 .wddaX {
  max-height:100%
 }
}
._gnzJ,
.jiJmP {
 height:24px;
 width:24px
}
.drQEn {
 margin-right:4px
}
.Hc7H_ .Zlvz6 {
 margin-bottom:-8px
}
.Hc7H_ .lqHQ2 {
 border-radius:24px;
 height:-webkit-fit-content;
 height:-moz-fit-content;
 height:fit-content
}
.Hc7H_ .QK6UU {
 border-bottom:none;
 padding:24px
}
.Hc7H_ .wddaX {
 overflow-y:auto;
 padding:24px
}
.Hc7H_ ._gnzJ {
 background:rgba(var(--black),.07);
 border-radius:50%;
 height:32px;
 width:32px
}
.Hc7H_ ._gnzJ>span {
 margin:0
}
.Hc7H_ ._gnzJ svg use {
 --icon-color-primary:RGB(var(--black))
}
.gQZdB .Zlvz6 {
 background:linear-gradient(342.18deg,#ff61ce 8.56%,#7c5cff 93.99%);
 border-radius:8px;
 border-bottom-left-radius:0;
 border-bottom-right-radius:0;
 display:block;
 height:auto;
 margin-bottom:-8px;
 padding-bottom:8px
}
.gQZdB .scGVE {
 display:initial;
 margin:0 auto;
 text-align:center;
 width:100%
}
.gQZdB .lqHQ2 {
 border-radius:8px;
 max-height:calc(95vh - 20px);
 overflow-y:auto;
 width:540px
}
@media(max-width:540px) {
 .gQZdB .lqHQ2 {
  margin-top:80px;
  max-height:none;
  width:auto
 }
}
.gQZdB .lqHQ2.qtjVi .wddaX {
 overflow-y:initial
}
.gQZdB .QK6UU {
 border-bottom:none;
 position:relative
}
.gQZdB .QK6UU>span {
 display:none
}
.gQZdB .wddaX {
 margin:14px auto 0;
 max-height:100%;
 overflow-y:initial;
 padding:14px;
 width:90%
}
@media(max-width:540px) {
 .gQZdB .wddaX {
  padding-bottom:32px
 }
}
.gQZdB ._gnzJ,
.gQZdB .jiJmP {
 background-color:rgba(var(--white),.75);
 border-radius:50%;
 height:32px;
 position:absolute;
 top:14px;
 width:32px
}
.gQZdB ._gnzJ>span,
.gQZdB .jiJmP>span {
 margin:0
}
.gQZdB ._gnzJ svg use,
.gQZdB .jiJmP svg use {
 --icon-color-primary:RGB(var(--black))
}
.gQZdB .jiJmP {
 left:14px;
 margin-right:auto
}
.gQZdB ._gnzJ {
 margin-left:auto;
 right:14px
}
.UpmTh .Zlvz6,
.Yk3gi .Zlvz6 {
 background:linear-gradient(180deg,#f76304,#ff61ce)
}
.aI9jI {
 background-color:RGB(var(--white));
 border:1px solid rgba(var(--black),.1);
 border-radius:8px;
 box-sizing:border-box;
 height:637px;
 max-height:calc(95vh - 20px);
 min-width:540px;
 overflow:hidden;
 padding-bottom:50px;
 position:relative
}
@media(max-width:540px) {
 .aI9jI {
  height:100%;
  margin-top:80px;
  max-height:none;
  min-width:auto;
  padding-bottom:85px
 }
}
.aI9jI.qtjVi .wddaX {
 overflow-y:initial
}
.aI9jI .Zlvz6 {
 position:-webkit-sticky;
 position:sticky;
 top:0;
 width:100%;
 z-index:101
}
.aI9jI .QK6UU {
 align-items:center;
 background-color:RGB(var(--white));
 border-bottom:1px solid rgba(var(--black),.1);
 display:flex;
 padding:12px 14px 10px
}
.aI9jI .QK6UU .poK_R {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1.625rem;
 font-size:24px;
 font-weight:400;
 font-weight:700;
 line-height:1.3077
}
@media(max-width:540px) {
 .aI9jI .QK6UU .poK_R {
  max-width:87%
 }
}
.aI9jI .QK6UU ._gnzJ {
 background-color:RGB(var(--black));
 border-radius:50%;
 height:36px;
 width:36px
}
.aI9jI .QK6UU ._gnzJ .drQEn {
 margin-right:0
}
.aI9jI .QK6UU ._gnzJ svg use {
 --icon-color-primary:RGB(var(--white))
}
.aI9jI .wddaX {
 -ms-overflow-style:none;
 color:RGB(var(--black));
 margin-top:0;
 max-height:100%;
 overflow-y:auto;
 padding-top:0;
 scrollbar-width:none
}
.aI9jI .wddaX::-webkit-scrollbar {
 height:0;
 width:0
}
@media(max-width:540px) {
 .aI9jI .wddaX {
  padding-bottom:32px
 }
}
.palette--trueBlue .aI9jI {
 background-color:RGB(var(--navy));
 border:1px solid rgba(var(--white),.1)
}
.palette--trueBlue .aI9jI .QK6UU {
 background-color:RGB(var(--navy));
 border-bottom:1px solid rgba(var(--white),.1)
}
.palette--trueBlue .aI9jI .poK_R {
 color:RGB(var(--white))
}
.HD9VZ {
 background:linear-gradient(180deg,#ff4930 11.46%,#ff7212 83.33%,#e8d73a);
 position:relative
}
.HD9VZ ._gnzJ svg use {
 --icon-color-primary:#000
}
.HD9VZ.lqHQ2 {
 height:inherit
}
@media(max-width:540px) {
 .HD9VZ.lqHQ2 {
  border-radius:0;
  height:100vh
 }
}
.HD9VZ.lqHQ2 .wddaX {
 margin-top:0;
 max-height:calc(100vh - 48px)
}
.HD9VZ .Zlvz6 {
 height:0;
 margin-bottom:0
}
.NQKiB hr {
 margin:0
}
.NQKiB .wddaX {
 display:flex;
 flex-direction:column;
 height:calc(100% - 54px);
 max-height:unset;
 overflow-y:hidden;
 padding:0
}
.YIpzf {
 display:flex;
 width:100%
}
@media(max-width:540px) {
 .YIpzf {
  flex-direction:column
 }
}
.YIpzf:disabled {
 opacity:.5
}
.ou6Mu {
 align-items:center;
 display:flex;
 flex-grow:1;
 margin-right:10px
}
.ou6Mu:last-child {
 margin-right:0
}
@media(max-width:540px) {
 .ou6Mu {
  margin:5px 0
 }
}
.ou6Mu label {
 align-items:center;
 background-color:rgba(var(--black),.07);
 border:2px solid transparent;
 border-radius:3px;
 color:RGB(var(--black));
 display:flex;
 flex-grow:1;
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:bolder;
 line-height:1.3077;
 padding:4px 10px
}
.ou6Mu input:checked~label {
 background-color:rgba(var(--accent),.15)
}
.ou6Mu input:checked~label,
.ou6Mu input:checked~label .Hm8d6 {
 border-color:RGB(var(--accent))
}
.ou6Mu input:checked~label svg use {
 --icon-color-primary:RGB(var(--accent))
}
.ou6Mu input:focus~label {
 outline:1px dotted RGB(var(--accent))
}
.Hm8d6 {
 border:2px solid rgba(var(--black),.65);
 border-radius:50%;
 display:flex;
 flex-shrink:0;
 height:18px;
 margin-right:10px;
 width:18px
}
.Hm8d6 svg {
 height:24px;
 margin:-2px;
 width:24px
}
.fvSXi {
 align-items:inherit;
 display:inherit;
 justify-content:inherit;
 text-decoration:inherit
}
.qRMZE {
 cursor:pointer
}
.XnKJk {
 align-items:center;
 border-radius:4px;
 display:flex;
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:700;
 height:17px;
 justify-content:center;
 left:65%;
 line-height:1.44;
 min-width:11px;
 padding:0 3px;
 text-decoration:none;
 top:-40%
}
.XnKJk,
.e2EeC {
 position:absolute
}
.e2EeC {
 border-radius:100%;
 height:12px;
 right:23%;
 top:10%;
 width:12px
}
.jpu7k {
 background:RGB(var(--accent));
 border:2px solid rgb(var(--navy));
 color:RGB(var(--navy));
 transform:scale(0);
 transition:transform .2s ease-in-out
}
.D0OOd {
 transform:scale(1)
}
.EecQY {
 height:100%;
 overflow:hidden;
 position:relative;
 width:100%
}
.EecQY .jI5Wb {
 align-items:center;
 background:RGB(var(--white));
 border-bottom:1px solid rgba(var(--black),.13);
 display:flex;
 padding:20px
}
.EecQY .jI5Wb .SYFcO,
.EecQY .jI5Wb .tQsaa {
 align-items:center;
 display:flex;
 justify-content:flex-end;
 margin-right:2px
}
.EecQY .jI5Wb .SYFcO svg use,
.EecQY .jI5Wb .tQsaa svg use {
 --icon-color-primary:RGB(var(--black))
}
.EecQY .jI5Wb .MpYbr {
 background:transparent;
 border:none;
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 outline:none;
 padding:5px;
 width:100%
}
.EecQY .jI5Wb .MpYbr::-moz-placeholder {
 color:rgba(var(--black),.65)
}
.EecQY .jI5Wb .MpYbr::placeholder {
 color:rgba(var(--black),.65)
}
.EecQY .rTzel {
 position:absolute
}
.EecQY .VXnsn {
 margin:40px 0;
 text-align:center;
 width:100%
}
.EecQY.XBMkS .ZD8Vo {
 height:75vh
}
.EecQY.XBMkS .jI5Wb {
 padding:5px 10px
}
.EecQY.Hg4KQ {
 background:RGB(var(--white))
}
.EecQY .ZD8Vo {
 -ms-overflow-style:none;
 -webkit-overflow-scrolling:touch;
 height:325px;
 overflow-x:hidden;
 overflow-y:auto;
 scrollbar-width:none
}
.EecQY .ZD8Vo::-webkit-scrollbar {
 height:0;
 width:0
}
.EecQY .ZD8Vo button {
 margin:0;
 width:100%
}
.d0v3o.e16eK {
 z-index:102
}
.nzxzV {
 align-items:center;
 box-sizing:border-box;
 display:flex;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 height:100%;
 justify-content:center;
 line-height:1.5;
 padding:20px 20px 45px;
 text-align:center;
 width:100%
}
@media(max-width:989px) {
 .nzxzV {
  color:RGB(var(--white-on-dark))
 }
}
._BIYA {
 height:325px;
 overflow-y:scroll;
 width:100%
}
.Dpg0j {
 margin-bottom:8px;
 text-decoration:underline;
 width:100%
}
