.gxf2Y {
 stroke:RGB(var(--white-on-dark));
 align-items:center;
 background-color:transparent;
 box-sizing:border-box;
 display:flex;
 height:30px;
 justify-content:center;
 margin-bottom:8px;
 margin-top:auto;
 padding:4px 0 2px;
 width:auto
}
.gxf2Y svg {
 transform:rotate(-90deg)
}
.gxf2Y circle {
 stroke-width:4px;
 fill:none;
 stroke-dasharray:113.0973355292px
}
@-webkit-keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@-webkit-keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
@keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
.bZWbL {
 -webkit-animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite;
 animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite
}
.sRM0W {
 background-color:transparent;
 bottom:4px;
 left:4px;
 position:absolute;
 right:4px;
 top:4px
}
.sRM0W,
.v2cZ4 {
 border-radius:50%
}
.v2cZ4 {
 background-color:RGB(var(--white));
 height:30px;
 position:relative
}
._vFtf {
 width:100%
}
.leMd5 {
 background:RGB(var(--white));
 border-bottom:1px solid rgba(var(--black),.13);
 display:flex;
 padding:15px;
 text-align:start;
 text-decoration:none
}
.leMd5:focus,
.leMd5:hover {
 background-color:RGB(var(--secondary-accent))
}
.leMd5:focus .leMd5,
.leMd5:hover .leMd5 {
 outline:none
}
.leMd5 .xCv4H {
 margin-right:10px
}
.leMd5 .GyW8v {
 color:RGB(var(--black));
 display:flex;
 flex-direction:column;
 margin-top:-2px;
 overflow:hidden;
 width:100%
}
.leMd5 .GyW8v .uX3_z {
 display:flex;
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 justify-content:space-between;
 letter-spacing:.01px;
 line-height:1.5;
 line-height:21px
}
.leMd5 .GyW8v .uX3_z .pTvJc {
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .leMd5 .GyW8v .uX3_z .pTvJc {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .leMd5 .GyW8v .uX3_z .pTvJc {
  white-space:nowrap
 }
}
.leMd5 .GyW8v .uX3_z div.pTvJc {
 display:block
}
.leMd5 .GyW8v .uX3_z.lx_bn {
 color:RGB(var(--accent))
}
.leMd5 .GyW8v .uX3_z .Y8xri {
 align-self:center;
 background:RGB(var(--accent));
 border-radius:100%;
 height:8px;
 width:8px
}
.leMd5 .GyW8v .FZe6i {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44;
 line-height:15px;
 width:100%
}
.leMd5 .GyW8v .sAY6a {
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:2) {
 .leMd5 .GyW8v .sAY6a {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:2)) {
 .leMd5 .GyW8v .sAY6a {
  white-space:nowrap
 }
}
.leMd5 .GyW8v .iVhqZ {
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .leMd5 .GyW8v .iVhqZ {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .leMd5 .GyW8v .iVhqZ {
  white-space:nowrap
 }
}
.leMd5 .GyW8v div.iVhqZ {
 display:block
}
.leMd5.F1eQQ .GyW8v {
 margin-top:-4px
}
.leMd5.F1eQQ .GyW8v .pTvJc {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.leMd5.F1eQQ .GyW8v .FZe6i {
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 line-height:18px
}
.GC6tB {
 font-weight:700
}
.ftU4D {
 -webkit-overflow-scrolling:touch
}
.QH5q4 {
 align-items:center;
 background:RGB(var(--white));
 box-sizing:border-box;
 color:rgba(var(--black),.65);
 display:flex;
 flex:1;
 flex-direction:column;
 height:100%;
 justify-content:center;
 padding:15px 10px;
 width:100%
}
.QH5q4 .uPfvs {
 font-family:var(--font-family);
 font-size:1.3125rem;
 font-weight:700;
 line-height:1.5238;
 margin:15px 0;
 text-align:center
}
.QH5q4 .qdKhK {
 grid-gap:10px;
 display:grid;
 grid-template-columns:repeat(4,35px);
 grid-template-rows:repeat(2,35px)
}
.QH5q4 .e8_q_.d76rQ {
 -webkit-animation:d76rQ .3s;
 animation:d76rQ .3s
}
@-webkit-keyframes d76rQ {
 0% {
  transform:rotate(0deg)
 }
 25% {
  transform:rotate(10deg)
 }
 75% {
  transform:rotate(-10deg)
 }
 to {
  transform:rotate(0deg)
 }
}
@keyframes d76rQ {
 0% {
  transform:rotate(0deg)
 }
 25% {
  transform:rotate(10deg)
 }
 75% {
  transform:rotate(-10deg)
 }
 to {
  transform:rotate(0deg)
 }
}
.XnKJk {
 align-items:center;
 border-radius:4px;
 display:flex;
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:700;
 height:17px;
 justify-content:center;
 left:65%;
 line-height:1.44;
 min-width:11px;
 padding:0 3px;
 text-decoration:none;
 top:-40%
}
.XnKJk,
.e2EeC {
 position:absolute
}
.e2EeC {
 border-radius:100%;
 height:12px;
 right:23%;
 top:10%;
 width:12px
}
.jpu7k {
 background:RGB(var(--accent));
 border:2px solid rgb(var(--navy));
 color:RGB(var(--navy));
 transform:scale(0);
 transition:transform .2s ease-in-out
}
.D0OOd {
 transform:scale(1)
}
.AHkyw .KxZIc svg use,
.AHkyw .N96N2 .KxZIc svg use,
.IigcU use {
 --icon-color-primary:RGB(var(--accent))
}
.AHkyw {
 align-items:center;
 display:flex;
 font-size:13px;
 padding:6px 8px;
 text-align:left;
 text-decoration:none;
 width:100%
}
.AHkyw:hover {
 background:RGB(var(--secondary-accent))
}
.AHkyw.D_cxo {
 width:auto
}
.AHkyw.OfvnG {
 border-bottom:1px solid rgba(var(--black),.07);
 padding:6px 10px 8px 6px;
 text-align:left
}
.AHkyw:last-child {
 border:none
}
.AHkyw .N96N2 {
 align-items:center;
 display:flex;
 width:100%
}
.AHkyw .OX4Jm {
 margin-right:10px;
 position:relative
}
.AHkyw .OX4Jm .iGp0T {
 position:absolute;
 right:15px;
 top:-6px
}
.AHkyw .g3qmO {
 display:flex;
 flex:1;
 flex-direction:column;
 width:1px
}
.AHkyw .g3qmO .Uyky3,
.AHkyw .g3qmO .a5mFW {
 overflow:hidden;
 text-overflow:ellipsis;
 word-break:break-all
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .AHkyw .g3qmO .Uyky3,
 .AHkyw .g3qmO .a5mFW {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .AHkyw .g3qmO .Uyky3,
 .AHkyw .g3qmO .a5mFW {
  white-space:nowrap
 }
}
.AHkyw .g3qmO .Uyky3 {
 font-weight:700
}
.AHkyw .g3qmO .Uyky3,
.AHkyw .g3qmO .a5mFW {
 font-family:var(--font-family);
 font-size:.875rem;
 line-height:1.5
}
.AHkyw .g3qmO .a5mFW {
 color:rgba(var(--black),.65);
 font-weight:400
}
.AHkyw .g3qmO .a5mFW.nd0kT {
 white-space:pre
}
.criTZ {
 align-items:"center";
 background:RGB(var(--white));
 border-radius:6px;
 color:RGB(var(--black));
 display:flex;
 flex-direction:column;
 margin:auto;
 overflow-x:hidden;
 padding:4px 0;
 position:relative
}
.criTZ .ZJtsP {
 align-items:center;
 border-bottom:1px solid rgba(var(--black),.25);
 display:flex;
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:700;
 height:40px;
 justify-content:center;
 line-height:1.333;
 padding:5px 0
}
.criTZ .tosY3 {
 -webkit-overflow-scrolling:touch;
 overflow-y:auto;
 width:100%
}
.QYM1E {
 height:50vh;
 width:90vw
}
.lHc1y,
.zOAiO {
 align-items:center;
 display:flex;
 justify-content:center;
 width:100%
}
.lHc1y {
 color:inherit;
 cursor:pointer
}
.lHc1y .gcKSf {
 color:rgba(var(--black),.65);
 flex:1;
 max-width:200px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
.lHc1y .gcKSf.h6_FZ {
 color:rgba(var(--white-on-dark),.65)
}
.lHc1y .gcKSf.HhrsO {
 margin-left:10px
}
.lHc1y svg {
 margin-left:5px
}
.wxU_r {
 justify-content:left
}
.SERD7 {
 background-color:RGB(var(--accent));
 border-radius:50%;
 height:10px;
 margin-left:-5px;
 margin-top:-12px;
 transform:translateZ(0);
 width:10px
}
.HPx0P,
.kyh7r {
 align-items:center;
 display:flex;
 justify-content:space-between
}
.HPx0P {
 background:RGB(var(--navy));
 height:44px;
 position:fixed;
 width:100vw;
 z-index:100
}
.HPx0P .u63xZ {
 font-size:0;
 padding-left:10px
}
.HPx0P .Go9jW {
 color:RGB(var(--white-on-dark));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.HPx0P .x8sYn {
 padding-right:10px
}
.HPx0P .u63xZ,
.HPx0P .x8sYn {
 line-height:0
}
.kyh7r {
 border-bottom:1px solid rgba(var(--black),.13);
 color:RGB(var(--black));
 font-size:1rem;
 padding:10px;
 position:relative
}
.kyh7r,
.kyh7r .Go9jW {
 font-family:var(--font-family);
 font-weight:700;
 line-height:1.5
}
.kyh7r .Go9jW {
 font-size:.875rem;
 max-height:26px;
 overflow:hidden
}
.kyh7r .Go9jW svg use {
 --icon-color-primary:RGB(var(--black))
}
.kyh7r .DBG9_,
.kyh7r .mA8xO {
 cursor:pointer;
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:700;
 line-height:1.44;
 margin:0;
 text-align:right;
 -webkit-user-select:none;
 -moz-user-select:none;
 user-select:none
}
.kyh7r .DBG9_ {
 color:RGB(var(--accent))
}
.kyh7r .mA8xO {
 color:rgba(var(--black),.4)
}
.M34dz {
 background:RGB(var(--white))
}
.M34dz .glTqf {
 align-items:center;
 background-color:RGB(var(--white));
 color:rgba(var(--black),.65);
 display:flex;
 padding:15px
}
.M34dz .glTqf span {
 margin-right:5px
}
.M34dz .glTqf input,
.M34dz .glTqf span {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.M34dz .glTqf input {
 background-color:inherit;
 border:none;
 color:inherit;
 width:100%
}
.M34dz .glTqf input:focus {
 outline:none
}
.M34dz .P4xeq {
 position:absolute
}
.M34dz .P4xeq:last-child {
 position:relative
}
.M34dz .n23S3 button:first-child span {
 border-top:none
}
.M34dz .X_lFW {
 background-color:rgba(var(--black),.07);
 color:rgba(var(--black),.65);
 font-size:.875rem;
 padding:5px 15px
}
.M34dz .X_lFW,
.M34dz .X_lFW.wSjVv {
 font-family:var(--font-family);
 font-weight:400;
 line-height:1.5
}
.M34dz .X_lFW.wSjVv {
 font-size:1rem
}
.M34dz .oLgq2 {
 align-items:center;
 border-top:1px solid rgba(var(--black),.13);
 color:rgba(var(--black),.65);
 display:flex;
 justify-content:center;
 min-height:200px;
 padding:15px;
 text-align:center
}
.FBnVP,
._v5gz {
 display:flex;
 flex-direction:column;
 width:100%
}
.FBnVP .EXUkD,
._v5gz .EXUkD {
 background:RGB(var(--navy))
}
.FBnVP .PDF9O,
._v5gz .PDF9O {
 background:RGB(var(--white));
 padding:20px 0
}
.FBnVP .Zd01K,
._v5gz .Zd01K {
 align-items:center;
 display:flex;
 height:100vh;
 width:100vw
}
._v5gz {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 min-height:100vh
}
._v5gz .mBa_9 {
 height:44px
}
.FBnVP {
 border-radius:3px;
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 max-height:inherit
}
.FBnVP .EXUkD {
 display:flex;
 flex-direction:column;
 overflow-y:auto
}
.Tjbvn {
 display:none
}
