.CkEXb {
 bottom:40px;
 flex-direction:column;
 left:0;
 pointer-events:none;
 position:fixed;
 width:100%;
 z-index:101
}
.CkEXb,
.CkEXb .a0A37 {
 align-items:center;
 display:flex
}
.CkEXb .a0A37 {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 background:RGB(var(--white));
 border-radius:3px;
 box-shadow:0 0 15px 0 rgba(0,0,0,.5);
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 margin-bottom:2px;
 padding:10px 12px;
 pointer-events:all
}
@-webkit-keyframes P8JEa {
 0% {
  opacity:0;
  transform:translateY(50%)
 }
 to {
  opacity:1;
  transform:translateY(0)
 }
}
@keyframes P8JEa {
 0% {
  opacity:0;
  transform:translateY(50%)
 }
 to {
  opacity:1;
  transform:translateY(0)
 }
}
@-webkit-keyframes aNHK7 {
 0% {
  opacity:1;
  transform:translateY(0)
 }
 to {
  opacity:0;
  transform:translateY(-50%)
 }
}
@keyframes aNHK7 {
 0% {
  opacity:1;
  transform:translateY(0)
 }
 to {
  opacity:0;
  transform:translateY(-50%)
 }
}
.CkEXb .a0A37 p {
 margin-bottom:0
}
.CkEXb .a0A37 svg {
 margin-right:8px;
 min-height:20px;
 min-width:20px
}
.CkEXb .a0A37.hAkP2 {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 7.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 7.7s;
 background:RGB(var(--red));
 color:RGB(var(--white))
}
.CkEXb .a0A37.LNdFd {
 background:RGB(var(--green));
 color:RGB(var(--white))
}
.CkEXb .a0A37.LNdFd,
.CkEXb .a0A37.tm7hO {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s
}
.CkEXb .a0A37.tm7hO {
 background:#7c5cff;
 color:#fff
}
.s0qqG {
 background:#e8d738;
 border-radius:6px;
 bottom:0;
 box-shadow:0 0 15px 0 rgba(0,0,0,.5);
 box-sizing:border-box;
 color:#000;
 display:flex;
 flex-direction:column;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 left:0;
 line-height:1.5;
 margin:10px;
 max-width:520px;
 padding:15px;
 position:fixed
}
@media(max-width:540px) {
 .s0qqG {
  max-width:none;
  min-width:auto;
  right:0
 }
}
.s0qqG a {
 text-decoration:underline
}
.s0qqG .WGFYZ {
 position:absolute;
 right:15px;
 top:15px
}
.s0qqG ._h_yT {
 margin-bottom:8px
}
.s0qqG ._h_yT:first-child {
 padding-right:30px
}
.s0qqG ._h_yT:last-child {
 margin-bottom:0
}
.D5eCV {
 background:RGB(var(--navy));
 min-height:100vh;
 width:100%
}
.palette--tml2007 .D5eCV {
 background-color:#020024;
 background-image:linear-gradient(180deg,#020024,#020024 55px,#555e72 400px)
}
.gxf2Y {
 stroke:RGB(var(--white-on-dark));
 align-items:center;
 background-color:transparent;
 box-sizing:border-box;
 display:flex;
 height:30px;
 justify-content:center;
 margin-bottom:8px;
 margin-top:auto;
 padding:4px 0 2px;
 width:auto
}
.gxf2Y svg {
 transform:rotate(-90deg)
}
.gxf2Y circle {
 stroke-width:4px;
 fill:none;
 stroke-dasharray:113.0973355292px
}
@-webkit-keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@-webkit-keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
@keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
.bZWbL {
 -webkit-animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite;
 animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite
}
.sRM0W {
 background-color:transparent;
 bottom:4px;
 left:4px;
 position:absolute;
 right:4px;
 top:4px
}
.sRM0W,
.v2cZ4 {
 border-radius:50%
}
.v2cZ4 {
 background-color:RGB(var(--white));
 height:30px;
 position:relative
}
.m3lOJ {
 align-items:center;
 display:flex;
 justify-content:space-between;
 margin-bottom:60px
}
@media(max-width:989px) {
 .m3lOJ {
  margin-left:auto;
  margin-right:auto;
  max-width:calc(100% - 20px)
 }
}
.PY8Tb {
 align-items:center;
 border-radius:3px;
 display:flex;
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 justify-content:center;
 line-height:1.5;
 min-width:57.5px;
 padding:6px 10px
}
.PY8Tb.B5txQ {
 margin-left:auto;
 transition:transform .2s cubic-bezier(.165,.84,.44,1)
}
.PY8Tb.B5txQ svg {
 margin-left:8px
}
.PY8Tb.jIdvc svg {
 margin-right:8px
}
.PY8Tb .Xp6EK {
 align-items:center;
 box-sizing:border-box;
 display:flex;
 justify-content:space-evenly
}
.yFmaH {
 align-items:flex-start;
 border-radius:3px;
 display:flex;
 margin-bottom:15px;
 padding:12px
}
.yFmaH .n8yJq {
 display:flex;
 margin-right:12px
}
.yFmaH .O2b5p {
 display:block
}
.yFmaH .u8HQ3 {
 display:flex;
 flex-direction:column;
 justify-content:center;
 min-height:24px
}
.yFmaH .u8HQ3 .agHCR {
 font-weight:700;
 margin-bottom:12px
}
.yFmaH .u8HQ3 .agHCR,
.yFmaH .u8HQ3 .sPAXn {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 line-height:1.5;
 margin-right:12px
}
.yFmaH .u8HQ3 .sPAXn {
 font-weight:400
}
.yFmaH .u8HQ3 .dhNbz {
 align-items:center;
 display:flex;
 margin-top:4px
}
.yFmaH .u8HQ3 .dhNbz .B8pBx {
 cursor:pointer
}
.yFmaH .u8HQ3 .dhNbz .B8pBx,
.yFmaH .u8HQ3 .dhNbz .UFrll {
 color:RGB(var(--accent));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5;
 margin-right:12px
}
.YIpzf {
 display:flex;
 width:100%
}
@media(max-width:540px) {
 .YIpzf {
  flex-direction:column
 }
}
.YIpzf:disabled {
 opacity:.5
}
.ou6Mu {
 align-items:center;
 display:flex;
 flex-grow:1;
 margin-right:10px
}
.ou6Mu:last-child {
 margin-right:0
}
@media(max-width:540px) {
 .ou6Mu {
  margin:5px 0
 }
}
.ou6Mu label {
 align-items:center;
 background-color:rgba(var(--black),.07);
 border:2px solid transparent;
 border-radius:3px;
 color:RGB(var(--black));
 display:flex;
 flex-grow:1;
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:bolder;
 line-height:1.3077;
 padding:4px 10px
}
.ou6Mu input:checked~label {
 background-color:rgba(var(--accent),.15)
}
.ou6Mu input:checked~label,
.ou6Mu input:checked~label .Hm8d6 {
 border-color:RGB(var(--accent))
}
.ou6Mu input:checked~label svg use {
 --icon-color-primary:RGB(var(--accent))
}
.ou6Mu input:focus~label {
 outline:1px dotted RGB(var(--accent))
}
.Hm8d6 {
 border:2px solid rgba(var(--black),.65);
 border-radius:50%;
 display:flex;
 flex-shrink:0;
 height:18px;
 margin-right:10px;
 width:18px
}
.Hm8d6 svg {
 height:24px;
 margin:-2px;
 width:24px
}
.Rp8gp {
 border-radius:30px;
 color:rgba(var(--black),.4);
 display:inline-block;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 line-height:30px;
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) {
 background-color:rgba(var(--accent),.25);
 color:RGB(var(--accent));
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) svg use {
 --icon-color-primary:RGB(var(--accent))
}
.Qj_pr {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.oNZY7 {
 width:300px
}
.cybcx {
 align-items:center;
 background:RGB(var(--accent));
 border-radius:1em;
 display:flex;
 height:25px;
 justify-content:center;
 position:absolute;
 right:-10px;
 top:-10px;
 transition:transform .2s ease-in;
 width:25px
}
.cybcx:focus,
.cybcx:hover {
 transform:scale(1.1)
}
.h1D5S {
 bottom:0;
 display:flex;
 margin:10px;
 position:fixed;
 right:0
}
.h1D5S.MsxAB {
 bottom:40px;
 right:unset
}
.GDWdm {
 background:RGB(var(--navy));
 height:100%;
 position:fixed;
 top:0;
 width:100%
}
.GDWdm:focus {
 outline:none
}
.ohi9S {
 margin-bottom:38px;
 position:-webkit-sticky;
 position:sticky
}
.gPQR5 {
 box-sizing:border-box;
 display:flex;
 margin:40px auto 0;
 max-width:990px;
 padding:0 8px;
 width:100%
}
@media(min-width:990px) {
 .gPQR5.JR92v {
  max-width:970px
 }
 .gPQR5.JR92v .lSyOz {
  max-width:620px
 }
 .gPQR5.Ajmg_ {
  max-width:970px
 }
}
@media(min-width:1310px) {
 .gPQR5.Ajmg_ {
  max-width:1290px
 }
}
@media(min-width:990px) {
 .gPQR5.Ajmg_ .lSyOz {
  max-width:620px
 }
}
@media(min-width:1310px) {
 .gPQR5.Ajmg_ .lSyOz {
  max-width:940px
 }
}
@media(min-width:990px) {
 .gPQR5.pTaNm {
  max-width:970px
 }
}
@media(min-width:1310px) {
 .gPQR5.pTaNm {
  max-width:1290px
 }
}
@media(min-width:1630px) {
 .gPQR5.pTaNm {
  max-width:1610px
 }
}
@media(min-width:990px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:620px
 }
}
@media(min-width:1310px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:940px
 }
}
@media(min-width:1630px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:1260px
 }
}
.palette--tml2007 .gPQR5 {
 background:#e1e1e1;
 padding:0
}
@media(min-width:540px) {
 .palette--tml2007 .gPQR5 {
  margin-top:60px
 }
}
.palette--tml2007 .gPQR5 .lSyOz {
 background:#f3f3f3;
 display:flex;
 flex-direction:column;
 max-width:670px
}
.palette--tml2007 .gPQR5 .e1knl {
 margin-left:0;
 margin-top:111px;
 width:320px
}
.lSyOz {
 align-items:flex-end;
 display:flex;
 flex-direction:column;
 max-width:625px;
 width:100%
}
.FGfuE {
 margin-top:0
}
.FGfuE .lSyOz {
 border-right:1px solid rgba(var(--white-on-dark),.13);
 padding-right:14px
}
.FGfuE .e1knl {
 margin-left:0;
 padding-left:15px;
 padding-top:20px
}
.e1knl {
 display:flex;
 flex-direction:column;
 margin-left:30px;
 width:320px
}
.e1knl aside {
 flex:1
}
@media(max-width:989px) {
 .gPQR5 {
  justify-content:center;
  margin-top:0;
  padding:0
 }
 .lSyOz {
  align-items:center
 }
}
.JLj8X {
 align-items:center;
 display:flex
}
.BTxvm {
 border-radius:50%;
 height:8px;
 margin-right:6px;
 width:8px
}
.dVnGX {
 background-color:#01cf35
}
.OFnac {
 background-color:#00b8ff
}
.OMnoC {
 background-color:rgba(var(--black),.4)
}
.QEWoN {
 background-color:#e8d73a
}
.nQ4gg {
 background-color:rgba(var(--black),.4)
}
.iH8RG {
 background-color:#01cf35
}
.HPbUp {
 border-top:1px solid rgba(0,0,0,.07);
 margin-left:2em;
 padding-top:20px
}
.sEK_i {
 margin-left:1px
}
.H3wvd {
 flex-direction:column;
 margin-bottom:24px
}
.H3wvd div {
 margin-right:0
}
.H3wvd label {
 background-color:transparent;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.H3wvd label p {
 margin-bottom:0
}
.tOTYF {
 align-items:center;
 display:flex;
 flex-direction:column;
 justify-content:center
}
.Br4Tr {
 max-width:332px
}
.yj8Cy {
 display:initial;
 width:174px
}
.OqO0u {
 width:100%
}
.zidVD {
 margin-bottom:8px
}
.kdRoV {
 display:flex;
 justify-content:center
}
.kdRoV .n5OOC {
 position:relative;
 top:-68px
}
.kdRoV .n5OOC .lOyKb {
 border:4px solid rgb(var(--white));
 border-radius:50%
}
.IDt5o {
 line-height:24px;
 margin-bottom:16px;
 margin-top:-60px;
 text-align:center
}
.k9Vhf {
 display:flex;
 flex-direction:column;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.k9Vhf span {
 color:rgba(var(--black),.65);
 font-weight:400
}
.nk7Np {
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:bolder;
 line-height:1.3077
}
.nk7Np .N3kLb {
 margin-left:8px
}
.N3kLb {
 margin-left:1px
}
.DHRun {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 font-weight:300;
 line-height:1.5;
 margin-bottom:14px;
 text-align:center
}
.DHRun,
.sw0ki {
 font-size:16px
}
.sw0ki {
 font-weight:400;
 line-height:24px;
 margin-bottom:16px
}
.gANZM {
 align-items:center;
 border-bottom:1px solid rgba(var(--black),.04);
 display:flex;
 justify-content:space-between;
 padding-bottom:12px;
 padding-top:12px
}
.gANZM p {
 margin-bottom:0
}
.gANZM .bpVyg,
.oHljh {
 color:rgba(var(--black),.6)
}
.oHljh {
 font-size:14px;
 line-height:20px;
 margin-bottom:16px;
 padding-left:16px;
 padding-right:16px;
 text-align:center
}
.njjuy {
 align-items:center;
 display:flex;
 flex-direction:column
}
.njjuy button {
 border-radius:50px;
 font-size:18px;
 font-weight:400;
 height:42px;
 line-height:24px;
 margin-bottom:8px;
 min-width:350px;
 padding:8px 15px
}
.ezv4R {
 margin-bottom:-10px;
 padding:14px 14px 0
}
.WMZA3 {
 border:1px solid #000;
 height:42px;
 min-width:350px
}
.N5qgd {
 align-items:center;
 display:flex;
 justify-content:space-between;
 width:300px
}
.xb8QU {
 margin:0 auto
}
.WzYKI {
 background-color:RGB(var(--white));
 border-radius:4px;
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-size:14px;
 font-weight:400;
 line-height:1.5;
 line-height:20px;
 padding-bottom:8px;
 width:100%
}
.yLu0V {
 color:rgba(var(--black),.6);
 font-weight:700
}
.yLu0V .WXBq9 {
 border-bottom:1px solid rgba(var(--black),.07)
}
.GReNU {
 font-size:14px;
 line-height:20px
}
.GReNU .WXBq9:hover {
 background-color:rgba(var(--black),.07)
}
.WXBq9 {
 cursor:pointer;
 padding:16px
}
.WXBq9,
.dIOXW {
 align-items:center;
 display:flex
}
.dIOXW {
 overflow-wrap:anywhere
}
.dIOXW.kCpnf {
 margin-right:24px;
 width:40%
}
.dIOXW.dDjot {
 margin-right:24px;
 width:25%
}
.dIOXW.dDjot figure {
 margin-right:8px
}
.dIOXW._0dcOw {
 width:35%
}
.qaT8j {
 background-color:rgba(var(--accent),.07)
}
.Qxxuu {
 align-items:center;
 background-color:rgba(var(--black),.13);
 background-position:50%;
 background-repeat:no-repeat;
 border-radius:3px;
 display:flex;
 height:36px;
 justify-content:center;
 margin-right:8px;
 min-width:36px
}
.zCeHb {
 background-image:url(/pop/src/assets/images/tumblrmart/ad-free-gift@2x-b0a01896.png);
 background-size:36px
}
.V6Er7 {
 background-image:url(/pop/src/assets/images/tumblrmart/crab@2x-dfa0974b.png),linear-gradient(180deg,#ff8a00,#ff61ce);
 background-size:24px,auto
}
.gwiCD {
 margin-right:8px
}
.gcikD {
 font-size:12px;
 line-height:19px;
 margin-bottom:0
}
.MAQJh,
.gcikD {
 color:rgba(var(--black),.4)
}
.WwICu,
.iwny7 {
 background-color:RGB(var(--accent));
 border-radius:2px;
 color:RGB(var(--white));
 font-weight:700;
 padding:10px 6px
}
.b5trn {
 border-bottom:1px solid rgba(var(--black),.13);
 display:flex;
 font-size:18px;
 font-weight:700;
 line-height:24px;
 margin:20px 0;
 width:100
}
.palette--trueBlue .b5trn {
 border-bottom:1px solid rgba(var(--white),.13)
}
.K9dpm {
 color:rgba(var(--black),.6);
 padding:12px 16px
}
.palette--trueBlue .K9dpm {
 color:rgba(var(--white),.6)
}
.bLHZO {
 box-shadow:inset 0 -2px 0 RGB(var(--accent))
}
.bLHZO,
.palette--trueBlue .bLHZO {
 color:RGB(var(--accent))
}
.u6RxV {
 margin-bottom:40px;
 width:100%
}
.e3ATk {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1.625rem;
 font-size:26px;
 font-weight:400;
 line-height:1.3077;
 line-height:34px;
 margin-left:0
}
.palette--trueBlue .e3ATk {
 color:RGB(var(--white))
}
.BWos1,
.q3FhE {
 margin:20px 0
}
.XqgDl {
 align-items:center;
 background-color:rgba(var(--white-on-dark),.07);
 border-radius:4px;
 color:rgba(var(--black),.4);
 display:flex;
 flex-direction:column;
 font-family:var(--font-family);
 font-size:.875rem;
 font-size:16px;
 font-weight:400;
 justify-content:center;
 line-height:1.5;
 line-height:20px;
 padding:40px 16px
}
.palette--trueBlue .XqgDl {
 color:rgba(var(--white),.4)
}
.XqgDl .e3ATk {
 font-size:18px
}
.palette--trueBlue .XqgDl .e3ATk {
 color:rgba(var(--white),.4)
}
.XqgDl .XOwfJ {
 margin-bottom:0
}
