.CkEXb {
 bottom:40px;
 flex-direction:column;
 left:0;
 pointer-events:none;
 position:fixed;
 width:100%;
 z-index:101
}
.CkEXb,
.CkEXb .a0A37 {
 align-items:center;
 display:flex
}
.CkEXb .a0A37 {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 background:RGB(var(--white));
 border-radius:3px;
 box-shadow:0 0 15px 0 rgba(0,0,0,.5);
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 margin-bottom:2px;
 padding:10px 12px;
 pointer-events:all
}
@-webkit-keyframes P8JEa {
 0% {
  opacity:0;
  transform:translateY(50%)
 }
 to {
  opacity:1;
  transform:translateY(0)
 }
}
@keyframes P8JEa {
 0% {
  opacity:0;
  transform:translateY(50%)
 }
 to {
  opacity:1;
  transform:translateY(0)
 }
}
@-webkit-keyframes aNHK7 {
 0% {
  opacity:1;
  transform:translateY(0)
 }
 to {
  opacity:0;
  transform:translateY(-50%)
 }
}
@keyframes aNHK7 {
 0% {
  opacity:1;
  transform:translateY(0)
 }
 to {
  opacity:0;
  transform:translateY(-50%)
 }
}
.CkEXb .a0A37 p {
 margin-bottom:0
}
.CkEXb .a0A37 svg {
 margin-right:8px;
 min-height:20px;
 min-width:20px
}
.CkEXb .a0A37.hAkP2 {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 7.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 7.7s;
 background:RGB(var(--red));
 color:RGB(var(--white))
}
.CkEXb .a0A37.LNdFd {
 background:RGB(var(--green));
 color:RGB(var(--white))
}
.CkEXb .a0A37.LNdFd,
.CkEXb .a0A37.tm7hO {
 -webkit-animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s;
 animation:P8JEa .3s ease-in,aNHK7 .3s ease-out 3.7s
}
.CkEXb .a0A37.tm7hO {
 background:#7c5cff;
 color:#fff
}
.s0qqG {
 background:#e8d738;
 border-radius:6px;
 bottom:0;
 box-shadow:0 0 15px 0 rgba(0,0,0,.5);
 box-sizing:border-box;
 color:#000;
 display:flex;
 flex-direction:column;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 left:0;
 line-height:1.5;
 margin:10px;
 max-width:520px;
 padding:15px;
 position:fixed
}
@media(max-width:540px) {
 .s0qqG {
  max-width:none;
  min-width:auto;
  right:0
 }
}
.s0qqG a {
 text-decoration:underline
}
.s0qqG .WGFYZ {
 position:absolute;
 right:15px;
 top:15px
}
.s0qqG ._h_yT {
 margin-bottom:8px
}
.s0qqG ._h_yT:first-child {
 padding-right:30px
}
.s0qqG ._h_yT:last-child {
 margin-bottom:0
}
.D5eCV {
 background:RGB(var(--navy));
 min-height:100vh;
 width:100%
}
.palette--tml2007 .D5eCV {
 background-color:#020024;
 background-image:linear-gradient(180deg,#020024,#020024 55px,#555e72 400px)
}
.Ut4iZ {
 display:flex;
 justify-content:center;
 position:relative;
 width:100%
}
.Ro4PU {
 display:block;
 height:100%;
 position:absolute
}
.Ro4PU,
._ON2X {
 width:100%
}
.wmRou {
 word-wrap:break-word;
 align-items:center;
 display:flex;
 flex-grow:1;
 -webkit-hyphens:auto;
 hyphens:auto;
 line-height:1.2;
 min-height:43px;
 outline:none;
 overflow-wrap:break-word;
 padding:8px 10px;
 text-decoration:none;
 vertical-align:middle
}
.wmRou .qgKw0 {
 margin-right:11px;
 position:relative
}
.wmRou .yElCb {
 align-items:center;
 display:flex
}
.wmRou>span {
 width:100%
}
.QK2Zh {
 position:relative
}
.fTJAC,
.gLEkw {
 text-align:left;
 word-break:break-word
}
.gLEkw {
 align-items:center;
 display:flex;
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.gLEkw .UulOO {
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .gLEkw .UulOO {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .gLEkw .UulOO {
  white-space:nowrap
 }
}
.fTJAC {
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .fTJAC {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .fTJAC {
  white-space:nowrap
 }
}
.SbeG8 {
 align-items:center;
 display:flex;
 padding-right:14px;
 position:relative;
 text-align:right
}
.SbeG8.cXm8C {
 padding-right:0
}
.SbeG8.Mk7yS svg use {
 --icon-color-primary:var(--color-title)
}
.isGvB,
.vu9JS {
 margin-left:5px
}
.Ut4iZ:not(.veU9u):focus-within,
.Ut4iZ:not(.veU9u):hover {
 background-color:rgba(var(--white-on-dark),.07)
}
.Ut4iZ:not(.veU9u) .fTJAC {
 color:rgba(var(--white-on-dark),.65)
}
.Ut4iZ:not(.veU9u) .gLEkw {
 color:RGB(var(--white-on-dark))
}
.veU9u .Ro4PU:focus+.wmRou,
.veU9u .Ro4PU:focus+.wmRou+.SbeG8,
.veU9u:hover {
 background-color:RGB(var(--secondary-accent));
 outline:none
}
.veU9u .wmRou:focus,
.veU9u .wmRou:focus+.SbeG8,
.veU9u .wmRou:hover,
.veU9u .wmRou:hover+.SbeG8 {
 background-color:RGB(var(--secondary-accent))
}
.veU9u .wmRou .gLEkw {
 color:RGB(var(--black))
}
.veU9u .wmRou .fTJAC {
 color:rgba(var(--black),.65)
}
.ZOX9S .Ro4PU:focus+.wmRou,
.ZOX9S .Ro4PU:focus+.wmRou+.SbeG8,
.ZOX9S:hover {
 background-color:var(--blog-background-hover-color);
 outline:none
}
.ZOX9S .wmRou .fTJAC,
.ZOX9S .wmRou .gLEkw {
 color:var(--blog-text-color)
}
.KXYTk .wmRou {
 padding-left:18px
}
.KXYTk .QK2Zh {
 align-items:flex-start;
 display:flex;
 flex-direction:column
}
.KXYTk .fTJAC,
.KXYTk .gLEkw {
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:400;
 line-height:1.333
}
.FZkjV {
 margin-bottom:38px;
 width:100%
}
.FZkjV:last-child {
 margin-bottom:0
}
.hF8Wr {
 border-bottom:2px solid rgba(var(--white-on-dark),.13);
 color:var(--color-title);
 font-family:var(--font-family);
 font-size:1.3125rem;
 font-weight:700;
 line-height:1.5238;
 line-height:1.2;
 padding:0 10px 10px
}
.palette--tml2007 .hF8Wr {
 background:#c8c8c8;
 border:0;
 padding-top:10px
}
.g44JE {
 color:RGB(var(--white-on-dark));
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:400;
 line-height:1.333;
 padding-left:0;
 width:100%
}
.g44JE .IMj2J {
 background:rgba(var(--white-on-dark),.07)
}
.g44JE li,
.g44JE ul {
 list-style:none;
 margin:0;
 padding:0
}
.g44JE li {
 border-top:1px solid rgba(var(--white-on-dark),.07);
 padding:8px 12px
}
.g44JE li a {
 color:inherit;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 text-decoration:none
}
.g44JE li small {
 color:rgba(var(--white-on-dark),.65);
 font-size:13px;
 font-weight:400
}
.g44JE li:hover {
 background-color:rgba(var(--white-on-dark),.07)
}
.g44JE .UipYC {
 padding:0
}
.g44JE .UipYC a {
 align-items:center;
 flex-direction:row;
 justify-content:flex-start
}
.C7d0G {
 align-items:center;
 display:flex;
 justify-content:center;
 min-height:75px
}
.gPQR5 {
 box-sizing:border-box;
 display:flex;
 margin:40px auto 0;
 max-width:990px;
 padding:0 8px;
 width:100%
}
@media(min-width:990px) {
 .gPQR5.JR92v {
  max-width:970px
 }
 .gPQR5.JR92v .lSyOz {
  max-width:620px
 }
 .gPQR5.Ajmg_ {
  max-width:970px
 }
}
@media(min-width:1310px) {
 .gPQR5.Ajmg_ {
  max-width:1290px
 }
}
@media(min-width:990px) {
 .gPQR5.Ajmg_ .lSyOz {
  max-width:620px
 }
}
@media(min-width:1310px) {
 .gPQR5.Ajmg_ .lSyOz {
  max-width:940px
 }
}
@media(min-width:990px) {
 .gPQR5.pTaNm {
  max-width:970px
 }
}
@media(min-width:1310px) {
 .gPQR5.pTaNm {
  max-width:1290px
 }
}
@media(min-width:1630px) {
 .gPQR5.pTaNm {
  max-width:1610px
 }
}
@media(min-width:990px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:620px
 }
}
@media(min-width:1310px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:940px
 }
}
@media(min-width:1630px) {
 .gPQR5.pTaNm .lSyOz {
  max-width:1260px
 }
}
.palette--tml2007 .gPQR5 {
 background:#e1e1e1;
 padding:0
}
@media(min-width:540px) {
 .palette--tml2007 .gPQR5 {
  margin-top:60px
 }
}
.palette--tml2007 .gPQR5 .lSyOz {
 background:#f3f3f3;
 display:flex;
 flex-direction:column;
 max-width:670px
}
.palette--tml2007 .gPQR5 .e1knl {
 margin-left:0;
 margin-top:111px;
 width:320px
}
.lSyOz {
 align-items:flex-end;
 display:flex;
 flex-direction:column;
 max-width:625px;
 width:100%
}
.FGfuE {
 margin-top:0
}
.FGfuE .lSyOz {
 border-right:1px solid rgba(var(--white-on-dark),.13);
 padding-right:14px
}
.FGfuE .e1knl {
 margin-left:0;
 padding-left:15px;
 padding-top:20px
}
.e1knl {
 display:flex;
 flex-direction:column;
 margin-left:30px;
 width:320px
}
.e1knl aside {
 flex:1
}
@media(max-width:989px) {
 .gPQR5 {
  justify-content:center;
  margin-top:0;
  padding:0
 }
 .lSyOz {
  align-items:center
 }
}
.mvtqT {
 border-bottom:2px solid rgba(var(--black),.13);
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1.625rem;
 font-size:24px;
 font-weight:400;
 line-height:1.3077;
 line-height:1.3;
 padding-bottom:28px
}
.Jv_dp {
 flex:0 1 145px;
 min-width:145px;
 padding:0 10px
}
@media(max-width:540px) {
 .Jv_dp {
  flex-basis:auto;
  margin-bottom:20px
 }
}
.Jv_dp h3 {
 font-weight:700
}
.Jv_dp h3,
.Jv_dp h4 {
 color:RGB(var(--black))
}
.Jv_dp h4 {
 font-weight:300
}
.voaYL {
 border-bottom:1px solid rgba(var(--black),.07);
 display:flex;
 flex-direction:row;
 padding:20px 0;
 scroll-margin-top:calc(54px + .35rem);
 width:100%
}
@media(max-width:540px) {
 .voaYL {
  flex-direction:column
 }
}
.voaYL:last-of-type {
 border-bottom:none
}
.s5oiJ {
 flex-grow:1;
 max-width:380px;
 padding:0 10px
}
@media(max-width:540px) {
 .s5oiJ {
  max-width:100%
 }
}
.uyMIN .OPnDa {
 position:relative;
 z-index:999
}
.SYqpq {
 display:flex;
 flex-direction:column
}
.A0pGQ {
 align-items:center;
 justify-content:center;
 margin-right:10px
}
.hhA25 {
 font-size:.625rem
}
.Gh6jR {
 display:flex;
 justify-content:center;
 margin-top:5px
}
.NVhYO {
 align-items:center;
 display:flex;
 flex-direction:row
}
.W19cD {
 margin-left:8px;
 margin-top:3px
}
.s4DSF {
 margin-top:5px
}
.pGaw3 {
 display:flex;
 justify-content:space-between;
 margin-bottom:10px
}
.lPY88 {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5
}
small.lPY88 {
 font-size:.7em
}
.Rb_wu {
 box-sizing:border-box;
 display:inline-block;
 position:relative
}
.irkyW {
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.13);
 border-radius:4px;
 color:rgba(var(--black),.8);
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 margin:0;
 padding:7px 25px 7px 10px
}
.irkyW:disabled {
 background:rgba(var(--black),.13);
 border-color:transparent;
 color:rgba(var(--black),.4);
 cursor:not-allowed
}
.y9c3c {
 align-items:center;
 display:flex;
 height:100%;
 pointer-events:none;
 position:absolute;
 right:8px;
 top:0
}
.x2Gw6 {
 --icon-color-primary:rgba(var(--black),0.65)
}
.N9zx6,
.x2Gw6 {
 height:11px;
 width:11px
}
.N9zx6 {
 --icon-color-primary:rgba(var(--black),0.4)
}
.oR8IV {
 margin-top:.35em
}
.GVV9C {
 align-items:flex-start;
 display:flex
}
@media(max-width:540px) {
 .GVV9C {
  flex-wrap:wrap
 }
}
.BYWq2,
.dtQUP {
 margin-right:3px
}
@media(max-width:540px) {
 .BYWq2,
 .TW1Nh,
 .dtQUP {
  margin-bottom:6px
 }
}
.E5a3Z {
 display:flex;
 margin-bottom:10px
}
@media(max-width:540px) {
 .E5a3Z {
  align-items:flex-start;
  flex-direction:column
 }
}
.T9Tvl {
 margin-right:12px
}
@media(max-width:540px) {
 .T9Tvl {
  align-self:stretch;
  margin-right:0
 }
}
.W44Hp>span {
 font-size:.875rem
}
.cYtHj {
 font-weight:700
}
.SYoWm {
 margin:0 8px 0 0
}
.SYoWm:focus {
 filter:brightness(.75);
 outline:none
}
.SYoWm:disabled {
 cursor:default;
 opacity:.4
}
.M4ozn {
 align-items:center;
 align-items:stretch;
 display:flex;
 flex-wrap:wrap;
 margin:0
}
.XpugT {
 width:100%
}
@media(min-width:541px) {
 .XpugT {
  position:relative
 }
}
.WJF54 {
 display:flex;
 justify-content:space-between
}
.gWXwV {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.13);
 border-radius:2px;
 color:rgba(var(--black),.8);
 font-size:14px;
 margin:0 0 10px;
 outline:0;
 padding:8px 9px;
 width:100%
}
@media(min-width:541px) {
 .gWXwV {
  max-width:100%;
  width:330px
 }
}
.FQn3S .WJF54,
.zYSrd .WJF54 {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.13);
 border-radius:2px;
 color:rgba(var(--black),.8);
 font-size:14px;
 margin:0 0 10px;
 padding:8px 9px
}
@media(min-width:541px) {
 .FQn3S .WJF54,
 .zYSrd .WJF54 {
  max-width:100%;
  width:330px
 }
}
.FQn3S .gWXwV,
.zYSrd .gWXwV {
 border:none;
 flex-grow:1;
 margin:0;
 padding:0;
 width:auto
}
.FQn3S .ew6iy,
.zYSrd .ew6iy {
 margin-left:10px
}
.FQn3S .UjF9u,
.zYSrd .UjF9u {
 margin-right:10px
}
.QERwm .gWXwV {
 border-color:RGB(var(--red))
}
.QERwm .LPUrm {
 background-color:RGB(var(--red));
 border-radius:0 2px;
 color:RGB(var(--white));
 display:block;
 font-size:12px;
 font-weight:700;
 margin:-10px 0 0;
 padding:7px 10px;
 transition:opacity .1s ease,margin-left .2s ease-in-out;
 white-space:nowrap;
 z-index:3
}
@media(min-width:541px) {
 .QERwm .LPUrm {
  border-radius:2px;
  left:330px;
  margin:-15px 0 0 30px;
  position:absolute;
  top:16.5px
 }
}
.Bs6U3 {
 font-size:0
}
.Bs6U3.KDgcr .xmMz6 {
 height:14px;
 width:24px
}
.Bs6U3.KDgcr .xmMz6 input:focus~.UZrDG {
 border-radius:14px;
 box-shadow:0 0 5px 2px RGB(var(--accent));
 outline:none
}
.Bs6U3.KDgcr .UZrDG {
 border-radius:14px
}
.Bs6U3.KDgcr .UZrDG.U_rPn:before {
 transform:translateX(10px)
}
.Bs6U3.KDgcr .UZrDG:before {
 bottom:2px;
 height:10px;
 left:2px;
 width:10px
}
.Bs6U3.Ld5wO .xmMz6 {
 height:23px;
 width:40px
}
.Bs6U3.Ld5wO .xmMz6 input:focus~.UZrDG {
 border-radius:23px;
 box-shadow:0 0 5px 2px RGB(var(--accent));
 outline:none
}
.Bs6U3.Ld5wO .UZrDG {
 border-radius:23px
}
.Bs6U3.Ld5wO .UZrDG.U_rPn:before {
 transform:translateX(16px)
}
.Bs6U3.Ld5wO .UZrDG:before {
 bottom:4px;
 height:16px;
 left:4px;
 width:16px
}
.Bs6U3.gcGa_ .xmMz6 {
 height:34px;
 width:60px
}
.Bs6U3.gcGa_ .xmMz6 input:focus~.UZrDG {
 border-radius:34px;
 box-shadow:0 0 5px 2px RGB(var(--accent));
 outline:none
}
.Bs6U3.gcGa_ .UZrDG {
 border-radius:34px
}
.Bs6U3.gcGa_ .UZrDG.U_rPn:before {
 transform:translateX(26px)
}
.Bs6U3.gcGa_ .UZrDG:before {
 bottom:4px;
 height:26px;
 left:4px;
 width:26px
}
.Bs6U3 .xmMz6 {
 display:inline-block;
 position:relative
}
.Bs6U3 .xmMz6 input {
 opacity:0
}
.Bs6U3 .UZrDG {
 background-color:rgba(var(--black),.65);
 bottom:0;
 cursor:pointer;
 left:0;
 position:absolute;
 right:0;
 top:0;
 transition:.1s
}
.Bs6U3 .UZrDG.RHCmM {
 cursor:not-allowed;
 opacity:.3
}
.Bs6U3 .UZrDG:before {
 background-color:RGB(var(--white));
 border-radius:50%;
 content:"";
 position:absolute;
 transition:.1s
}
.Vqf0P {
 align-items:flex-start;
 justify-content:flex-start;
 margin:0 0 10px
}
.Vqf0P,
.gXVK_ {
 display:flex;
 width:100%
}
.gXVK_ {
 flex-direction:column;
 margin-left:10px
}
.aYo2G {
 color:rgba(var(--black),.8);
 flex-basis:100%;
 font-size:1em;
 width:100%
}
.TiBQg {
 margin-top:10px
}
.p5iNo {
 align-items:flex-start;
 color:RGB(var(--black));
 display:none;
 justify-content:space-between
}
.GEvLz {
 display:flex
}
.hduls {
 margin-left:.75em
}
.EAi_a {
 margin-bottom:10px
}
.QseG4 {
 align-items:flex-start;
 display:flex;
 flex-direction:column;
 height:0;
 justify-content:flex-start;
 opacity:0;
 overflow:hidden;
 padding:0;
 position:relative;
 transition:padding .1s ease-out
}
._2yZF {
 height:auto;
 margin-bottom:-20px;
 margin-top:0;
 opacity:1;
 overflow:visible;
 padding-bottom:20px;
 transition:opacity .15s ease-out,padding .1s ease-out
}
.ODnrS {
 z-index:11
}
.asQBI>:first-child {
 margin-top:3px
}
.AUKJy {
 border-bottom:1px solid rgba(var(--black),.13);
 border-top:none
}
.OY7m1 span {
 border:1px solid rgb(var(--accent));
 border-radius:3px;
 padding:8px 20px
}
.OY7m1 span,
.OY7m1[disabled] span {
 background-color:RGB(var(--accent));
 color:RGB(var(--white))
}
.OY7m1[disabled] span {
 opacity:.5
}
.D9uaF {
 flex-basis:100%;
 flex-grow:1;
 margin-right:15px;
 width:auto
}
.z3fHG {
 align-items:flex-start;
 display:flex;
 justify-content:stretch;
 width:100%
}
.WufiE {
 margin:6px 0 0
}
.WufiE span {
 background-color:rgba(var(--black),.4);
 border-radius:3px;
 color:RGB(var(--white));
 padding:8px 20px
}
.WufiE[disabled] span {
 opacity:.5
}
.pRdpD {
 align-items:flex-start;
 border-top:1px solid rgba(var(--black),.13);
 display:flex;
 justify-content:space-between;
 width:100%
}
.pRdpD .ApYbk {
 color:rgba(var(--black),.4);
 font-size:12px;
 height:40px;
 margin-right:20px;
 padding:11px 0 0 10px
}
.QRLai,
.oWAHi {
 list-style:none;
 margin:0;
 padding:0;
 width:100%
}
.oWAHi {
 height:24px;
 overflow:hidden;
 position:relative;
 white-space:nowrap
}
.oWAHi:before {
 background:linear-gradient(90deg,rgba(0,0,255,0) 0,RGB(var(--white)));
 bottom:0;
 content:"";
 left:0;
 pointer-events:none;
 position:absolute;
 right:0;
 top:0
}
.iAkIE {
 background-color:RGB(var(--accent));
 border-radius:40px;
 box-sizing:border-box;
 color:RGB(var(--white));
 cursor:pointer;
 display:inline-block;
 font-size:13px;
 font-weight:700;
 list-style:none;
 margin-right:5px;
 padding:3px 10px;
 text-align:center;
 text-decoration:none;
 transition:width .6s ease-in-out
}
.PgBCo {
 margin-bottom:15px
}
.Eo6XY,
.Y_7mh {
 display:inline
}
.Eo6XY {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 margin-right:.5em
}
.sZGoV {
 margin-bottom:20px;
 width:100%
}
.BAUJo,
.vZnaF {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44
}
.iKrSi {
 box-sizing:border-box;
 display:flex;
 justify-content:flex-end;
 padding:8px 12px;
 width:100%
}
.BAUJo {
 text-align:center;
 width:3rem
}
.uEH8s {
 --icon-color-primary:rgba(var(--black),0.4);
 height:14px;
 margin-right:.5rem;
 width:14px
}
.cDRRt {
 align-items:center;
 background:rgba(var(--black),.07);
 box-sizing:border-box;
 display:flex;
 justify-content:flex-start;
 margin:0 0 10px;
 padding:8px 12px;
 width:100%
}
.SZL9M {
 flex-basis:100%;
 margin-right:.5rem;
 width:100%
}
.ZDM1B {
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.DYswf,
.ZDM1B {
 font-family:var(--font-family)
}
.DYswf {
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44
}
.QcqHC {
 flex:0 0 3rem
}
.QcqHC,
.kdCBg {
 display:flex;
 justify-content:center
}
.kdCBg {
 align-items:center;
 flex-direction:column-reverse;
 margin-right:12px;
 padding:2px 2px 0;
 width:12px
}
.kdCBg .ygCDb {
 background-color:rgba(0,0,0,.15);
 height:2px;
 margin-bottom:2px;
 width:100%
}
.kdCBg.BtnTy .ygCDb:first-child,
.kdCBg.BtnTy .ygCDb:nth-child(0),
.kdCBg.TZ37z .ygCDb:first-child {
 background-color:#ff4930
}
.kdCBg.CwZaB .ygCDb:first-child,
.kdCBg.CwZaB .ygCDb:nth-child(2) {
 background-color:#ff8a00
}
.kdCBg.W3gv4 .ygCDb:first-child,
.kdCBg.W3gv4 .ygCDb:nth-child(2),
.kdCBg.W3gv4 .ygCDb:nth-child(3),
.kdCBg.W3gv4 .ygCDb:nth-child(4),
.kdCBg.hTKX9 .ygCDb:first-child,
.kdCBg.hTKX9 .ygCDb:nth-child(2),
.kdCBg.hTKX9 .ygCDb:nth-child(3),
.kdCBg.hXGzk .ygCDb:first-child,
.kdCBg.hXGzk .ygCDb:nth-child(2),
.kdCBg.hXGzk .ygCDb:nth-child(3),
.kdCBg.hXGzk .ygCDb:nth-child(4),
.kdCBg.hXGzk .ygCDb:nth-child(5) {
 background-color:#00cf35
}
.kdCBg.BtnTy .ygCDb {
 box-shadow:0 0 6px 0 #ff4930
}
.kdCBg.hXGzk .ygCDb {
 box-shadow:0 0 6px 0 #00cf35
}
.kdCBg .NQOwh .ygCDb {
 background-color:rgba(0,0,0,.15)
}
.yHeHp {
 margin-right:0
}
.Mx5PA {
 margin-left:34px;
 position:relative;
 z-index:999
}
.cS1BO,
.cS1BO>div {
 margin-bottom:10px
}
.AYoSP {
 align-items:flex-start;
 display:flex;
 justify-content:space-between;
 width:100%
}
.xmfAZ {
 background-color:RGB(var(--accent));
 border-radius:6px;
 box-sizing:border-box;
 color:RGB(var(--white));
 line-height:1.4;
 margin-top:5px;
 padding:14px 16px;
 width:100%
}
@media(max-width:540px) {
 .xmfAZ {
  border-radius:0
 }
}
.xmfAZ.Rakgc {
 -webkit-animation:rcBJq .35s ease-in-out normal;
 animation:rcBJq .35s ease-in-out normal
}
@-webkit-keyframes rcBJq {
 0% {
  opacity:1
 }
 to {
  opacity:0
 }
}
@keyframes rcBJq {
 0% {
  opacity:1
 }
 to {
  opacity:0
 }
}
.xmfAZ .T09uW {
 border-radius:3px;
 color:RGB(var(--accent));
 cursor:pointer;
 display:flex;
 font-weight:700;
 margin-left:auto;
 margin-top:10px;
 padding:6px 12px;
 text-decoration:none
}
.FuD76,
.xmfAZ .T09uW {
 background-color:RGB(var(--white))
}
.FuD76 {
 border:1px solid rgba(var(--black),.13);
 border-radius:2px;
 color:rgba(var(--black),.8);
 margin-bottom:10px;
 padding:5px 25px 5px 10px;
 width:100%
}
.c4pHa {
 margin-bottom:50px;
 width:80%
}
.FPcze {
 align-items:flex-start;
 display:flex;
 justify-content:space-between;
 width:100%
}
.Ww_QU {
 margin-left:34px;
 position:relative;
 z-index:999
}
.vffsM {
 margin-left:30px
}
.tdnMh {
 margin-bottom:20px
}
.zXAv3 {
 align-items:flex-start;
 display:flex;
 justify-content:space-between;
 width:100%
}
.SkFZP {
 position:relative;
 z-index:999
}
.FyNuo {
 display:flex;
 flex-direction:row;
 justify-content:flex-start
}
.QpFlt {
 padding-right:3px;
 width:43px
}
.ha0dc {
 background-color:rgba(0,0,0,.5);
 border-radius:3px;
 color:RGB(var(--white));
 padding:8px 20px
}
.AspDb {
 align-items:flex-start;
 background:rgba(0,0,0,.1);
 display:flex;
 justify-content:space-between;
 margin-bottom:5px;
 padding:15px
}
.HLnJd {
 color:rgba(var(--black),.4);
 font-size:12px;
 line-height:18px;
 margin:0
}
.d8HPJ {
 color:RGB(var(--black));
 font-family:Courier,monospace;
 font-size:18px;
 font-weight:700;
 line-height:1
}
.Iaw2_ {
 background:#fff
}
.K1HxJ {
 height:500px;
 margin-bottom:-150px;
 margin-top:-175px;
 padding-left:25px;
 width:500px
}
.lwRBs {
 margin:0 80px;
 width:500px
}
.CUUVy {
 color:#b4b4b4
}
.oqOHo {
 align-items:flex-start;
 color:#000;
 display:flex;
 flex-wrap:wrap;
 font-family:Courier,monospace;
 font-size:24px;
 font-weight:700;
 justify-content:space-between;
 letter-spacing:2px;
 line-height:24px;
 margin-top:30px;
 padding-left:25px
}
.oqOHo>span {
 flex:0 50%;
 height:50px
}
.Jki5o {
 display:flex;
 flex-direction:row;
 justify-content:flex-start
}
.qmVlD {
 padding-right:3px;
 width:43px
}
.hkcH8 {
 background-color:rgba(0,0,0,.5)
}
.I2aAI,
.hkcH8 {
 border-radius:3px;
 color:RGB(var(--white));
 padding:8px 20px
}
.I2aAI {
 background-color:RGB(var(--accent));
 margin-right:10px
}
.BVJcC {
 background:rgba(0,0,0,.1);
 color:RGB(var(--black));
 flex-direction:column;
 font-family:Courier,monospace;
 font-size:24px;
 font-weight:700;
 justify-content:space-between;
 letter-spacing:2px;
 line-height:24px;
 margin-bottom:5px;
 padding:15px
}
.BVJcC,
.UNRuR {
 align-items:flex-start;
 display:flex
}
.UNRuR {
 flex-wrap:none;
 margin-top:10px
}
.E1RbQ {
 border-bottom:1px solid rgba(var(--black),.13);
 font-size:13px
}
.E1RbQ td {
 line-height:1.3;
 padding:12px 4px 0 8px;
 vertical-align:top
}
.E1RbQ td strong {
 color:RGB(var(--black))
}
.E1RbQ .pEKDO strong {
 color:RGB(var(--green))
}
.Zj8Vp {
 width:100%
}
.Zj8Vp thead tr {
 border-bottom:1px solid rgba(var(--black),.13);
 border-top:1px solid rgba(var(--black),.13);
 height:32px
}
.Zj8Vp thead th {
 color:rgba(var(--black),.4);
 font-size:1em;
 font-weight:700;
 padding-left:8px;
 text-align:left;
 vertical-align:middle
}
.FKK97 {
 display:flex;
 justify-content:flex-end;
 padding-top:20px
}
.FKK97 a {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.4);
 border-radius:2px;
 color:rgba(var(--black),.4);
 display:inline-block;
 font-size:13px;
 font-weight:700;
 line-height:28px;
 margin:0 10px 0 0;
 padding:0 10px;
 text-decoration:none
}
.FKK97 a:hover {
 background-color:RGB(var(--red));
 border-color:RGB(var(--red));
 color:RGB(var(--white))
}
.CNM5x,
.wdSm_ {
 background:RGB(var(--white));
 border-radius:3px;
 color:RGB(var(--black));
 padding:20px 24px
}
.BXlw4 {
 padding:20px 0
}
@media(min-width:990px) {
 .vW450 {
  display:flex
 }
 .vW450 .Cn_DY {
  margin-left:10px
 }
}
.uRfDs {
 background:RGB(var(--white));
 border-radius:3px;
 color:RGB(var(--black));
 line-height:20px;
 padding:20px 24px
}
.uRfDs a {
 text-decoration:none
}
.KhLZS {
 border-bottom:1px solid rgba(var(--black),.07)
}
.KhLZS:last-of-type {
 border-bottom:none
}
.KhLZS .GxAPl {
 margin-top:10px
}
.HsNyj {
 padding:20px 0
}
.lzoVN {
 height:50px;
 min-width:50px;
 width:50px
}
.lzoVN img {
 max-height:100%;
 max-width:100%
}
.hUABj {
 padding:0 10px 0 20px
}
.XuSud {
 display:flex;
 padding:15px 10px
}
.XuSud .RupCA {
 flex:1
}
.AbcYn {
 font-weight:700
}
.EC08m {
 align-items:center;
 display:flex
}
.TbxOV {
 color:RGB(var(--white));
 height:35px;
 line-height:35px;
 margin-bottom:10px;
 max-width:140px;
 padding:0 10px 0 5px;
 text-align:right
}
.OfMpU,
.TbxOV {
 background-color:RGB(var(--green))
}
.SL01_ {
 background-color:RGB(var(--blue))
}
.hGBk1 {
 display:flex;
 margin:20px 0
}
@media(max-width:989px) {
 .hGBk1 {
  flex-direction:column
 }
}
.hGBk1 .wQxdE {
 max-width:405px
}
.hGBk1 .wQxdE img {
 width:100%
}
.hGBk1 .mQu8q {
 margin-top:30px;
 padding:10px
}
@media(max-width:989px) {
 .hGBk1 .mQu8q {
  margin:10px 5px;
  padding:0
 }
}
.hGBk1 .mQu8q a {
 margin-top:15px
}
.Sknd7 a {
 text-decoration:underline
}
.dhMBW {
 display:flex;
 justify-content:flex-end;
 padding-top:20px
}
.dhMBW a {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.4);
 border-radius:2px;
 color:rgba(var(--black),.4);
 display:inline-block;
 font-size:13px;
 font-weight:700;
 line-height:28px;
 margin:0 10px 0 0;
 padding:0 10px;
 text-decoration:none
}
.dhMBW a:hover {
 background-color:RGB(var(--red));
 border-color:RGB(var(--red));
 color:RGB(var(--white))
}
.RVtii {
 padding:20px 24px
}
.KpXL_,
.RVtii {
 background:RGB(var(--white));
 border-radius:3px
}
.N5rfV img {
 display:block;
 width:100%
}
.jAB8C {
 padding:20px 24px
}
.To1a0 {
 border-bottom:1px solid rgba(var(--black),.07);
 margin-bottom:20px
}
.To1a0:last-of-type {
 border-bottom:none
}
.To1a0 img {
 display:block;
 width:100%
}
.To1a0 img,
.boieV {
 margin-bottom:20px
}
.ufRsS {
 border-bottom:1px solid rgba(var(--black),.07);
 padding:20px 0;
 width:100%
}
.ufRsS .pL0jC {
 display:flex;
 width:100%
}
@media(max-width:540px) {
 .ufRsS .pL0jC {
  flex-direction:column
 }
}
.ufRsS .ijEt4 {
 align-items:center;
 display:flex;
 overflow:hidden;
 padding:0 10px
}
.ufRsS .ijEt4.pMkt4 {
 flex:1
}
@media(max-width:540px) {
 .ufRsS .ijEt4 {
  margin-bottom:20px
 }
}
.ufRsS .ijEt4 .F6V0M {
 font-weight:700;
 line-height:normal;
 margin-left:7px;
 overflow:hidden;
 text-overflow:ellipsis
}
.ufRsS .fR9nH {
 align-items:center;
 display:flex;
 justify-content:flex-end;
 padding:0 10px
}
.ufRsS .fR9nH.OYJzQ {
 flex:1 0 auto
}
@media(max-width:540px) {
 .ufRsS .fR9nH {
  justify-content:flex-start
 }
}
.ufRsS .fR9nH .bSg4J {
 font-size:12px
}
.ufRsS .fR9nH .X7YA0 {
 align-items:center
}
.ufRsS .T_cYX {
 border-top:1px solid rgba(var(--black),.07);
 height:0;
 margin:0;
 opacity:0;
 overflow:hidden;
 padding:0;
 transition:margin .1s ease-out,padding .1s ease-out
}
.ufRsS .T_cYX .Q5xi5 {
 display:flex;
 padding:10px 0 10px 45px;
 width:100%
}
@media(max-width:540px) {
 .ufRsS .T_cYX .Q5xi5 {
  flex-direction:column;
  padding:0 10px
 }
}
.ufRsS .T_cYX .NOglH {
 display:flex;
 flex:0 1 145px;
 font-weight:700;
 min-width:145px
}
@media(max-width:540px) {
 .ufRsS .T_cYX .NOglH {
  flex:0 1 auto;
  margin-bottom:20px
 }
}
.ufRsS .T_cYX .GZ8PO {
 display:flex;
 flex:1;
 padding:0 10px
}
@media(max-width:540px) {
 .ufRsS .T_cYX .GZ8PO {
  padding:0
 }
}
.ufRsS .T_cYX .pBCVj {
 flex-direction:column
}
.ufRsS .T_cYX .pBCVj .ONvYy {
 margin-bottom:15px
}
@media(max-width:540px) {
 .ufRsS .T_cYX .pBCVj .ONvYy:last-child {
  margin-bottom:20px
 }
}
.ufRsS .xIS86 {
 height:auto;
 margin-top:20px;
 opacity:1;
 overflow:visible;
 padding:10px 0;
 transition:opacity .15s ease-out,margin .1s ease-out,padding .1s ease-out
}
@media(max-width:540px) {
 .ufRsS .xIS86 {
  margin-top:10px;
  padding:20px 0 0
 }
}
.zHTUb .T_cYX,
.zHTUb .pL0jC {
 position:relative;
 z-index:99
}
.Y70__ {
 background:RGB(var(--white));
 border-radius:3px;
 color:RGB(var(--black));
 padding:20px 24px
}
@media(max-width:540px) {
 .rZ12w {
  flex-direction:column
 }
 .rZ12w>div:first-child {
  flex:0 1 auto;
  margin-bottom:20px
 }
 .rZ12w .HsbdS {
  margin:0
 }
}
.Ylfr8 {
 margin-top:50px
}
.HUgba {
 align-items:center;
 display:flex;
 font-size:14px
}
.PslH6 {
 margin-left:7px
}
.Rp8gp {
 border-radius:30px;
 color:rgba(var(--black),.4);
 display:inline-block;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 line-height:30px;
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) {
 background-color:rgba(var(--accent),.25);
 color:RGB(var(--accent));
 padding:2px 13px
}
.Rp8gp:hover:not(.xsZgg) svg use {
 --icon-color-primary:RGB(var(--accent))
}
.Qj_pr {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
.NWfwL {
 border-radius:24px
}
.SDuYR {
 padding-left:48px;
 padding-right:48px
}
.SDuYR:focus {
 outline:transparent
}
.xu8W2 {
 background:linear-gradient(167.96deg,#7c5cff,#ff61ce);
 border-radius:16px
}
.DmOP1 {
 width:200px
}
@media(max-width:540px) {
 .DmOP1 {
  width:125px
 }
}
.r9j7Q {
 margin:0 auto;
 padding:64px 24px 24px;
 text-align:center;
 width:80%
}
@media(max-width:540px) {
 .r9j7Q {
  padding-top:24px
 }
}
.o9Dc0 {
 color:#e8d738;
 font-family:var(--font-family);
 font-size:3rem;
 font-weight:400;
 line-height:1.25;
 line-height:48px;
 margin-bottom:24px;
 margin-top:48px
}
@media(max-width:540px) {
 .o9Dc0 {
  margin-bottom:24px;
  margin-top:24px
 }
}
.UX_E2 {
 color:#fff;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 margin:0 auto 48px;
 max-width:400px
}
.jbtjN {
 display:flex;
 justify-content:center;
 margin:12px auto 24px;
 min-height:45px
}
.jbtjN button {
 margin-right:8px;
 width:45%
}
@media(max-width:540px) {
 .jbtjN {
  flex-direction:column;
  margin:12px auto 24px
 }
 .jbtjN button {
  margin:0 auto 12px;
  width:70%
 }
}
.RmcFk {
 color:#fff;
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44;
 margin:0 auto;
 max-width:400px
}
.DtyJV {
 color:#fff;
 padding:10px
}
.YUhwz {
 background:#7c5cff;
 color:#fff;
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:700;
 line-height:1.44;
 margin-left:6px
}
.nC4hC {
 display:flex
}
.OEz91 {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.NErP7 {
 background-size:36px 24px;
 height:24px;
 width:36px
}
.YhC7x {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 margin-left:12px
}
.kELje {
 background-image:url(/pop/src/assets/images/credit-cards/americanexpress-5cebac26.png)
}
@media(-webkit-min-device-pixel-ratio:1.3),(min-resolution:1.3),(min-resolution:1.3dppx) {
 .kELje {
  background-image:url(/pop/src/assets/images/credit-cards/americanexpress@2x-4674760a.png)
 }
}
.cXWjm {
 background-image:url(/pop/src/assets/images/credit-cards/discover-cca2c8a3.png)
}
@media(-webkit-min-device-pixel-ratio:1.3),(min-resolution:1.3),(min-resolution:1.3dppx) {
 .cXWjm {
  background-image:url(/pop/src/assets/images/credit-cards/discover@2x-3f451c1e.png)
 }
}
.s5cFj {
 background-image:url(/pop/src/assets/images/credit-cards/mastercard-844af1f9.png)
}
@media(-webkit-min-device-pixel-ratio:1.3),(min-resolution:1.3),(min-resolution:1.3dppx) {
 .s5cFj {
  background-image:url(/pop/src/assets/images/credit-cards/mastercard@2x-cc227807.png)
 }
}
.ve6Vt {
 background-image:url(/pop/src/assets/images/credit-cards/visa-b29e7fce.png)
}
@media(-webkit-min-device-pixel-ratio:1.3),(min-resolution:1.3),(min-resolution:1.3dppx) {
 .ve6Vt {
  background-image:url(/pop/src/assets/images/credit-cards/visa@2x-971e046d.png)
 }
}
.zj68G {
 align-items:center;
 flex-wrap:wrap;
 justify-content:space-between;
 padding:8px 0
}
.zj68G,
.zj68G .Gy2oW {
 display:flex;
 flex-direction:row
}
.zj68G .Gy2oW {
 margin-top:-4px
}
.zj68G .Gy2oW .FcKVd {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 line-height:1.5;
 margin-bottom:16px;
 margin-left:24px
}
.ae6fW {
 align-items:baseline;
 flex-direction:column
}
.ae6fW button {
 border-radius:24px
}
.YIpzf {
 display:flex;
 width:100%
}
@media(max-width:540px) {
 .YIpzf {
  flex-direction:column
 }
}
.YIpzf:disabled {
 opacity:.5
}
.ou6Mu {
 align-items:center;
 display:flex;
 flex-grow:1;
 margin-right:10px
}
.ou6Mu:last-child {
 margin-right:0
}
@media(max-width:540px) {
 .ou6Mu {
  margin:5px 0
 }
}
.ou6Mu label {
 align-items:center;
 background-color:rgba(var(--black),.07);
 border:2px solid transparent;
 border-radius:3px;
 color:RGB(var(--black));
 display:flex;
 flex-grow:1;
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:bolder;
 line-height:1.3077;
 padding:4px 10px
}
.ou6Mu input:checked~label {
 background-color:rgba(var(--accent),.15)
}
.ou6Mu input:checked~label,
.ou6Mu input:checked~label .Hm8d6 {
 border-color:RGB(var(--accent))
}
.ou6Mu input:checked~label svg use {
 --icon-color-primary:RGB(var(--accent))
}
.ou6Mu input:focus~label {
 outline:1px dotted RGB(var(--accent))
}
.Hm8d6 {
 border:2px solid rgba(var(--black),.65);
 border-radius:50%;
 display:flex;
 flex-shrink:0;
 height:18px;
 margin-right:10px;
 width:18px
}
.Hm8d6 svg {
 height:24px;
 margin:-2px;
 width:24px
}
.HPbUp {
 border-top:1px solid rgba(0,0,0,.07);
 margin-left:2em;
 padding-top:20px
}
.sEK_i {
 margin-left:1px
}
.H3wvd {
 flex-direction:column;
 margin-bottom:24px
}
.H3wvd div {
 margin-right:0
}
.H3wvd label {
 background-color:transparent;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.H3wvd label p {
 margin-bottom:0
}
.yFmaH {
 align-items:flex-start;
 border-radius:3px;
 display:flex;
 margin-bottom:15px;
 padding:12px
}
.yFmaH .n8yJq {
 display:flex;
 margin-right:12px
}
.yFmaH .O2b5p {
 display:block
}
.yFmaH .u8HQ3 {
 display:flex;
 flex-direction:column;
 justify-content:center;
 min-height:24px
}
.yFmaH .u8HQ3 .agHCR {
 font-weight:700;
 margin-bottom:12px
}
.yFmaH .u8HQ3 .agHCR,
.yFmaH .u8HQ3 .sPAXn {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 line-height:1.5;
 margin-right:12px
}
.yFmaH .u8HQ3 .sPAXn {
 font-weight:400
}
.yFmaH .u8HQ3 .dhNbz {
 align-items:center;
 display:flex;
 margin-top:4px
}
.yFmaH .u8HQ3 .dhNbz .B8pBx {
 cursor:pointer
}
.yFmaH .u8HQ3 .dhNbz .B8pBx,
.yFmaH .u8HQ3 .dhNbz .UFrll {
 color:RGB(var(--accent));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5;
 margin-right:12px
}
.vffGc {
 border-radius:24px;
 margin-right:8px
}
.UH33k {
 color:RGB(var(--white));
 margin:0 auto;
 max-width:430px
}
.UH33k ul {
 margin-top:14px
}
.Wu9wb {
 text-align:left
}
.Vz97X {
 display:flex;
 flex-direction:column
}
.Vz97X button {
 border-radius:24px;
 width:100%
}
.hGvNs {
 color:rgba(var(--white-on-dark),.4);
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44;
 margin-top:24px;
 text-align:left
}
.hGvNs strong {
 color:RGB(var(--white-on-dark));
 font-weight:400
}
.Y8d2N {
 color:rgba(var(--black),.65);
 font-size:.875rem;
 line-height:1.5
}
.Y8d2N,
._VaWd {
 font-family:var(--font-family);
 font-weight:400
}
._VaWd {
 font-size:2rem;
 line-height:1.25
}
.HNMgz {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.F3C_N {
 width:100%
}
.ueLAP {
 flex-direction:column
}
.ueLAP>div {
 margin-bottom:16px;
 margin-right:0;
 width:100%
}
.ueLAP>div>label {
 flex-direction:row-reverse;
 justify-content:space-between
}
.lQ3b6 {
 display:flex;
 margin-top:18px
}
.LSnDP {
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.Ve3b5 {
 background:RGB(var(--white));
 border-radius:3px;
 margin-top:16px;
 padding:24px 24px 0
}
.Ve3b5 .C2x46 {
 border-bottom:1px solid rgba(var(--black),.07);
 flex-direction:column;
 margin-bottom:16px;
 padding-bottom:16px
}
.Ve3b5 .C2x46 .vnlw6 {
 display:flex
}
@media(max-width:540px) {
 .Ve3b5 .C2x46 .vnlw6 {
  flex-direction:column
 }
}
.Ve3b5 .AnmzE {
 flex-direction:column;
 min-width:30%
}
.Ve3b5 .r_hbX {
 color:RGB(var(--black));
 display:flex;
 flex-direction:column;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 min-width:65%
}
.Ve3b5 .r_hbX.MN_DR {
 line-height:unset;
 margin-bottom:-16px;
 padding-top:6px
}
.Ve3b5 .azmx7 {
 align-items:center;
 color:RGB(var(--black));
 display:flex;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5
}
@media(max-width:540px) {
 .Ve3b5 .azmx7 {
  margin-bottom:12px
 }
}
.B8sAl {
 align-items:center;
 display:flex
}
.B8sAl h3 {
 color:RGB(var(--black));
 font-size:1rem
}
.B8sAl h3,
.B8sAl p {
 font-family:var(--font-family);
 font-weight:400;
 line-height:1.5
}
.B8sAl p {
 color:rgba(var(--black),.65);
 font-size:.875rem
}
.B8sAl .GnFpN {
 border-radius:16px;
 height:55px;
 padding:4px 8px 0
}
.B8sAl .NXrvJ {
 font-size:45px;
 line-height:55px
}
.B8sAl .wEMQA {
 padding:10px 10px 0
}
.GnFpN {
 background-color:RGB(var(--accent))
}
.palette--canary .GnFpN,
.palette--cement .GnFpN,
.palette--darkMode .GnFpN,
.palette--gothRave .GnFpN,
.palette--lowContrastClassic .GnFpN,
.palette--pride .GnFpN,
.palette--pumpkin .GnFpN {
 background-color:RGB(var(--secondary-accent))
}
.palette--trueBlue .B8sAl[data-background="0"] .GnFpN {
 background-color:#7c5cff
}
.palette--trueBlue .B8sAl[data-background="1"] .GnFpN {
 background-color:#e8d738
}
.palette--trueBlue .B8sAl[data-background="2"] .GnFpN {
 background-color:#00cf35
}
.palette--trueBlue .B8sAl[data-background="3"] .GnFpN {
 background-color:#ff62ce
}
.SKWZr {
 border-radius:24px;
 width:-webkit-fit-content;
 width:-moz-fit-content;
 width:fit-content
}
.SKWZr span {
 padding:2px
}
.ME_Ts {
 color:RGB(var(--white-on-dark));
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:400;
 line-height:1.3077;
 margin-bottom:8px
}
@media(max-width:989px) {
 .ME_Ts {
  margin-left:14px
 }
}
.igA7s {
 display:flex;
 justify-content:center;
 margin-top:100px
}
.KpwLh {
 background:RGB(var(--white));
 border-radius:3px;
 padding:20px 24px
}
.KpwLh .y07kV {
 margin-top:2rem;
 padding:0 10px
}
.KpwLh .y07kV>*+* {
 margin-top:1.5rem
}
.SjDjC {
 list-style:none;
 padding:0
}
.SjDjC li {
 border-bottom:1px solid #f2f2f2;
 color:rgba(var(--black),.8);
 display:flex;
 flex:1;
 line-height:23px;
 padding:10px 0
}
.SjDjC li.gSuAz {
 text-decoration:line-through
}
.SjDjC li .dcoVy {
 flex:1
}
.SjDjC li .XhNuj {
 align-items:center;
 flex:0
}
.SjDjC li .XhNuj>*+* {
 margin-top:.2rem
}
.u2nmP {
 align-items:center;
 display:flex;
 justify-content:center
}
.FSQZ7 {
 margin-left:11px
}
.rTGl_ {
 align-items:center;
 align-items:stretch;
 display:flex;
 flex-direction:column;
 width:100%
}
.rTGl_ .RSD75 {
 color:RGB(var(--black));
 margin:0
}
.rTGl_ .RSD75 span {
 text-align:center;
 white-space:nowrap;
 width:100%
}
.WojaA {
 align-items:center;
 display:flex;
 justify-content:center
}
.WojaA .hXMYF {
 background:RGB(var(--white-on-dark));
 border-radius:100%;
 height:16px;
 margin-left:8px;
 width:16px
}
.WojaA .hXMYF.nNfe0 {
 background:RGB(var(--accent))
}
.WojaA .hXMYF svg {
 height:10px;
 padding:4px 3px;
 width:10px
}
.WojaA .hXMYF svg use {
 --icon-color-primary:RGB(var(--navy))
}
.palette--tml2007 .WojaA .hXMYF {
 background:rgba(var(--white))
}
.p4DiZ {
 align-items:center;
 background-color:RGB(var(--navy));
 border-bottom:1px solid rgba(var(--white-on-dark),.13);
 box-sizing:border-box;
 display:flex;
 margin-bottom:20px;
 width:100%
}
@media(max-width:540px) {
 .p4DiZ {
  height:auto;
  justify-content:space-between
 }
}
.uM3pd {
 color:RGB(var(--white-on-dark));
 display:flex;
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:700;
 justify-content:space-evenly;
 line-height:1.333;
 margin:auto auto -1px;
 overflow:hidden;
 width:100%
}
@media(min-width:990px) {
 .uM3pd {
  justify-content:flex-start;
  overflow-x:auto;
  white-space:nowrap
 }
}
@media(min-width:990px)and (min-width:640px) {
 .uM3pd {
  max-width:620px
 }
}
@media(min-width:990px)and (min-width:960px) {
 .uM3pd {
  max-width:940px
 }
}
@media(min-width:990px)and (min-width:1280px) {
 .uM3pd {
  max-width:1260px
 }
}
@media(max-width:540px) {
 .uM3pd {
  flex-wrap:wrap
 }
}
.uM3pd.ZHf8b {
 margin-bottom:10px
}
@media(min-width:990px) {
 .uM3pd.ZHf8b {
  margin-bottom:20px
 }
}
.wl0Ka {
 padding:14px 16px;
 text-align:center;
 text-decoration:none
}
@media(max-width:989px) {
 .wl0Ka {
  align-items:flex-start;
  display:flex;
  justify-content:center
 }
}
@media(max-width:540px) {
 .wl0Ka {
  align-items:center;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  width:50%
 }
}
.wl0Ka:focus-within .OPOal {
 outline:none
}
.wl0Ka:not(.sSq2h):focus,
.wl0Ka:not(.sSq2h):hover {
 background:rgba(var(--white-on-dark),.13)
}
.wl0Ka.sSq2h {
 box-shadow:inset 0 -2px 0 RGB(var(--accent));
 color:RGB(var(--accent))
}
.palette--tml2007 .p4DiZ {
 background-color:transparent;
 margin:0
}
@media(min-width:540px) {
 .palette--tml2007 .p4DiZ {
  margin-top:-51px
 }
}
@media(min-width:990px) {
 .palette--tml2007 .p4DiZ {
  margin-left:-100px
 }
}
@media(min-width:541px)and (max-width:990px) {
 .palette--tml2007 .uM3pd {
  justify-content:start
 }
}
@media(max-width:540px) {
 .palette--tml2007 .uM3pd .vBp1h {
  width:100%
 }
}
.palette--tml2007 .uM3pd .wl0Ka {
 background:rgb(var(--accent));
 border:0;
 box-shadow:none;
 color:rgba(var(--white))
}
@media(min-width:541px) {
 .palette--tml2007 .uM3pd .wl0Ka {
  margin-right:10px
 }
}
@media(max-width:540px) {
 .palette--tml2007 .uM3pd .wl0Ka {
  width:100%
 }
}
.palette--tml2007 .uM3pd .wl0Ka:not(.sSq2h):focus,
.palette--tml2007 .uM3pd .wl0Ka:not(.sSq2h):hover {
 background:rgba(var(--accent),.8)
}
.palette--tml2007 .uM3pd .sSq2h {
 background:rgba(var(--white));
 color:rgb(var(--accent))
}
.vBp1h {
 display:inline
}
@media(max-width:989px) {
 .vBp1h {
  display:flex;
  justify-content:center
 }
 .vBp1h>span,
 .vBp1h>span>span {
  display:flex;
  flex:1
 }
}
@media(max-width:540px) {
 .vBp1h {
  box-sizing:border-box;
  width:50%
 }
 .vBp1h button {
  width:100%
 }
}
.yNw3u {
 align-items:center;
 display:flex;
 flex-direction:column;
 justify-content:center;
 min-height:94px
}
.yNw3u span {
 color:rgba(var(--black),.65)
}
.yNw3u .M1c2r {
 font-size:1.125rem;
 font-weight:700;
 line-height:1.333
}
.yNw3u .BuQvB,
.yNw3u .M1c2r {
 font-family:var(--font-family)
}
.yNw3u .BuQvB {
 font-size:1rem;
 font-weight:400;
 line-height:1.5
}
.jDY_G {
 display:flex;
 flex-direction:column;
 margin:4px 0
}
.jDY_G .zcn7A {
 align-items:center;
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 padding:8px 0
}
.jDY_G .zcn7A .chWk3 {
 display:flex;
 flex-direction:column
}
.jDY_G .zcn7A .chWk3 ._sHe1 {
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.jDY_G .zcn7A .chWk3 .gDeKG {
 color:rgba(var(--black),.65);
 font-family:var(--font-family);
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44
}
.jDY_G .zcn7A .IGXCi {
 align-self:center;
 height:24px;
 width:24px
}
.IidE2 {
 align-items:top;
 background:rgba(var(--orange),.13);
 color:RGB(var(--black));
 display:flex;
 padding:12px
}
.IidE2 .GPfOD {
 margin-right:12px
}
.IidE2 .QPAYt {
 font-weight:400
}
.IidE2 .QPAYt,
.IidE2 .QPAYt h3 {
 font-family:var(--font-family);
 font-size:.875rem;
 line-height:1.5
}
.IidE2 .QPAYt h3 {
 font-weight:700;
 margin-bottom:12px
}
.k53SA {
 align-self:center;
 padding-top:50px
}
.GPkuc {
 width:100%
}
.GPkuc .qJDLB {
 color:RGB(var(--white-on-dark));
 font-family:var(--font-family);
 font-size:1.625rem;
 font-weight:400;
 line-height:1.3077;
 margin-bottom:8px
}
.GPkuc .lZRX9 {
 background:RGB(var(--white));
 border-radius:3px;
 margin-bottom:16px;
 padding:20px 24px
}
.GPkuc .lZRX9 .a63Vv {
 border-bottom:1px solid rgba(var(--black),.07);
 border-top:1px solid rgba(var(--black),.07);
 margin-bottom:2px
}
.jw0sU {
 font-size:.875rem;
 font-weight:700;
 line-height:1.5
}
.jw0sU,
.wqddf {
 color:RGB(var(--black));
 font-family:var(--font-family)
}
.wqddf {
 font-size:.78125rem;
 font-weight:400;
 line-height:1.44;
 margin-bottom:16px
}
.s9s8Q {
 position:relative;
 width:100%
}
.j41hu:after {
 -webkit-backdrop-filter:blur(3px);
 backdrop-filter:blur(3px);
 background:rgba(var(--white-on-dark),.4);
 background-clip:padding-box;
 border-radius:6px;
 content:"";
 height:100%;
 left:0;
 position:absolute;
 top:0;
 width:100%;
 z-index:10
}
