.WWBSO,
._y4kh {
 color:inherit;
 font:inherit
}
.WWBSO:focus,
._y4kh:focus {
 outline:none
}
._y4kh {
 display:block
}
.WWBSO:focus>._y4kh {
 opacity:1;
 outline:auto;
 outline-color:#00b8ff
}
.gxf2Y {
 stroke:RGB(var(--white-on-dark));
 align-items:center;
 background-color:transparent;
 box-sizing:border-box;
 display:flex;
 height:30px;
 justify-content:center;
 margin-bottom:8px;
 margin-top:auto;
 padding:4px 0 2px;
 width:auto
}
.gxf2Y svg {
 transform:rotate(-90deg)
}
.gxf2Y circle {
 stroke-width:4px;
 fill:none;
 stroke-dasharray:113.0973355292px
}
@-webkit-keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@keyframes b4eLl {
 0% {
  stroke-dashoffset:0
 }
 to {
  stroke-dashoffset:226.1946710585px
 }
}
@-webkit-keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
@keyframes d8uWm {
 0% {
  stroke:RGB(var(--green))
 }
 20% {
  stroke:RGB(var(--orange))
 }
 40% {
  stroke:RGB(var(--purple))
 }
 60% {
  stroke:RGB(var(--red))
 }
 80% {
  stroke:RGB(var(--white-on-dark))
 }
}
.bZWbL {
 -webkit-animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite;
 animation:b4eLl 1s ease-in-out infinite,d8uWm 5s step-end .5s infinite
}
.sRM0W {
 background-color:transparent;
 bottom:4px;
 left:4px;
 position:absolute;
 right:4px;
 top:4px
}
.sRM0W,
.v2cZ4 {
 border-radius:50%
}
.v2cZ4 {
 background-color:RGB(var(--white));
 height:30px
}
.icbzP,
.v2cZ4 {
 position:relative
}
.QkCVo,
.icbzP {
 width:100%
}
.QkCVo {
 padding:4px
}
.CJUVk {
 width:inherit
}
.pQkU5 {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.13);
 border-radius:3px;
 justify-content:space-between;
 overflow:hidden;
 padding:4px;
 position:relative
}
.pQkU5,
.pQkU5 .dmeYi {
 align-items:center;
 display:flex
}
.pQkU5 .dmeYi {
 flex-shrink:0;
 height:34px;
 justify-content:flex-end;
 margin-left:12px;
 margin-right:2px
}
.pQkU5 .dmeYi svg use {
 --icon-color-primary:RGB(var(--black))
}
.pQkU5 .nIUnP {
 background:transparent;
 border:none;
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 outline:none;
 padding:5px;
 width:100%
}
.pQkU5 .N4KIX {
 bottom:0;
 position:absolute;
 right:0;
 top:0;
 width:60px
}
.hXWAf {
 box-sizing:border-box;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 min-height:45px;
 padding:8px;
 text-decoration:none
}
.GXxZQ,
.hXWAf {
 align-items:center;
 display:flex;
 width:100%
}
.GXxZQ {
 justify-content:space-between
}
.Z6ZAw {
 background:RGB(var(--accent));
 border:1px solid rgb(var(--accent));
 border-radius:25px;
 color:RGB(var(--white));
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 height:40px;
 line-height:1.5;
 margin-bottom:2px;
 margin-top:2px;
 min-width:100px;
 padding:5px 20px
}
.Z6ZAw.yqeGG {
 background:RGB(var(--white));
 color:RGB(var(--accent))
}
.dmeYi {
 display:flex;
 margin-right:8px
}
.Wc04C {
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .Wc04C {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .Wc04C {
  white-space:nowrap
 }
}
.tBdaa {
 border-top:1px solid rgba(var(--white-on-dark),.87);
 display:flex;
 overflow:hidden
}
.tBdaa .bsPTt {
 box-sizing:border-box;
 flex:0 0 100%;
 overflow-y:auto;
 padding:14px;
 transition:transform .25s linear
}
.tBdaa .FziQq {
 align-items:center;
 display:flex;
 justify-content:space-between;
 min-height:70px
}
.tBdaa .FziQq span {
 flex:1
}
.tBdaa .FziQq a {
 align-items:center;
 background:RGB(var(--accent));
 border-radius:25px;
 box-sizing:border-box;
 color:RGB(var(--white));
 display:flex;
 flex-direction:row;
 height:38px;
 justify-content:center;
 margin:0 8px;
 min-width:110px;
 padding:4px 20px;
 text-decoration:none
}
.tBdaa .FziQq .b22Cn {
 word-break:break-word
}
.tBdaa .FziQq .PMb0r {
 align-items:center;
 background:RGB(var(--white));
 border:2px solid rgba(var(--black),.4);
 border-radius:25px;
 color:rgba(var(--black),.65);
 display:flex;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 height:40px;
 justify-content:center;
 line-height:1.5;
 min-width:110px;
 padding:4px 20px
}
.tBdaa .FziQq .PMb0r.CxA3m {
 background:RGB(var(--accent));
 border-color:RGB(var(--accent));
 color:RGB(var(--white))
}
.tBdaa .HKtso {
 margin-top:100px
}
.SzteP {
 background:RGB(var(--white));
 border:1px solid rgba(var(--black),.13);
 border-radius:3px;
 justify-content:space-between;
 margin:14px;
 overflow:hidden;
 padding:4px;
 position:relative
}
.SzteP,
.SzteP .CC8h2 {
 align-items:center;
 display:flex;
 flex-shrink:0;
 height:34px
}
.SzteP .CC8h2 {
 justify-content:flex-end;
 margin-left:12px;
 margin-right:2px
}
.SzteP .CC8h2 svg use {
 --icon-color-primary:RGB(var(--black))
}
.SzteP .nstz_ {
 cursor:pointer;
 height:12px;
 margin-right:5px
}
.SzteP .nstz_ svg use {
 --icon-color-primary:RGB(var(--black))
}
.SzteP .mlda0 {
 background:transparent;
 border:none;
 color:RGB(var(--black));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 outline:none;
 padding:5px;
 width:100%
}
.SzteP .uRBQk {
 bottom:0;
 position:absolute;
 right:0;
 top:0;
 width:60px
}
.WTEWl {
 border-radius:3px;
 display:block;
 height:45px;
 margin-right:16px;
 overflow:hidden;
 width:64px
}
.Etu_4 {
 color:RGB(var(--white-on-dark));
 display:flex;
 padding:16px;
 text-decoration:none
}
.Etu_4:hover {
 background-color:rgba(var(--white-on-dark),.07)
}
.FPxrw {
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:400;
 font-weight:700;
 line-height:1.5;
 word-break:break-all
}
.IVTyE {
 display:flex;
 flex-direction:column
}
.auLT4 {
 color:rgba(var(--white-on-dark),.65);
 font-size:.875rem;
 font-weight:400;
 -webkit-hyphens:none;
 hyphens:none;
 line-height:1.5;
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1) {
 .auLT4 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:1)) {
 .auLT4 {
  white-space:nowrap
 }
}
.Wlk_Y {
 background:rgba(var(--white-on-dark),.07);
 border-radius:3px;
 margin-bottom:16px
}
.tl08r {
 min-height:308px
}
.pFCyy {
 box-sizing:border-box;
 display:flex;
 justify-content:center;
 padding-top:144px
}
.Vp1Z_ {
 border-bottom:1px solid rgba(var(--white-on-dark),.13);
 color:RGB(var(--white-on-dark));
 display:flex;
 flex-direction:row;
 font-family:var(--font-family);
 font-size:1.125rem;
 font-weight:700;
 line-height:1.333;
 margin-bottom:8px;
 padding:15px
}
.Eysep {
 flex-grow:2
}
.mKLR_ {
 color:RGB(var(--accent));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5;
 margin-left:20px
}
.XhmHL :hover {
 text-decoration:underline
}
.HA9YE {
 align-items:center;
 display:flex;
 justify-content:space-between;
 min-height:70px
}
.HA9YE .FPxrw {
 word-wrap:break-word;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 margin-right:10px;
 overflow:hidden;
 text-overflow:ellipsis
}
@supports(display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:2) {
 .HA9YE .FPxrw {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  display:-webkit-box
 }
}
@supports not ((display:-webkit-box) and (-webkit-box-orient:vertical) and (-webkit-line-clamp:2)) {
 .HA9YE .FPxrw {
  white-space:nowrap
 }
}
.HA9YE .TLP4O {
 align-items:center;
 background:RGB(var(--white));
 border:2px solid rgba(var(--black),.4);
 border-radius:3px;
 color:rgba(var(--black),.65);
 display:flex;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 height:40px;
 justify-content:center;
 line-height:1.5;
 margin-top:4px;
 min-width:110px;
 padding:4px 20px
}
.HA9YE .TLP4O.Kn7pg {
 background:RGB(var(--accent));
 border-color:RGB(var(--accent));
 color:RGB(var(--white))
}
.lc7tb {
 background:rgba(var(--white-on-dark),.07);
 margin-bottom:10px;
 margin-top:10px;
 width:100%
}
@media(min-width:640px) {
 .lc7tb {
  max-width:620px
 }
}
@media(min-width:960px) {
 .lc7tb {
  max-width:940px
 }
}
@media(min-width:1280px) {
 .lc7tb {
  max-width:1260px
 }
}
.DYeVK {
 color:RGB(var(--white-on-dark));
 font-size:1.125rem;
 font-weight:700;
 line-height:1.333;
 padding:20px 20px 0
}
.DYeVK,
.Wf0R5 {
 font-family:var(--font-family)
}
.Wf0R5 {
 color:rgba(var(--white-on-dark),.65);
 display:flex;
 flex-direction:column;
 font-size:1rem;
 font-weight:400;
 justify-content:space-between;
 line-height:1.5;
 padding:5px 20px 20px
}
.Wf0R5 .EGqIm {
 display:flex;
 flex-direction:column-reverse;
 justify-content:center;
 margin-top:20px
}
.Wf0R5 .EGqIm button {
 margin:0;
 width:100%
}
.Wf0R5 .EGqIm .ZxFvh {
 margin-bottom:10px
}
.Wf0R5 .NRavr {
 padding-right:4px
}
@media(max-width:540px) {
 .Wf0R5 .NRavr {
  max-width:45%
 }
}
@media(max-width:989px) {
 .Wf0R5 .NRavr {
  max-width:60%
 }
}
.ZxFvh {
 align-self:flex-end;
 background:RGB(var(--accent));
 border:2px solid rgb(var(--accent));
 border-radius:3px;
 color:RGB(var(--navy));
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5;
 margin-top:4px;
 min-height:40px;
 padding:10px 20px
}
@media(max-width:989px) {
 .ZxFvh {
  align-self:center
 }
}
.HY9JY {
 border:2px solid rgba(var(--white-on-dark),.4);
 border-radius:3px;
 color:rgba(var(--white-on-dark),.65);
 font-family:var(--font-family);
 font-size:.875rem;
 font-weight:700;
 line-height:1.5;
 margin-top:4px;
 min-height:40px;
 padding:10px 20px
}
.EGqIm button {
 margin-left:8px
}
@media(max-width:989px) {
 .EGqIm {
  display:flex;
  flex-direction:column-reverse
 }
 .EGqIm button {
  margin-bottom:4px
 }
}
.FBnln button {
 border-top:1px solid hsla(0,0%,100%,.13);
 color:RGB(var(--accent));
 display:block;
 font-family:var(--font-family);
 font-size:1rem;
 font-weight:700;
 line-height:1.5;
 margin-top:8px;
 padding:16px;
 text-align:center;
 width:100%
}
.FBnln button :hover {
 text-decoration:underline
}
.cBUA9 {
 -webkit-animation:RkRiA .3s ease-out forwards;
 animation:RkRiA .3s ease-out forwards
}
@-webkit-keyframes RkRiA {
 0% {
  opacity:1;
  transform:translateX(0)
 }
 to {
  opacity:0;
  transform:translateX(-33%)
 }
}
@keyframes RkRiA {
 0% {
  opacity:1;
  transform:translateX(0)
 }
 to {
  opacity:0;
  transform:translateX(-33%)
 }
}
